<FluentDialogHeader ShowDismiss="false">
    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <FluentIcon Value="@(new Icons.Filled.Size24.Calendar())" Color="@Color.Accent" />
        <FluentLabel Typo="Typography.PaneHeader">
            @Dialog.Instance.Parameters.Title
        </FluentLabel>
    </FluentStack>
</FluentDialogHeader>

<div>
   @switch (Boundary)
   {
        case BoundaryFilterMode.Monthly:
        {
            <UpperBoundaryFilter />
            break;
        }
        case BoundaryFilterMode.Weekly:
        {
            <MiddleBoundaryFilter />
            break;
        }
        case BoundaryFilterMode.Daily:
        {
            <LowerBoundaryFilter />
            break;
        }
        default:
            break;
   }
</div>

<FluentDialogFooter>
    <FluentStack VerticalAlignment="VerticalAlignment.Center" HorizontalAlignment="HorizontalAlignment.End">
        <FluentButton Appearance="Appearance.Accent" OnClick="@SaveAsync">Terapkan</FluentButton>
        <FluentButton Appearance="Appearance.Neutral" OnClick="@CancelAsync">Batal</FluentButton>
    </FluentStack>
</FluentDialogFooter>