<FluentDialogHeader ShowDismiss="true">
    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <FluentIcon Value="@(new Icons.Regular.Size24.Filter())" />
        <FluentLabel Typo="Typography.PaneHeader">
            @Dialog.Instance.Parameters.Title
        </FluentLabel>
    </FluentStack>
</FluentDialogHeader>

<div style="margin-bottom: 16px;">
    <FluentCheckbox
        @bind-Value="@SessionService.FilterPreference.ShowEmptyAging">
        <label>
            <span>Tampilkan hasil </span><span class="fw-bold" style="font-family: 'inter-semibold';">KOSONG</span>
        </label>
    </FluentCheckbox>
</div>

<div class="d-flex flex-row align-items-end">
    <div style="margin-bottom: 16px; margin-right: 16px;">
        <FluentSearch style="width: 300px;"
            Label="Pencarian"
            @bind-Value=@UsernameFilter
            Immediate="true"
            Spellcheck="false"
            Placeholder="PAC Username"></FluentSearch>
    </div>
    <div style="margin-bottom: 16px;">
        <FluentButton style="width: 135px;"
            BackgroundColor="crimson"
            Color="white"
            OnClick="@OnToggleSelection">@ToggleSelectionLabel</FluentButton>
    </div>
</div>

<div class="exclusion-box">
    <div class="d-flex flex-column" style="">
        @foreach (string username in PacAvailable)
        {
            bool isChecked = Content.Inclusion.Contains(username);
            <div style="margin: 0 2px;">
                <FluentCheckbox Label="@username"
                    @bind-Value:get="@isChecked"
                    @bind-Value:set="value => OnExclusionChanged(username, value)"/>
            </div>
        }
    </div>
</div>

<FluentDialogFooter>
    <FluentStack VerticalAlignment="VerticalAlignment.Center" HorizontalAlignment="HorizontalAlignment.End">
        <FluentButton Appearance="Appearance.Accent"  OnClick="@SaveAsync" IconStart="@(new Icons.Regular.Size16.Filter())">Filter</FluentButton>
        <FluentButton Appearance="Appearance.Neutral" OnClick="@CancelAsync">Batal</FluentButton>
    </FluentStack>
</FluentDialogFooter>

@code
{
    RenderFragment EmptyAgingFragment = builder =>
    {
        builder.OpenElement(0, "span");
        builder.AddContent(1, "Tampilakan Aging");
        builder.OpenElement(2, "span");
        builder.AddAttribute(3, "class", "fw-bold text-danger");
        builder.AddContent(4, "KOSONG");
        builder.CloseElement();
        builder.CloseElement();
    };
}