<FluentDialogHeader ShowDismiss="true">
    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <FluentIcon Value="@(new Icons.Regular.Size24.Filter())" />
        <FluentLabel Typo="Typography.PaneHeader">
            @Dialog.Instance.Parameters.Title
        </FluentLabel>
    </FluentStack>
</FluentDialogHeader>

<div class="d-flex flex-row align-items-end">
    <div style="margin-bottom: 16px; margin-right: 16px;">
        <FluentSearch style="width: 300px;"
            Label="Pencarian"
            @bind-Value=@RootCauseFilter
            Immediate="true"
            Spellcheck="false"
            Placeholder="Root Cause"></FluentSearch>
    </div>
    <div style="margin-bottom: 16px;">
        <FluentButton style="width: 135px;"
            BackgroundColor="crimson"
            Color="white"
            OnClick="@OnToggleSelection">@ToggleSelectionLabel</FluentButton>
    </div>
</div>

<div class="exclusion-box">
    <div class="d-flex flex-column" style="">
        @foreach (string rootCause in RootCauses)
        {
            bool isChecked = Content.Inclusion.Contains(rootCause);
            <div style="margin: 0 2px;">
                <FluentCheckbox Label="@rootCause"
                    @bind-Value:get="@isChecked"
                    @bind-Value:set="value => OnExclusionChanged(rootCause, value)"/>
            </div>
        }
    </div>
</div>

<FluentDialogFooter>
    <FluentStack VerticalAlignment="VerticalAlignment.Center" HorizontalAlignment="HorizontalAlignment.End">
        <FluentButton Appearance="Appearance.Accent"  OnClick="@SaveAsync" IconStart="@(new Icons.Regular.Size16.Filter())">Filter</FluentButton>
        <FluentButton Appearance="Appearance.Neutral" OnClick="@CancelAsync">Batal</FluentButton>
    </FluentStack>
</FluentDialogFooter>