<div class="boundary-filter-section">

    <div class="d-flex flex-column" style="margin-bottom: 16px;">
        <div>
            Ubah rentang data <span class="fw-bold">Monthly</span>
        </div>
        <div>
            Rentang saat ini: <span class="date-only-badge fw-bold">@GetCurrentUpperBoundaryDateMin()</span> s.d <span class="date-only-badge fw-bold">@GetCurrentUpperBoundaryDateMax()</span>
        </div>
    </div>

    <FluentStack Orientation="Orientation.Horizontal"
        HorizontalAlignment="HorizontalAlignment.Start"
        VerticalAlignment="VerticalAlignment.Top">

        <div class="filter-date">
            <div class="date-picker">
                <FluentDatePicker style="width: 135px;"
                    Label="Tgl. Permohonan"
                    Value="@NullableUpperBoundaryDateTimeMin"
                    ValueChanged="OnUpperBoundaryDateMinChanged"/>
            </div>
            <div class="date-until">
                <span>s.d</span>
            </div>
            <div class="date-picker">
                <FluentDatePicker style="width: 135px;"
                    Label="@UpperBoundaryTimeRangeLabel"
                    Value="@NullableUpperBoundaryDateTimeMax"
                    ValueChanged="OnUpperBoundaryDateMaxChanged"/>
            </div>
        </div>

    </FluentStack>

</div>