<div class="filter-section">
    <FluentStack Orientation="Orientation.Horizontal"
    HorizontalAlignment="HorizontalAlignment.Start"
    VerticalAlignment="VerticalAlignment.Center">

        <div class="filter-office">
            <FluentSelect TOption="string"
                Label="Kantor Perwakilan"
                Items="@EnumerableOptions.KantorPerwakilan"
                Value="@Filter.FilterOffice"
                ValueChanged="FilterByOfficeAsync"/>
        </div>

        <FluentSpacer Width="50" />

        <div class="filter-date">
            <div class="date-picker">
                <FluentDatePicker Autofocus=true
                    style="width: 200px;"
                    Label="Tanggal Permohonan"
                    Value="@Filter.FilterDateTimeStart"/>
            </div>
            <div class="date-until">
                <span>s/d</span>
            </div>
            <div class="date-picker">
                <FluentDatePicker Autofocus=true
                    style="width: 200px;"
                    Label="@FilterDateTimeRangeLabel"
                    Value="@Filter.FilterDateTimeEnd"/>
            </div>
        </div>

        @* <div class="filter-search">
            <FluentSelect TOption="string"
                Label="Pencarian"
                Items="@EnumerableOptions.Filter"
                Width="165px"/>
            <FluentSearch style="width: 250px;"
                Value="@Filter.FilterSearch"
                ValueChanged="FilterBySearchAsync"/>
        </div> *@

    </FluentStack>
</div>