<div class="filter-section">

    <FluentStack Orientation="Orientation.Vertical">

       <FluentStack Orientation="Orientation.Horizontal"
            HorizontalAlignment="HorizontalAlignment.Start"
            VerticalAlignment="VerticalAlignment.Bottom">

            <div class="filter-office">
                <FluentSelect TOption="string"
                    Label="Kantor Perwakilan"
                    Items="@EnumerableOptions.KantorPerwakilan"
                    Width="300px"
                    Value="@Filter.FilterOffice"
                    ValueChanged="FilterByOfficeAsync"/>
            </div>
            <FluentSpacer />
            <div class="filter-search">
                <FluentSelect TOption="string"
                    Label="Pencarian"
                    Items="@EnumerableOptions.Filter"
                    Width="185px"/>
                <FluentSearch style="width: 265px;"
                    Value="@Filter.FilterSearch"
                    ValueChanged="FilterBySearchAsync"/>
            </div>
            <FluentSpacer />
            <div class="filter-reset">
                <FluentButton BackgroundColor="crimson"
                    Color="white"
                    OnClick="@ResetFilterAsync">
                    Reset Filter</FluentButton>
            </div>
        </FluentStack>

        <FluentStack Orientation="Orientation.Horizontal"
            HorizontalAlignment="HorizontalAlignment.Start"
            VerticalAlignment="VerticalAlignment.Bottom">

            <div class="filter-date">
                <div class="date-picker">
                    <FluentDatePicker style="width: 135px;"
                        Label="Tgl. Permohonan"
                        Value="@Filter.NullableFilterDateTimeMin"
                        ValueChanged="SetFilterDateTimeStartAsync"/>
                </div>
                <div class="date-until">
                    <span>s.d</span>
                </div>
                <div class="date-picker">
                    <FluentDatePicker style="width: 135px;"
                        Label="@FilterDateTimeRangeLabel"
                        Value="@Filter.NullableFilterDateTimeMax"
                        ValueChanged="SetFilterDateTimeEndAsync"/>
                </div>
            </div>

        </FluentStack>

    </FluentStack>
</div>