@using IConnet.Presale.Domain.Enums

<div class="filter-section">

    <FluentStack Orientation="Orientation.Vertical">

       <FluentStack Orientation="Orientation.Horizontal"
            HorizontalAlignment="HorizontalAlignment.Start"
            VerticalAlignment="VerticalAlignment.Bottom">

            <div class="filter-office">
                <FluentSelect TOption="string"
                    Label="Kantor Perwakilan"
                    Items="@OptionService.KantorPerwakilanOptions"
                    Width="300px"
                    Value="@FilterModel.FilterOffice"
                    ValueChanged="FilterByOfficeAsync"/>
            </div>
            <div class="filter-search" style="margin-left: 64px;">
                <FluentSelect TOption="string"
                    Label="Pencarian"
                    Items="@OptionService.SearchFilterOptions"
                    Width="185px"/>
                <FluentSearch style="width: 265px;"
                    Value="@FilterModel.FilterSearch"
                    ValueChanged="FilterBySearchAsync"/>
            </div>
            <FluentSpacer />
            <div class="filter-reset">
                <FluentButton BackgroundColor="crimson"
                    Color="white"
                    OnClick="@ResetFilterAsync">
                    Reset Filter</FluentButton>
            </div>
        </FluentStack>

        <FluentStack Orientation="Orientation.Horizontal"
            HorizontalAlignment="HorizontalAlignment.Start"
            VerticalAlignment="VerticalAlignment.Bottom">

            <div class="filter-date">
                <div class="date-picker">
                    <FluentDatePicker style="width: 135px;"
                        Label="Tgl. Permohonan"
                        Value="@FilterModel.NullableFilterDateTimeMin"
                        ValueChanged="SetFilterDateTimeStartAsync"/>
                </div>
                <div class="date-until">
                    <span>s.d</span>
                </div>
                <div class="date-picker">
                    <FluentDatePicker style="width: 135px;"
                        Label="@FilterDateTimeRangeLabel"
                        Value="@FilterModel.NullableFilterDateTimeMax"
                        ValueChanged="SetFilterDateTimeEndAsync"/>
                </div>
            </div>
            @if (IncludeApprovalStatus)
            {
                <div class="filter-approval-status" style="margin-left: 64px;">
                    <FluentSelect TOption="string"
                        Label="Approval Status"
                        Width="185px"
                        Value="@FilterModel.FilterStatusApproval"
                        ValueChanged="FilterByStatusApprovalAsync">
                            <FluentOption Value=@("")>SEMUA</FluentOption>
                            <FluentOption Value=@(ApprovalStatus.CloseLost.ToString())>CLOSED LOST</FluentOption>
                            <FluentOption Value=@(ApprovalStatus.Reject.ToString())>REJECTED</FluentOption>
                            <FluentOption Value=@(ApprovalStatus.Approve.ToString())>APPROVED</FluentOption>
                    </FluentSelect>
                </div>
            }

        </FluentStack>

    </FluentStack>
</div>