<div class="filter-section">
    <FluentStack Orientation="Orientation.Horizontal"
    HorizontalAlignment="HorizontalAlignment.Start"
    VerticalAlignment="VerticalAlignment.Bottom">

        <div class="filter-office">
            <FluentSelect TOption="string"
                Label="Kantor Perwakilan"
                Items="@EnumerableOptions.KantorPerwakilan"
                Value="@Filter.FilterOffice"
                ValueChanged="FilterByOfficeAsync"/>
        </div>

        <FluentSpacer Width="50" />

        <div class="filter-date">
            <div class="date-picker">
                <FluentDatePicker style="width: 165px;"
                    Label="Tanggal Permohonan"
                    Value="@Filter.NullableFilterDateTimeMin"
                    ValueChanged="SetFilterDateTimeStartAsync"/>
            </div>
            <div class="date-until">
                <span>s/d</span>
            </div>
            <div class="date-picker">
                <FluentDatePicker style="width: 140px;"
                    Label="@FilterDateTimeRangeLabel"
                    Value="@Filter.NullableFilterDateTimeMax"
                    ValueChanged="SetFilterDateTimeEndAsync"/>
            </div>
        </div>

        <div class="filter-reset">
            <FluentButton BackgroundColor="crimson"
                Color="white">
                Reset Filter</FluentButton>
        </div>
        @* <div class="filter-search">
            <FluentSelect TOption="string"
                Label="Pencarian"
                Items="@EnumerableOptions.Filter"
                Width="165px"/>
            <FluentSearch style="width: 250px;"
                Value="@Filter.FilterSearch"
                ValueChanged="FilterBySearchAsync"/>
        </div> *@

    </FluentStack>
</div>