<FluentStack Orientation="Orientation.Vertical"
    HorizontalAlignment="HorizontalAlignment.Center"
    VerticalAlignment="VerticalAlignment.Center">

    <FluentTextField Class="username-textfield"
        Value="@SignInModel.Username"
        ValueChanged="OnUsernameChanged"
        Placeholder="Username"></FluentTextField>

    <FluentTextField Class="password-textfield"
        Value="@SignInModel.Password"
        ValueChanged="OnPasswordChanged"
        Placeholder="Password"
        TextFieldType="@PasswordTextFieldType">
            <FluentIcon Value="@PasswordIcon"
                Slot="end"
                OnClick="OnToggleShowPassword"/>
        </FluentTextField>

    <FluentButton Class="sign-in-button"
        Type="ButtonType.Submit"
        Appearance="Appearance.Accent"
        IconStart="@(new Icons.Filled.Size20.ArrowEnter())"
        OnClick="@SubmitAsync">
        Sign-In</FluentButton>

    <FluentButton Class="sign-in-button-guest"
        Appearance="Appearance.Lightweight"
        IconStart="@(new Icons.Filled.Size20.Guest())"
        OnClick="@ToggleGuestMode">
        Sign as Guest</FluentButton>

@if (ErrorMessage.HasValue())
{
    <div class="error-warning-container">
        <FluentIcon Value="@(new Icons.Regular.Size20.ErrorCircle())" />
        <span class="px-1">@ErrorMessage</span>
    </div>
}
else
{
    <span>&nbsp</span>
}

</FluentStack>

<FluentOverlay @bind-Visible=@IsLoading
    Opacity="0.4"
    Alignment="@Align.Center"
    Justification="@JustifyContent.Center">
    <FluentProgressRing />
</FluentOverlay>
