@if (WorkPaper is not null && ApprovalModel is not null)
{
    <div style="min-height: 550px;">
        <div class="d-flex flex-column approval-header">
            <div id="approval-id">
                <FluentLabel Typo="Typography.Header">@WorkPaper.ApprovalOpportunity.IdPermohonan</FluentLabel>
            </div>
            <div>
                <span class="approval-info">Keterangan:</span>
                <span>@WorkPaper.ApprovalOpportunity.Pemohon.Keterangan</span>
            </div>
        </div>

        <FluentStack Orientation="Orientation.Horizontal"
            HorizontalAlignment="HorizontalAlignment.Start"
            VerticalAlignment="VerticalAlignment.Top"
            HorizontalGap="1">

            <FluentStack Orientation="Orientation.Vertical"
                HorizontalAlignment="HorizontalAlignment.Start"
                VerticalAlignment="VerticalAlignment.Top"
                HorizontalGap="4">

                <div class="approval-element">
                    <div class="approval-label">
                        <div class="approval-label-bg" style="display: flex;">
                            <FluentLabel Typo="Typography.Body" style="margin-top: 2px;">
                                NAMA PELANGGAN
                            </FluentLabel>
                            <FluentIcon Value="@LabelIconNamaPelanggan" />
                        </div>
                        <FluentSelect TOption="string" Disabled="true" Width="185px">
                            <FluentOption>@ApprovalModel.DisplayHasilValidasiNamaPelanggan</FluentOption>
                        </FluentSelect>
                    </div>
                    <div class="approval-value">
                        <div class="approval-value-bg-info">
                        @{
                            _cssStyle = $"margin: 0 8px; margin-top: 2px; {CssStyleStrikethroughNamaPelanggan}";
                            <FluentLabel Typo="Typography.Body" style="@_cssStyle">
                                @GetNamaPelanggan()
                            </FluentLabel>
                        }
                        </div>
                        <div class="approval-value-bg-neutral">
                            <FluentLabel Typo="Typography.Body" style="margin: 0 8px; margin-top: 2px;">
                                @GetPembetulanNamaPelanggan()
                            </FluentLabel>
                        </div>
                    </div>
                </div>

                <div class="approval-element">
                    <div class="approval-label">
                        <div class="approval-label-bg" style="display: flex;">
                            <FluentLabel Typo="Typography.Body" style="margin-top: 2px;">
                                NO. TELEPON
                            </FluentLabel>
                            <FluentIcon Value="@LabelIconNoTelepon" />
                        </div>
                        <FluentSelect TOption="string" Disabled="true" Width="185px">
                            <FluentOption>@ApprovalModel.DisplayHasilValidasiNamaPelanggan</FluentOption>
                        </FluentSelect>
                    </div>
                    <div class="approval-value">
                        <div class="approval-value-bg-info">
                        @{
                            _cssStyle = $"margin: 0 8px; margin-top: 2px; {CssStyleStrikethroughNomorTelepon}";
                            <FluentLabel Typo="Typography.Body" style="@_cssStyle">
                                @GetNomorTelepon()
                            </FluentLabel>
                        }
                        </div>
                        <div class="approval-value-bg-neutral">
                            <FluentLabel Typo="Typography.Body" style="margin: 0 8px; margin-top: 2px;">
                                @GetPembetulanNomorTelepon()
                            </FluentLabel>
                        </div>
                    </div>
                </div>

                <div class="approval-element">
                    <div class="approval-label">
                        <div class="approval-label-bg" style="display: flex;">
                            <FluentLabel Typo="Typography.Body" style="margin-top: 2px;">
                                EMAIL
                            </FluentLabel>
                            <FluentIcon Value="@LabelIconEmail" />
                        </div>
                        <FluentSelect TOption="string" Disabled="true" Width="185px">
                            <FluentOption>@ApprovalModel.DisplayHasilValidasiEmail</FluentOption>
                        </FluentSelect>
                    </div>
                    <div class="approval-value">
                        <div class="approval-value-bg-info">
                        @{
                            _cssStyle = $"margin: 0 8px; margin-top: 2px; {CssStyleStrikethroughEmail}";
                            <FluentLabel Typo="Typography.Body" style="@_cssStyle">
                                @GetEmail()
                            </FluentLabel>
                        }
                        </div>
                        <div class="approval-value-bg-neutral">
                            <FluentLabel Typo="Typography.Body" style="margin: 0 8px; margin-top: 2px;">
                                @GetPembetulanEmail()
                            </FluentLabel>
                        </div>
                    </div>
                </div>

                <div class="approval-element">
                    <div class="approval-label">
                        <div class="approval-label-bg" style="display: flex;">
                            <FluentLabel Typo="Typography.Body" style="margin-top: 2px;">
                                ID PLN
                            </FluentLabel>
                            <FluentIcon Value="@LabelIconIdPln" />
                        </div>
                        <FluentSelect TOption="string" Disabled="true" Width="185px">
                            <FluentOption>@ApprovalModel.DisplayHasilValidasiIdPln</FluentOption>
                        </FluentSelect>
                    </div>
                    <div class="approval-value">
                        <div class="approval-value-bg-info">
                        @{
                            _cssStyle = $"margin: 0 8px; margin-top: 2px; {CssStyleStrikethroughIdPln}";
                            <FluentLabel Typo="Typography.Body" style="@_cssStyle">
                                @GetIdPln()
                            </FluentLabel>
                        }
                        </div>
                        <div class="approval-value-bg-neutral">
                            <FluentLabel Typo="Typography.Body" style="margin: 0 8px; margin-top: 2px;">
                                @GetPembetulanIdPln()
                            </FluentLabel>
                        </div>
                    </div>
                </div>

                <div class="approval-element-arrange">
                    <div class="arrange-end">
                        <div class="approval-label">
                            <div class="approval-label-bg" style="display: flex;">
                                <FluentLabel Typo="Typography.Body" style="margin-top: 2px;">
                                    ALAMAT
                                </FluentLabel>
                                <FluentIcon Value="@LabelIconAlamat" />
                            </div>
                        </div>
                        <div class="approval-value">
                            <div class="approval-value-bg-info" style="height: fit-content;">
                            @{
                                _cssStyle = $"margin: 0 8px; margin-top: 2px; {CssStyleStrikethroughAlamat}";
                                <FluentLabel Typo="Typography.Body" style="@_cssStyle">
                                    @GetAlamat()
                                </FluentLabel>
                            }
                            </div>
                        </div>
                    </div>
                    <div class="arrange-start approval-bottom-margin">
                        <div class="approval-label">
                            <FluentSelect TOption="string" Disabled="true" Width="185px">
                                <FluentOption>@ApprovalModel.DisplayHasilValidasiAlamat</FluentOption>
                            </FluentSelect>
                        </div>
                        <div class="approval-value">
                            <div class="approval-value-bg-neutral">
                                <FluentLabel Typo="Typography.Body" style="margin: 0 8px; margin-top: 2px;">
                                    @GetPembetulanAlamat()
                                </FluentLabel>
                            </div>
                        </div>
                    </div>
                </div>

            </FluentStack>

            <FluentStack Orientation="Orientation.Vertical"
                HorizontalAlignment="HorizontalAlignment.Start"
                VerticalAlignment="VerticalAlignment.Top"
                HorizontalGap="4">

                @* <div class="approval-element">
                    <div class="approval-label">
                        <div class="approval-label-bg" style="display: flex;">
                            <FluentLabel Typo="Typography.Body" style="margin-top: 2px;">
                                SHARE LOC
                            </FluentLabel>
                        </div>
                    </div>
                    <div class="approval-value">
                        <div class="approval-value-bg">
                            <FluentLabel Typo="Typography.Body" style="margin: 0 8px; margin-top: 2px;">
                                @GetShareLoc()
                            </FluentLabel>
                        </div>
                    </div>
                </div>

                <div class="approval-element">
                    <div class="approval-label">
                        <div class="approval-label-bg" style="display: flex;">
                            <FluentLabel Typo="Typography.Body" style="margin-top: 2px;">
                                JARAK SHARE LOC
                            </FluentLabel>
                        </div>
                    </div>
                    <div class="approval-value">
                        <div class="approval-value-bg">
                        <FluentTextField  style="width: 300px"
                            Value=@ApprovalModel.JarakShareLoc
                            ValueChanged="OnJarakShareLocAsync"
                            Placeholder="Jarak Share Loc (meter)"></FluentTextField>
                        </div>
                    </div>
                </div>
                <div class="approval-element">
                    <div class="approval-label">
                        <div class="approval-label-bg" style="display: flex;">
                            <FluentLabel Typo="Typography.Body" style="margin-top: 2px;">
                                JARAK CRM
                            </FluentLabel>
                        </div>
                    </div>
                    <div class="approval-value">
                        <div class="approval-value-bg">
                        <FluentTextField  style="width: 300px"
                            Value=@ApprovalModel.JarakICrmPlus
                            ValueChanged="OnJarakICrmAsync"
                            Placeholder="Jarak iCRM+ (meter)"></FluentTextField>
                        </div>
                    </div>
                </div>
                <div class="approval-element">
                    <div class="approval-label">
                        <div class="approval-label-bg" style="display: flex;">
                            <FluentLabel Typo="Typography.Body" style="margin-top: 2px;">
                                VA TERBIT
                            </FluentLabel>
                        </div>
                    </div>
                    <div class="">
                        <div class="">
                            <FluentDatePicker style="width: 150px;"
                                Value="@ApprovalModel.NullableVaTerbit"
                                ValueChanged="OnVaTerbit"/>
                        </div>
                    </div>
                </div>
                <div class="approval-element">
                    <div class="approval-label">
                        <div class="approval-label-bg" style="display: flex;">
                            <FluentLabel Typo="Typography.Body" style="margin-top: 2px;">
                                STATUS APPROVAL
                            </FluentLabel>
                        </div>
                    </div>
                    <div class="">
                        <div class="">
                            <FluentSelect Items="@OptionSelect.StatusApproval.StatusApprovalOptions"
                                Value="@ApprovalModel.StatusApproval"
                                ValueChanged="OnStatusApprovalAsync"
                                OptionDisabled="@OptionDisableNamaOnProgress"
                                Position="SelectPosition.Below"
                                Width="150px" />
                        </div>
                    </div>
                </div>
                <div class="approval-element">
                    <div class="approval-label">
                        <div class="approval-label-bg" style="display: flex;">
                            <FluentLabel Typo="Typography.Body" style="margin-top: 2px;">
                                ROOT CAUSE
                            </FluentLabel>
                        </div>
                    </div>
                    <div class="">
                        <div class="">
                            <FluentSelect Items="@OptionService.RootCauseOptions"
                                Value="@ApprovalModel.RootCause"
                                ValueChanged="OnRootCauseAsync"
                                Disabled="@DisableRootCause"
                                Position="SelectPosition.Above"
                                Width="300px"/>
                        </div>
                    </div>
                </div> *@
            </FluentStack>

        </FluentStack>
    </div>
}

@code
{
    private string _cssStyle = string.Empty;
}