@using IConnet.Presale.WebApp.Components.Custom.Inputs

@if (WorkPaper is not null && ApprovalModel is not null)
{
    <div style="min-height: 550px;">
        <div class="d-flex flex-column approval-header">
            <div id="approval-id">
                <FluentLabel Typo="Typography.Header">@ApprovalModel.IdPermohonan</FluentLabel>
            </div>
            <div>
                <div class="d-flex flex-row" style="margin-bottom: 4px;">
                    <span class="validation-info">Keterangan Pelanggan:</span>
                    <span class="@_infoBadge">@ApprovalModel.DataPelanggan.Keterangan</span>
                </div>
            </div>
            <div class="approval-chat-history-link">
                <a href="@ApprovalModel.LinkChatHistory" target="_blank">
                    @ApprovalModel.LinkChatHistory
                </a>
            </div>
        </div>

        <FluentStack Orientation="Orientation.Horizontal"
            HorizontalAlignment="HorizontalAlignment.Start"
            VerticalAlignment="VerticalAlignment.Top"
            HorizontalGap="1">

            <FluentStack Orientation="Orientation.Vertical"
                HorizontalAlignment="HorizontalAlignment.Start"
                VerticalAlignment="VerticalAlignment.Top"
                HorizontalGap="4">

                <div class="approval-element-arrange">
                    <div class="arrange-end">
                        <div class="approval-label">
                            <div class="approval-label-bg" style="display: flex;">
                                <FluentLabel Typo="Typography.Body" style="margin-top: 2px;">
                                    NAMA PELANGGAN
                                </FluentLabel>
                                <FluentIcon Value="@LabelIconNamaPelanggan" />
                            </div>
                        </div>
                        <div class="approval-value">
                            <div class="@CssBackgroundColorNamaPelanggan" style="height: fit-content; cursor: pointer !important;"
                                @onclick="OnClipboardNamaPelangganAsync">
                            @{
                                string cssStyleNamaPelanggan = $"margin: 0 8px; margin-top: 2px; {CssStyleStrikethroughNamaPelanggan}";
                                <FluentLabel Typo="Typography.Body" style="@cssStyleNamaPelanggan">
                                    @ApprovalModel.DataPelanggan.NamaPelanggan
                                </FluentLabel>
                            }
                            </div>
                        </div>
                    </div>
                    <div class="arrange-start">
                        <div class="approval-label">
                            <div class="approval-validation-result-bg">
                                <FluentLabel Typo="Typography.Body" style="margin: 0 8px; margin-top: 2px;">
                                    @ApprovalModel.DisplayHasilValidasiNamaPelanggan
                                </FluentLabel>
                            </div>
                        </div>
                        <div class="approval-value">
                            <div class="@CssBackgroundColorNamaPelangganPembetulan"
                                @onclick="OnClipboardPembetulanNamaPelangganAsync">
                                <FluentLabel Typo="Typography.Body" style="margin: 0 8px; margin-top: 2px;">
                                    @ApprovalModel!.DataPembetulan.PembetulanNama
                                </FluentLabel>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="approval-element">
                    <div class="approval-label">
                        <div class="approval-label-bg" style="display: flex;">
                            <FluentLabel Typo="Typography.Body" style="margin-top: 2px;">
                                NO. TELEPON
                            </FluentLabel>
                            <FluentIcon Value="@LabelIconNoTelepon" />
                        </div>
                        <div class="approval-validation-result-bg">
                            <FluentLabel Typo="Typography.Body" style="margin: 0 8px; margin-top: 2px;">
                                @ApprovalModel.DisplayHasilValidasiNomorTelepon
                            </FluentLabel>
                        </div>
                    </div>
                    <div class="approval-value">
                        <div class="@CssBackgroundColorNomorTelepon" style="cursor: pointer !important;"
                            @onclick="OnClipboardNomorTeleponAsync">
                        @{
                            string cssStyleNomorTelepon = $"margin: 0 8px; margin-top: 2px; {CssStyleStrikethroughNomorTelepon}";
                            <FluentLabel Typo="Typography.Body" style="@cssStyleNomorTelepon">
                                @ApprovalModel!.DataPelanggan.NomorTelepon
                            </FluentLabel>
                        }
                        </div>
                        <div class="@CssBackgroundColorNomorTeleponPembetulan"
                            @onclick="OnClipboardPembetulanNomorTeleponAsync">
                            <FluentLabel Typo="Typography.Body" style="margin: 0 8px; margin-top: 2px;">
                                @ApprovalModel!.DataPembetulan.PembetulanNomorTelepon
                            </FluentLabel>
                        </div>
                    </div>
                </div>

                <div class="approval-element">
                    <div class="approval-label">
                        <div class="approval-label-bg" style="display: flex;">
                            <FluentLabel Typo="Typography.Body" style="margin-top: 2px;">
                                EMAIL
                            </FluentLabel>
                            <FluentIcon Value="@LabelIconEmail" />
                        </div>
                        <div class="approval-validation-result-bg">
                            <FluentLabel Typo="Typography.Body" style="margin: 0 8px; margin-top: 2px;">
                                @ApprovalModel.DisplayHasilValidasiEmail
                            </FluentLabel>
                        </div>
                    </div>
                    <div class="approval-value">
                        <div class="@CssBackgroundColorEmail" style="cursor: pointer !important;"
                            @onclick="OnClipboardEmailAsync">
                        @{
                            string cssStyleEmail = $"margin: 0 8px; margin-top: 2px; {CssStyleStrikethroughEmail}";
                            <FluentLabel Typo="Typography.Body" style="@cssStyleEmail">
                                @ApprovalModel!.DataPelanggan.Email
                            </FluentLabel>
                        }
                        </div>
                        <div class="@CssBackgroundColorEmailPembetulan"
                            @onclick="OnClipboardPembetulanEmailAsync">
                            <FluentLabel Typo="Typography.Body" style="margin: 0 8px; margin-top: 2px;">
                                @ApprovalModel!.DataPembetulan.PembetulanEmail
                            </FluentLabel>
                        </div>
                    </div>
                </div>

                <div class="approval-element">
                    <div class="approval-label">
                        <div class="approval-label-bg" style="display: flex;">
                            <FluentLabel Typo="Typography.Body" style="margin-top: 2px;">
                                ID PLN
                            </FluentLabel>
                            <FluentIcon Value="@LabelIconIdPln" />
                        </div>
                        <div class="approval-validation-result-bg">
                            <FluentLabel Typo="Typography.Body" style="margin: 0 8px; margin-top: 2px;">
                                @ApprovalModel.DisplayHasilValidasiIdPln
                            </FluentLabel>
                        </div>
                    </div>
                    <div class="approval-value">
                        <div class="@CssBackgroundColorIdPln" style="cursor: pointer !important;"
                            @onclick="OnClipboardIdPlnAsync">
                        @{
                            string cssStyleIdPln = $"margin: 0 8px; margin-top: 2px; {CssStyleStrikethroughIdPln}";
                            <FluentLabel Typo="Typography.Body" style="@cssStyleIdPln">
                                @ApprovalModel!.DataPelanggan.IdPln
                            </FluentLabel>
                        }
                        </div>
                        <div class="@CssBackgroundColorIdPlnPembetulan"
                            @onclick="OnClipboardPembetulanIdPlnAsync">
                            <FluentLabel Typo="Typography.Body" style="margin: 0 8px; margin-top: 2px;">
                                @ApprovalModel!.DataPembetulan.PembetulanIdPln
                            </FluentLabel>
                        </div>
                    </div>
                </div>

                <div class="approval-element-arrange">
                    <div class="arrange-end">
                        <div class="approval-label">
                            <div class="approval-label-bg" style="display: flex;">
                                <FluentLabel Typo="Typography.Body" style="margin-top: 2px;">
                                    ALAMAT
                                </FluentLabel>
                                <FluentIcon Value="@LabelIconAlamat" />
                            </div>
                        </div>
                        <div class="approval-value">
                            <div class="@CssBackgroundColorAlamat" style="height: fit-content; margin-top: 2px; cursor: pointer !important;"
                                @onclick="OnClipboardAlamatAsync">
                            @{
                                string cssStyleAlamat = $"margin: 0 8px; margin-top: 2px; {CssStyleStrikethroughAlamat}";
                                <FluentLabel Typo="Typography.Body" style="@cssStyleAlamat">
                                    @ApprovalModel!.DataPelanggan.Alamat
                                </FluentLabel>
                            }
                            </div>
                        </div>
                    </div>
                    <div class="arrange-start">
                        <div class="approval-label">
                            <div class="approval-validation-result-bg">
                                <FluentLabel Typo="Typography.Body" style="margin: 0 8px; margin-top: 2px;">
                                    @ApprovalModel.DisplayHasilValidasiAlamat
                                </FluentLabel>
                            </div>
                        </div>
                        <div class="approval-value">
                            <div class="@CssBackgroundColorAlamatPembetulan"
                                @onclick="OnClipboardPembetulanAlamatAsync">
                                <FluentLabel Typo="Typography.Body" style="margin: 0 8px; margin-top: 2px;">
                                    @ApprovalModel!.DataPembetulan.PembetulanAlamat
                                </FluentLabel>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="approval-element">
                    <div class="approval-label">
                        <div class="approval-label-bg" style="display: flex;">
                            <FluentLabel Typo="Typography.Body" style="margin-top: 2px;">
                                KETERANGAN
                            </FluentLabel>
                        </div>
                    </div>
                    <div class="approval-value">
                    @if (!ApprovalModel.KeteranganValidasi.IsNullOrWhiteSpace())
                    {
                        <div class="approval-value-bg-note">
                            <FluentLabel Typo="Typography.Body" style="margin: 0 8px; margin-top: 2px;">
                                @ApprovalModel.KeteranganValidasi
                            </FluentLabel>
                        </div>
                    }
                    </div>
                </div>

            </FluentStack>

            <FluentStack Orientation="Orientation.Vertical"
                HorizontalAlignment="HorizontalAlignment.Start"
                VerticalAlignment="VerticalAlignment.Top"
                HorizontalGap="4">

                <div class="approval-element">
                    <div class="approval-label" style="margin-top: -32px;">
                        <div class="approval-label-bg-neutral" style="display: flex; margin-left: 8px;">
                            <FluentLabel Typo="Typography.Body" style="margin-top: 2px;">
                                iCRM+ KOORDINAT
                            </FluentLabel>
                        </div>
                        <div class="approval-label-bg" style="display: flex; margin-top: 2px;">
                            <FluentLabel Typo="Typography.Body" style="margin-top: 2px;">
                                SHARE LOC
                            </FluentLabel>
                        </div>
                    </div>
                    <div class="approval-value">
                        <div class="approval-value-bg-neutral approval-value-clipboard d-flex flex-row align-items-center"
                            style="margin-top: -32px;">
                            <div style="width: 260px;" @onclick="OnClipboardCrmKoordinatAsync">
                                <FluentLabel Typo="Typography.Body" style="margin: 0 8px; margin-top: 2px;">
                                    @ApprovalModel!.DataCrmKoordinat.GetLatitudeLongitude()
                                </FluentLabel>
                            </div>
                            <div style="margin-left: auto; margin-right: 8px;">
                                <FluentIcon Value="@(new Icons.Filled.Size20.Open())"
                                    OnClick="OnOpenGoogleMapAsync"/>
                            </div>
                        </div>

                    @if(IsNotResponding())
                    {
                        <div class="approval-value-bg-not-responding">
                            <FluentLabel Typo="Typography.Body" style="margin: 0 8px; margin-top: 2px; cursor: default !important;">
                                @_notResponding.ToUpper()
                            </FluentLabel>
                        </div>
                    }
                    else
                    {
                        <div class="approval-value-bg approval-value-clipboard d-flex flex-row align-items-center"
                            style="margin-top: -2px;">
                            <div style="width: 260px;" @onclick="OnClipboardShareLocAsync">
                                <FluentLabel Typo="Typography.Body" style="margin: 0 8px; margin-top: 2px;">
                                    @ApprovalModel!.HasilValidasi.ShareLoc.GetLatitudeLongitude()
                                </FluentLabel>
                            </div>
                            <div style="margin-left: auto; margin-right: 8px;">
                                <FluentIcon Value="@(new Icons.Filled.Size20.Open())"
                                    OnClick="OnOpenGoogleMapAsync"/>
                            </div>
                        </div>
                    }
                    </div>
                </div>

                <div class="approval-element approval-element-push">
                    <div class="approval-label">
                        <div class="approval-label-bg" style="display: flex;">
                            <FluentLabel Typo="Typography.Body" style="margin-top: 2px;">
                                JARAK
                            </FluentLabel>
                        </div>
                        <FluentCheckbox class="approval-splitter-change"
                            Value="@IsChangeSplitter"
                            ValueChanged="OnIsChangeSplitterGanti"
                            Label="Ganti Splitter" />
                    </div>
                    <div class="approval-value">
                        <div class="approval-value-label">
                            <div class="approval-value-stack-distance">
                                <FluentNumberField style="width: 100px; margin-right: 10px"
                                    Min="0"
                                    Max="500"
                                    Value=@ApprovalModel.JarakShareLoc
                                    ValueChanged="EventCallback.Factory.Create<int>(this, OnJarakShareLocChanged)"
                                    Disabled="@DisableForm">
                                    <label style="white-space: nowrap; width: 150px;">Jarak Share Loc</label>
                                    @HtmlFragment.MeterUnitOfMeasurement</FluentNumberField>
                            </div>
                            <div class="approval-value-stack-distance">
                                <FluentNumberField  style="width: 100px"
                                    Min="0"
                                    Max="500"
                                    Value=@ApprovalModel.JarakICrmPlus
                                    ValueChanged="EventCallback.Factory.Create<int>(this, OnJarakICrmChanged)"
                                    Disabled="@DisableForm">
                                    <label style="white-space: nowrap; width: 150px;">Jarak iCRM+</label>
                                    @HtmlFragment.MeterUnitOfMeasurement</FluentNumberField>
                            </div>
                        </div>
                        <div class="approval-value-bg-accent approval-value-clipboard" style="margin-top: 2px;"
                            @onclick="OnClipboardSplitterAsync">
                            <FluentLabel Typo="Typography.Body" style="margin: 0 8px; margin-top: 2px;">
                                @ApprovalModel.Splitter
                            </FluentLabel>
                        </div>
                        <FluentTextField style="width: 300px; margin-top: 5px;"
                            Value="@ApprovalModel.SplitterGanti"
                            ValueChanged="OnSplitterGantiChanged"
                            Disabled="@(!IsChangeSplitter)"
                            Placeholder="Splitter"></FluentTextField>
                    </div>
                </div>

                <div class="approval-element" style="@_pushStyle">
                    <div class="approval-label">
                        <div class="approval-label-bg" style="display: flex;">
                            <FluentLabel Typo="Typography.Body" style="margin-top: 1px;">
                                APPROVAL
                            </FluentLabel>
                            <FluentIcon Value="@ApprovalIcon"/>
                        </div>
                    </div>
                    <div class="approval-value">
                        <div class="approval-value-status d-flex flex-row">
                            <div class="d-flex flex-column" style="margin-right: 10px;">
                                <FluentDatePicker style="width: 145px;"
                                    Value="@ApprovalModel.NullableVaTerbit"
                                    ValueChanged="OnVaTerbit"
                                    Disabled="@DisableForm"
                                    Label="Va Terbit"/>
                            </div>
                            <div class="d-flex flex-column">
                                <FluentSelect Items="@OptionSelect.StatusApproval.StatusApprovalOptions"
                                    Value="@ApprovalModel.StatusApproval"
                                    ValueChanged="OnStatusApprovalChanged"
                                    OptionDisabled="@OptionDisableInProgress"
                                    Position="SelectPosition.Below"
                                    Width="145px"
                                    Label="Status"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="approval-element approval-element-push" style="">
                    <div class="" style="width: 195px;">
                        <div class="" style="width: 100%; margin-top: -24px !important;">
                            <FluentCheckbox class="approval-submit"
                                @bind-Value="@IsCommitReady"
                                Disabled="@DisableInProgress"
                                Label="Selesai" />
                            <FluentButton class="approval-submit-button"
                                Width="185px"
                                Appearance="Appearance.Accent"
                                Disabled="@DisableCommit"
                                OnClick="OnCommitAsync">
                                Simpan</FluentButton>
                        </div>
                    </div>
                    <div class="approval-value">
                        <div class="approval-label-result" style="width: 300px;">
                            <RootCauseSelect IsDisabled="@DisableRootCause"
                                SelectedRootCause="@ApprovalModel.RootCause"
                                OnSelectedRootCauseChanged="OnRootCauseChanged"/>
                        </div>
                        <FluentTextArea class="approval-textarea" style="width: 300px; margin-top: 10px;"
                            Value="@ApprovalModel.Keterangan"
                            ValueChanged="OnKeteranganChanged"
                            Placeholder="Keterangan"></FluentTextArea>
                    </div>
                </div>
            </FluentStack>

        </FluentStack>
    </div>

    <FluentOverlay @bind-Visible=@IsLoading
        Opacity="0.4"
        Alignment="@Align.Center"
        Justification="@JustifyContent.Center">
        <FluentProgressRing />
    </FluentOverlay>
}

@code
{
    private string _infoBadge => ApprovalModel!.DataPelanggan.Keterangan.IsNullOrWhiteSpace()
        ? ""
        : "validation-info-badge";
    private string _notResponding => "Tidak Ada Respons";

    private string _pushStyle => IsNotResponding()
        ? "margin-top: 30px !important;"
        : "margin-top: 32px !important;";
}