@if (WorkPaper is not null && ApprovalModel is not null)
{
    <div style="min-height: 550px;">
        <div class="d-flex flex-column approval-header">
            <div id="approval-id">
                <FluentLabel Typo="Typography.Header">@WorkPaper.ApprovalOpportunity.IdPermohonan</FluentLabel>
            </div>
            <div>
                <span class="approval-info">Keterangan:</span>
                <span>@WorkPaper.ApprovalOpportunity.Pemohon.Keterangan</span>
            </div>
        </div>

        <FluentStack Orientation="Orientation.Horizontal"
            HorizontalAlignment="HorizontalAlignment.Start"
            VerticalAlignment="VerticalAlignment.Top"
            HorizontalGap="1">

            <FluentStack Orientation="Orientation.Vertical"
                HorizontalAlignment="HorizontalAlignment.Start"
                VerticalAlignment="VerticalAlignment.Top"
                HorizontalGap="4">
                <div class="approval-element">
                    <div class="approval-label">
                        <div class="approval-label-bg" style="display: flex;">
                            <FluentLabel Typo="Typography.Body" style="margin-top: 2px;">
                                NAMA LENGKAP
                            </FluentLabel>
                            <FluentIcon Value="@LabelIconNamaPelanggan" />
                        </div>
                    </div>
                    <div class="approval-value">
                        <div class="@CssBackgroundColorNamaPelanggan">
                            <FluentLabel Typo="Typography.Body" style="margin: 0 8px; margin-top: 2px;">
                                @GetNamaPelanggan()
                            </FluentLabel>
                        </div>
                    </div>
                </div>
                <div class="approval-element">
                    <div class="approval-label">
                        <div class="approval-label-bg" style="display: flex;">
                            <FluentLabel Typo="Typography.Body" style="margin-top: 2px;">
                                NO. TELEPON
                            </FluentLabel>
                            <FluentIcon Value="@LabelIconNoTelepon" />
                        </div>
                    </div>
                    <div class="approval-value">
                        <div class="@CssBackgroundColorNomorTelepon">
                            <FluentLabel Typo="Typography.Body" style="margin: 0 8px; margin-top: 2px;">
                                @GetNomorTelepon()
                            </FluentLabel>
                        </div>
                    </div>
                </div>
                <div class="approval-element">
                    <div class="approval-label">
                        <div class="approval-label-bg" style="display: flex;">
                            <FluentLabel Typo="Typography.Body" style="margin-top: 2px;">
                                EMAIL
                            </FluentLabel>
                            <FluentIcon Value="@LabelIconEmail" />
                        </div>
                    </div>
                    <div class="approval-value">
                        <div class="@CssBackgroundColorEmail">
                            <FluentLabel Typo="Typography.Body" style="margin: 0 8px; margin-top: 2px;">
                                @GetEmail()
                            </FluentLabel>
                        </div>
                    </div>
                </div>
                <div class="approval-element">
                    <div class="approval-label">
                        <div class="approval-label-bg" style="display: flex;">
                            <FluentLabel Typo="Typography.Body" style="margin-top: 2px;">
                                ID PLN
                            </FluentLabel>
                            <FluentIcon Value="@LabelIconIdPln" />
                        </div>
                    </div>
                    <div class="approval-value">
                        <div class="@CssBackgroundColorIdPln">
                            <FluentLabel Typo="Typography.Body" style="margin: 0 8px; margin-top: 2px;">
                                @GetIdPln()
                            </FluentLabel>
                        </div>
                    </div>
                </div>
                <div class="approval-element">
                    <div class="approval-label">
                        <div class="approval-label-bg" style="display: flex;">
                            <FluentLabel Typo="Typography.Body" style="margin-top: 2px;">
                                ALAMAT
                            </FluentLabel>
                            <FluentIcon Value="@LabelIconAlamat" />
                        </div>
                    </div>
                    <div class="approval-value">
                        <div class="@CssBackgroundColorAlamat" style="height: fit-content;">
                            <FluentLabel Typo="Typography.Body" style="margin: 0 8px; margin-top: 2px;">
                                @GetAlamat()
                            </FluentLabel>
                        </div>
                    </div>
                </div>
                <div class="approval-element">
                    <div class="approval-label">
                        <div class="approval-label-bg" style="display: flex;">
                            <FluentLabel Typo="Typography.Body" style="margin-top: 2px;">
                                KETERANGAN
                            </FluentLabel>
                        </div>
                    </div>
                    <div class="approval-value">
                        <div class="approval-value-bg" style="height: fit-content;">
                            <FluentLabel Typo="Typography.Body" style="margin: 0 8px; margin-top: 2px;">
                                @GetKeteranganValidasi()
                            </FluentLabel>
                        </div>
                    </div>
                </div>

            </FluentStack>

            <FluentStack Orientation="Orientation.Vertical"
                HorizontalAlignment="HorizontalAlignment.Start"
                VerticalAlignment="VerticalAlignment.Top"
                HorizontalGap="4">

                <div class="approval-element">
                    <div class="approval-label">
                        <div class="approval-label-bg" style="display: flex;">
                            <FluentLabel Typo="Typography.Body" style="margin-top: 2px;">
                                SHARE LOC
                            </FluentLabel>
                        </div>
                    </div>
                    <div class="approval-value">
                        <div class="approval-value-bg">
                            <FluentLabel Typo="Typography.Body" style="margin: 0 8px; margin-top: 2px;">
                                @GetShareLoc()
                            </FluentLabel>
                        </div>
                    </div>
                </div>

                <div class="approval-element">
                    <div class="approval-label">
                        <div class="approval-label-bg" style="display: flex;">
                            <FluentLabel Typo="Typography.Body" style="margin-top: 2px;">
                                JARAK SHARE LOC
                            </FluentLabel>
                        </div>
                    </div>
                    <div class="approval-value">
                        <div class="approval-value-bg">
                        <FluentTextField  style="width: 300px"
                            Value=@ApprovalModel.JarakShareLoc
                            ValueChanged="OnJarakShareLocAsync"
                            Placeholder="Jarak Share Loc (meter)"></FluentTextField>
                        </div>
                    </div>
                </div>
                <div class="approval-element">
                    <div class="approval-label">
                        <div class="approval-label-bg" style="display: flex;">
                            <FluentLabel Typo="Typography.Body" style="margin-top: 2px;">
                                JARAK CRM
                            </FluentLabel>
                        </div>
                    </div>
                    <div class="approval-value">
                        <div class="approval-value-bg">
                        <FluentTextField  style="width: 300px"
                            Value=@ApprovalModel.JarakICrmPlus
                            ValueChanged="OnJarakICrmAsync"
                            Placeholder="Jarak iCRM+ (meter)"></FluentTextField>
                        </div>
                    </div>
                </div>
                <div class="approval-element">
                    <div class="approval-label">
                        <div class="approval-label-bg" style="display: flex;">
                            <FluentLabel Typo="Typography.Body" style="margin-top: 2px;">
                                VA TERBIT
                            </FluentLabel>
                        </div>
                    </div>
                    <div class="">
                        <div class="">
                            <FluentDatePicker style="width: 150px;"
                                Value="@ApprovalModel.NullableVaTerbit"
                                ValueChanged="OnVaTerbit"/>
                        </div>
                    </div>
                </div>

            </FluentStack>

        </FluentStack>
    </div>
}
