@using IConnet.Presale.Domain.Common
@using IConnet.Presale.Domain.Enums

@if (WorkPaper is not null && ValidationModel is not null)
{
    <div class="d-flex flex-column">
        <FluentLabel Typo="Typography.Subject">@WorkPaper.ApprovalOpportunity.IdPermohonan</FluentLabel>
        <div>
            Keterangan: <span>@WorkPaper.ApprovalOpportunity.Pemohon.Keterangan</span>
        </div>
        <div class="d-flex flex-row align-items-center">
            @{
                var url = $"http://{WorkPaper.ApprovalOpportunity.Pemohon.WhatsApp}";
            }
            <span>Contact:</span>
            <FluentAnchor Href="@url" Target="_blank" Appearance="Appearance.Lightweight">
                @WorkPaper.ApprovalOpportunity.Pemohon.WhatsApp
            </FluentAnchor>
        </div>
    </div>

    <FluentStack Orientation="Orientation.Vertical"
        HorizontalAlignment="HorizontalAlignment.Start"
        VerticalAlignment="VerticalAlignment.Top"
        HorizontalGap="4">

        <div class="validation-element">
            <div class="validation-label">
                <FluentLabel Typo="Typography.Body">NAMA PELANGGAN</FluentLabel>
                <FluentSelect Items="@StatusValidasi"
                    @bind-Value="@ValidationModel.NamaPelanggan"
                    Position="SelectPosition.Below"
                    Width="150px" />
            </div>
            <div class="validation-value">
                <FluentLabel Typo="Typography.Body">@WorkPaper.ApprovalOpportunity.Pemohon.NamaLengkap</FluentLabel>
                <FluentTextField @bind-Value=@placeholderTextfield
                    style="width: 300px"
                    Disabled="@DisableNamaPelanggan"
                    Placeholder="Pembetulan Nama Lengkap"></FluentTextField>
            </div>
        </div>
        <div class="validation-element">
            <div class="validation-label">
                <FluentLabel Typo="Typography.Body">NO. TELEPON</FluentLabel>
                <FluentSelect Items="@StatusValidasi"
                    @bind-Value="@ValidationModel.NomorTelepon"
                    Position="SelectPosition.Below"
                    Width="150px" />
            </div>
            <div class="validation-value">
                <FluentLabel Typo="Typography.Body">@WorkPaper.ApprovalOpportunity.Pemohon.NomorTelepon</FluentLabel>
                <FluentTextField @bind-Value=@placeholderTextfield1
                    style="width: 300px"
                    Disabled="@DisableNoTelepon"
                    Placeholder="Pembetulan No. Telepon"></FluentTextField>
            </div>
        </div>
        <div class="validation-element">
            <div class="validation-label">
                <FluentLabel Typo="Typography.Body">EMAIL</FluentLabel>
                <FluentSelect Items="@StatusValidasi"
                    @bind-Value="@ValidationModel.Email"
                    Position="SelectPosition.Below"
                    Width="150px" />
            </div>
            <div class="validation-value">
                <FluentLabel Typo="Typography.Body">@WorkPaper.ApprovalOpportunity.Pemohon.Email</FluentLabel>
                <FluentTextField @bind-Value=@placeholderTextfield2
                    style="width: 300px"
                    Disabled="@DisableEmail"
                    Placeholder="Pembetulan Email"></FluentTextField>
            </div>
        </div>
        <div class="validation-element">
            <div class="validation-label">
                <FluentLabel Typo="Typography.Body">ID PLN</FluentLabel>
                <FluentSelect Items="@StatusValidasi"
                    @bind-Value="@ValidationModel.IdPln"
                    Position="SelectPosition.Below"
                    Width="150px" />
            </div>
            <div class="validation-value">
                <FluentLabel Typo="Typography.Body">@WorkPaper.ApprovalOpportunity.Pemohon.IdPln</FluentLabel>
                <FluentTextField @bind-Value=@placeholderTextfield3
                    style="width: 300px"
                    Disabled="@DisableIdPln"
                    Placeholder="Pembetulan Id PLN"></FluentTextField>
            </div>
        </div>
        <div class="validation-element-arrange">
            <div class="arrange-end">
                <div class="validation-label">
                    <FluentLabel Typo="Typography.Body">ALAMAT PELANGGAN</FluentLabel>
                </div>
                <div class="validation-value">
                    <FluentLabel Typo="Typography.Body">@WorkPaper.ApprovalOpportunity.Pemohon.Alamat</FluentLabel>
                </div>
            </div>
            <div class="arrange-start">
                <div class="validation-label">
                    <FluentSelect Items="@StatusValidasi"
                        @bind-Value="@ValidationModel.AlamatPelanggan"
                        Position="SelectPosition.Below"
                        Width="150px" />
                </div>
                <div class="validation-value">
                    <FluentTextArea  @bind-Value=@placeholderTextfield4
                        style="width: 300px"
                        Disabled="@DisableAlamatPelanggan"
                        Placeholder="Pembetulan Alamat Pelanggan"></FluentTextArea>
                </div>
            </div>
        </div>
    </FluentStack>
}
