@using IConnet.Presale.Domain.Common
@using IConnet.Presale.Domain.Enums

@if (WorkPaper is not null)
{
    <div class="d-flex flex-column">
        <FluentLabel Typo="Typography.Subject">@WorkPaper.ApprovalOpportunity.IdPermohonan</FluentLabel>
        <div>
            Keterangan: <span>@WorkPaper.ApprovalOpportunity.Pemohon.Keterangan</span>
        </div>
        <div class="d-flex flex-row align-items-center">
            @{
                var url = $"http://{WorkPaper.ApprovalOpportunity.Pemohon.WhatsApp}";
            }
            <span>Contact:</span>
            <FluentAnchor Href="@url" Target="_blank" Appearance="Appearance.Lightweight">
                @WorkPaper.ApprovalOpportunity.Pemohon.WhatsApp
            </FluentAnchor>
        </div>
    </div>

    <FluentStack Orientation="Orientation.Horizontal"
        HorizontalAlignment="HorizontalAlignment.Start"
        VerticalAlignment="VerticalAlignment.Top"
        HorizontalGap="4">

        <div class="validation-element">
            <div class="validation-label">
                <FluentLabel Typo="Typography.Body"> LABEL </FluentLabel>
                <FluentSelect Items="@StatusValidasi"
                    @bind-Value="@placeholder"
                    Position="SelectPosition.Below"
                    Width="150px" />
            </div>
            <div class="validation-value">
                <FluentLabel Typo="Typography.Body">@WorkPaper.ApprovalOpportunity.Pemohon.NamaLengkap</FluentLabel>
                <FluentTextField @bind-Value=@placeholderTextfield
                    Disabled="false"
                    Placeholder="Proper value"></FluentTextField>
            </div>
        </div>

    </FluentStack>
}
