@using IConnet.Presale.Domain.Common
@using IConnet.Presale.Domain.Enums

@if (WorkPaper is not null && ValidationModel is not null)
{
    <div class="d-flex flex-column validation-header">
        <div class="validation-id">
            <FluentLabel Typo="Typography.Header">@WorkPaper.ApprovalOpportunity.IdPermohonan</FluentLabel>
        </div>
        <div>
            <span class="validation-info">Keterangan:</span>
            <span>@WorkPaper.ApprovalOpportunity.Pemohon.Keterangan</span>
        </div>
        <div class="d-flex flex-row align-items-center">
            @{
                var url = $"http://{WorkPaper.ApprovalOpportunity.Pemohon.WhatsApp}";
            }
            <WhatsAppContact WhatsApp="@WorkPaper.ApprovalOpportunity.Pemohon.WhatsApp"/>
            <FluentButton Appearance="Appearance.Outline"
                style="margin-left: 10px"
                OnClick="OpenDialogAsync">
                Chat Template</FluentButton>
        </div>
    </div>

    <FluentStack Orientation="Orientation.Horizontal"
        HorizontalAlignment="HorizontalAlignment.Start"
        VerticalAlignment="VerticalAlignment.Top"
        HorizontalGap="1">

        <FluentStack Orientation="Orientation.Vertical"
            HorizontalAlignment="HorizontalAlignment.Start"
            VerticalAlignment="VerticalAlignment.Top"
            HorizontalGap="4">

            <div class="validation-element">
                <div class="validation-label">
                    <div style="display: flex;">
                        <FluentLabel Typo="Typography.Body">NAMA LENGKAP</FluentLabel>
                        <FluentIcon Value="@LabelIconNamaPelanggan" />
                    </div>
                    <FluentSelect Items="@StatusValidasi"
                        @bind-Value="@ValidationModel.ValidasiNama"
                        OptionDisabled="@OptionDisableNamaPelanggan"
                        Position="SelectPosition.Below"
                        Width="165px" />
                </div>
                <div class="validation-value">
                    <div>
                        <FluentLabel Typo="Typography.Body">@WorkPaper.ApprovalOpportunity.Pemohon.NamaLengkap</FluentLabel>
                    </div>
                    <FluentTextField @bind-Value=@ValidationModel.PembetulanNama
                        style="width: 300px"
                        Disabled="@DisableTextFieldNamaPelanggan"
                        Placeholder="Pembetulan Nama Pelanggan"></FluentTextField>
                </div>
            </div>
            <div class="validation-element">
                <div class="validation-label">
                    <div style="display: flex;">
                        <FluentLabel Typo="Typography.Body">NO. TELEPON</FluentLabel>
                        <FluentIcon Value="@LabelIconNoTelepon" />
                    </div>
                    <FluentSelect Items="@StatusValidasi"
                        @bind-Value="@ValidationModel.ValidasiNomorTelepon"
                        OptionDisabled="@OptionDisableNoTelepon"
                        Position="SelectPosition.Below"
                        Width="165px" />
                </div>
                <div class="validation-value">
                    <FluentLabel Typo="Typography.Body">@WorkPaper.ApprovalOpportunity.Pemohon.NomorTelepon</FluentLabel>
                    <FluentTextField @bind-Value=@ValidationModel.PembetulanNomorTelepon
                        style="width: 300px"
                        Disabled="@DisableTextFieldNoTelepon"
                        Placeholder="Pembetulan No. Telepon Aktif"></FluentTextField>
                </div>
            </div>
            <div class="validation-element">
                <div class="validation-label">
                    <div style="display: flex;">
                        <FluentLabel Typo="Typography.Body">EMAIL</FluentLabel>
                        <FluentIcon Value="@LabelIconEmail" />
                    </div>
                    <FluentSelect Items="@StatusValidasi"
                        @bind-Value="@ValidationModel.ValidasiEmail"
                        OptionDisabled="@OptionDisableEmail"
                        Position="SelectPosition.Below"
                        Width="165px" />
                </div>
                <div class="validation-value">
                    <FluentLabel Typo="Typography.Body">@WorkPaper.ApprovalOpportunity.Pemohon.Email</FluentLabel>
                    <FluentTextField @bind-Value=@ValidationModel.PembetulanEmail
                        style="width: 300px"
                        Disabled="@DisableTextFieldEmail"
                        Placeholder="Pembetulan Email Aktif"></FluentTextField>
                </div>
            </div>
            <div class="validation-element">
                <div class="validation-label">
                    <div style="display: flex;">
                        <FluentLabel Typo="Typography.Body">ID PLN</FluentLabel>
                        <FluentIcon Value="@LabelIconIdPln" />
                    </div>
                    <FluentSelect Items="@StatusValidasi"
                        @bind-Value="@ValidationModel.ValidasiIdPln"
                        OptionDisabled="@OptionDisableIdPln"
                        Position="SelectPosition.Below"
                        Width="165px" />
                </div>
                <div class="validation-value">
                    <FluentLabel Typo="Typography.Body">@WorkPaper.ApprovalOpportunity.Pemohon.IdPln</FluentLabel>
                    <FluentTextField @bind-Value=@ValidationModel.PembetulanIdPln
                        style="width: 300px"
                        Disabled="@DisableTextFieldIdPln"
                        Placeholder="Pembetulan Id PLN"></FluentTextField>
                </div>
            </div>
            <div class="validation-element-arrange">
                <div class="arrange-end">
                    <div class="validation-label">
                        <div style="display: flex;">
                            <FluentLabel Typo="Typography.Body">ALAMAT</FluentLabel>
                            <FluentIcon Value="@LabelIconAlamat" />
                        </div>
                    </div>
                    <div class="validation-value">
                        <FluentLabel Typo="Typography.Body">@WorkPaper.ApprovalOpportunity.Pemohon.Alamat</FluentLabel>
                    </div>
                </div>
                <div class="arrange-start">
                    <div class="validation-label">
                        <FluentSelect Items="@StatusValidasi"
                            @bind-Value="@ValidationModel.ValidasiAlamat"
                            OptionDisabled="@OptionDisableAlamat"
                            Position="SelectPosition.Below"
                            Width="165px" />
                    </div>
                    <div class="validation-value">
                        <FluentTextArea  @bind-Value=@ValidationModel.PembetulanAlamat
                            style="width: 300px"
                            Disabled="@DisableTextAreaAlamatPelanggan"
                            Placeholder="Pembetulan Alamat Pelanggan"></FluentTextArea>
                    </div>
                </div>
            </div>
        </FluentStack>

        <FluentStack Orientation="Orientation.Vertical"
            HorizontalAlignment="HorizontalAlignment.Start"
            VerticalAlignment="VerticalAlignment.Top"
            HorizontalGap="4">

            <div class="validation-element">
                <div class="validation-label">
                    <div style="display: flex;">
                        <FluentLabel Typo="Typography.Body">iCRM+ KOORDINAT</FluentLabel>
                        <FluentIcon Value="@LabelIconShareLoc" />
                    </div>
                    <div style="display: flex;">
                        <FluentLabel Typo="Typography.Body">SHARE LOC</FluentLabel>
                    </div>
                </div>
                <div class="validation-value">
                    <div>
                        <FluentLabel Typo="Typography.Body" style="margin-left: 6px;">
                            @WorkPaper.ApprovalOpportunity.Regional.Koordinat.LatitudeLongitude
                        </FluentLabel>
                    </div>
                    <FluentTextField style="width: 300px"
                        Placeholder="Konfirmasi Share Loc"
                        Value="@ValidationModel.ShareLoc"
                        ValueChanged="OnShareLoc"></FluentTextField>
                </div>
            </div>
            <div class="validation-element">
                <div class="validation-label">
                    <div style="display: flex;">
                        <FluentLabel Typo="Typography.Body">TANGGAL RESPONS</FluentLabel>
                    </div>
                </div>
                <div class="validation-value">
                    <div style="display: flex;">
                        <FluentTimePicker style="width: 100px;"
                            Value="@ValidationModel.NullableWaktuRespons"/>
                        <FluentDatePicker style="width: 200px; padding-left: 8px;"
                            Value="@ValidationModel.NullableTanggalRespons"/>
                    </div>
                </div>
            </div>
        </FluentStack>

    </FluentStack>

}
