@using IConnet.Presale.WebApp.Models.Identity

<div style="width: 600px;">
    @if (UserAccounts is not null)
    {
        <FluentDataGrid Items="@UserAccounts"
            TGridItem="UserAccountModel"
            Virtualize="true"
            ItemSize="40"
            GridTemplateColumns="@GridTemplateCols">

            <TemplateColumn Title="Username" Style="@GetWidthStyle(250)"
                SortBy="@SortByUsername">
                <div class="d-flex flex-row align-items-center">
                    <div>
                        <FluentButton BackgroundColor="crimson"
                            Color="white"
                            IconStart="@(new Icons.Regular.Size20.Edit().WithColor("#ffffff"))">
                            </FluentButton>
                    </div>
                    <div class="" style="margin-left: 16px;">
                        @context.Username
                    </div>
                </div>
            </TemplateColumn>
            <TemplateColumn Title="Role" Style="@GetWidthStyle(150)"
                SortBy="@SortByUserRole">
                <div class="">
                    @context.UserRole
                </div>
            </TemplateColumn>
            <TemplateColumn Title="MANAGE" Style="@GetWidthStyle(300)">
                <div class="" style="text-align: center;">
                    <FluentButton BackgroundColor="crimson"
                        Color="white"
                        style="width: 150px;"
                        OnClick="@(() => OpenChangePasswordDialogAsync(@context))">
                        Change Password</FluentButton>
                </div>
            </TemplateColumn>
        </FluentDataGrid>
    }

    <FluentOverlay @bind-Visible=@IsLoading
        Opacity="0.4"
        Alignment="@Align.Center"
        Justification="@JustifyContent.Center">
        <FluentProgressRing />
    </FluentOverlay>
</div>