@if (Models is not null)
{
    <div class="@_wrapperCss" style="width: 100%;">
        <table class="aging-tabulation" style="width: 100%;">
            <thead>
                <tr>
                    <th class="tabulation-header" style="">
                        PAC
                    </th>
                    <th class="tabulation-header" style="">
                        AVG
                    </th>
                    <th class="tabulation-header" style="">
                        SLA
                    </th>
                    <th class="tabulation-header" style="">
                        Import Total
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var model in Models)
                {
                    <tr>
                        <td class="tabulation-header-row">@model.Username</td>
                        <td class="tabulation-content">@model.GetDisplayAverageAging()</td>
                        <td class="tabulation-content">
                            @{
                                bool isWinning = IsWinningSlaImport(model, out string verdict);

                                <div style="@GetSlaBadgeStyle(isWinning)">@verdict</div>
                            }
                        </td>
                        <td class="tabulation-content">@model.GetDisplayImportTotal()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code
{
    private string _wrapperCss => IsPageView
        ? "tabulation-wrapper-page-view"
        : "tabulation-wrapper";

    private string GetSlaBadgeStyle(bool isWinning)
    {
        return isWinning
            ? "background-color: cadetblue;"
            : "background-color: crimson; color: white;";
    }
}