@if (Models is not null)
{
    <div class="tabulation-wrapper">
        <table class="root-cause-tabulation" style="width: fit-content;">
            <thead>
                <tr>
                    <th rowspan="2" class="tabulation-header" style="">
                        ROOT CAUSE
                    </th>
                    <th colspan="@Models.SelectMany(m => m.RootCausePerOffice.Keys).Distinct().Count()"
                        class="tabulation-header"
                        style="">
                        Kantor Perwakilan
                    </th>
                    <th rowspan="2" class="tabulation-header" style="">
                        Grand Total
                    </th>
                </tr>
                <tr>
                    @foreach (var office in Models.SelectMany(m => m.RootCausePerOffice.Keys).Distinct())
                    {
                        <th class="tabulation-header-secondary" style="padding: 2px 8px; text-align: center;">
                            @office
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var model in Models)
                {
                    <tr>
                        <td class="tabulation-header-row">@model.RootCause</td>
                        @foreach (var office in Models.SelectMany(m => m.RootCausePerOffice.Keys).Distinct())
                        {
                            <td class="tabulation-content">
                            @if (model.RootCausePerOffice.ContainsKey(office))
                            {
                                @model.RootCausePerOffice[office]
                            }
                            else
                            {
                                <span>-</span>
                            }
                            </td>
                        }
                        <td class="tabulation-content">
                            @model.GrandTotal
                        </td>
                    </tr>
                }
                <tr>
                    <td class="tabulation-header-row">Grand Total</td>
                    @foreach (var office in Models.SelectMany(m => m.RootCausePerOffice.Keys).Distinct())
                    {
                        <td class="tabulation-content">
                            @Models.Sum(m => m.RootCausePerOffice.GetValueOrDefault(office, 0))
                        </td>
                    }
                    <td class="tabulation-content" style="">
                        @Models.Sum(m => m.GrandTotal)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}
