@if (Models is not null)
{
    <div class="@_wrapperCss" style="border-bottom: none !important;">
        <table class="root-cause-tabulation" style="width: 100%;">
            <thead>
                <tr>
                    <th class="tabulation-header header-bold" style="">
                        Root cause
                    </th>
                    @foreach (var office in Models.SelectMany(m => m.RootCausePerOffice.Keys).Distinct())
                    {
                        <th class="tabulation-header header-bold" style="padding: 2px 8px; text-align: center; ">
                            @office
                        </th>
                    }
                    <th class="tabulation-header header-bold" style="">
                        Grand Total
                    </th>
                </tr>
            </thead>
            <tbody class="tabulation-body">
                @foreach (var model in Models)
                {
                    <tr>
                        <td class="tabulation-header-row" style="width: 325px;">
                            @model.RootCause
                        </td>
                        @foreach (var office in Models.SelectMany(m => m.RootCausePerOffice.Keys).Distinct())
                        {
                            <td class="tabulation-content" style="width: 100px;">
                            @if (model.RootCausePerOffice.ContainsKey(office))
                            {
                                @model.RootCausePerOffice[office]
                            }
                            else
                            {
                                <span>-</span>
                            }
                            </td>
                        }
                        <td class="tabulation-content" style="width: 125px;">
                            @model.GrandTotal
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="tabulation-summary" style=" width: calc(100% - 8px);">
        <table style=" width: 100%;">
            <tbody>
                <tr>
                    <td class="tabulation-header header-bold" style="width: 325px;">Grand Total</td>
                    @foreach (var office in Models.SelectMany(m => m.RootCausePerOffice.Keys).Distinct())
                    {
                        <td class="tabulation-content header-bold" style="width: 100px; background-color: #bdebf1;">
                            @Models.Sum(m => m.RootCausePerOffice.GetValueOrDefault(office, 0))
                        </td>
                    }
                    <td class="tabulation-content-summary header-bold" style="width: 125px;">
                        @Models.Sum(m => m.GrandTotal)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}

@code
{
    private string _wrapperCss => IsPageView
        ? "tabulation-wrapper-page-view"
        : "tabulation-wrapper";
}