<div class="timeline-stack">
    <div style="padding: 8px;">Timeline: @WorkPaper!.WorkPaperLevel</div>

    <div class="@GetImportTimelineStepCss()">
        <div class="timeline-header" style="">
            <div>
                <FluentIcon Value="@GetImportHeaderIcon()" />
                <span class="timeline-title" style="">
                    IMPORT
                </span>
            </div>
            <div style="margin-left: auto; padding-right: 8px;">
                @GetImportTimestamp()
            </div>
        </div>
        <div class="timeline-content">
            stack 1
        </div>
    </div>

    <div class="@GetVerificationTimelineStepCss()">
        <div class="timeline-header" style="">
            <div>
                <FluentIcon Value="@GetVerificationHeaderIcon()" />
                <span class="timeline-title" style="">
                    VERIFIKASI
                </span>
            </div>
            <div style="margin-left: auto; padding-right: 8px;">
                @GetVerificationTimestamp()
            </div>
        </div>
        <div class="timeline-content">
            stack 2
        </div>
    </div>

    <div class="@GetValidatingTimelineStepCss()">
        <div class="timeline-header" style="">
            <div>
                <FluentIcon Value="@GetValidatingHeaderIcon()" />
                <span class="timeline-title" style="">
                    VALIDASI HELPDESK
                </span>
            </div>
            <div style="margin-left: auto; padding-right: 8px;">
                @GetValidationTimestamp()
            </div>
        </div>
        <div class="timeline-content">
            stack 3
        </div>
    </div>

    <div class="@GetApprovalTimelineStepCss()">
        <div class="timeline-header" style="">
            <div>
                <FluentIcon Value="@GetApprovalHeaderIcon()" />
                <span class="timeline-title" style="">
                    APPROVAL
                </span>
            </div>
            <div style="margin-left: auto; padding-right: 8px;">
                @GetApprovalTimestamp()
            </div>
        </div>
        <div class="timeline-content">
            stack 4
        </div>
    </div>

    <div class="@GetResultTimelineStepCss()">
        <div class="timeline-header" style="">
            <div>
                <FluentIcon Value="@GetResultHeaderIcon()" />
                <span class="timeline-title" style="">
                    @GetResultString()
                </span>
            </div>
            <div style="margin-left: auto; padding-right: 8px;">
            </div>
        </div>
        <div class="timeline-content">
            stack 5
        </div>
    </div>
</div>