<div class="timeline-stack">

    <div class="@GetImportTimelineStepCss()">
        <div class="timeline-header" style="">
            <div>
                <FluentIcon Value="@GetImportHeaderIcon()" />
                <span class="timeline-title" style="">
                    IMPORT
                </span>
            </div>
            <div style="margin-left: auto; padding-right: 8px;">
                @GetImportTimestamp()
            </div>
        </div>
        <div class="timeline-content">
            @if (IsAtLeastImportUnverified)
            {
                <div>
                    Data presale telah di-import oleh <span class="fw-bold">@GetPicImport()</span> pada <span class="fw-bold">@GetImportElapsedTime()</span> yang lalu.
                </div>
            }
        </div>
    </div>

    <div class="@GetVerificationTimelineStepCss()">
        <div class="timeline-header" style="">
            <div>
                <FluentIcon Value="@GetVerificationHeaderIcon()" />
                <span class="timeline-title" style="">
                    VERIFIKASI
                </span>
            </div>
            <div style="margin-left: auto; padding-right: 8px;">
                @GetVerificationTimestamp()
            </div>
        </div>
        <div class="timeline-content">
            @if (IsAtLeastImportVerified)
            {
                <div>
                    Data presale telah diverikasi oleh <span class="fw-bold">@GetPicVerification()</span> pada <span class="fw-bold">@GetVerificationElapsedTime()</span> yang lalu.
                </div>
            }
            else
            {
                if (IsInvalid)
                {
                    <div>
                        Data presale ditolak <span class="tracker-label-rejected">REJECTED</span> oleh <span class="fw-bold">@GetPicVerification()</span> pada <span class="fw-bold">@GetVerificationElapsedTime()</span> yang lalu.
                    </div>
                    <div>
                        Dengan root cause: <span class="fw-bold">@GetRootCause()</span>
                    </div>
                }
                else
                {
                    <div>
                        Data presale akan segera diproses oleh <span class="fw-bold">PAC</span>.
                    </div>
                }
            }
        </div>
    </div>

    <div class="@GetValidatingTimelineStepCss()">
        <div class="timeline-header" style="">
            <div>
                <FluentIcon Value="@GetValidatingHeaderIcon()" />
                <span class="timeline-title" style="">
                    VALIDASI HELPDESK
                </span>
            </div>
            <div style="margin-left: auto; padding-right: 8px;">
                @GetValidationTimestamp()
            </div>
        </div>
        <div class="timeline-content">
            @if (IsAtLeastImportVerified)
            {
                if (HasChatCallMulaiSignature)
                {
                    if (HasChatCallResponsSignature)
                    {
                        <div>
                            Data presale telah diproses oleh <span class="fw-bold">@GetPicChatCallRespons()</span> pada <span class="fw-bold">@GetChatCallResponsElapsedTime()</span> yang lalu.
                        </div>
                    }
                    else
                    {
                        <div>
                            Menunggu respons pemohon. Telah dihubungi oleh <span class="fw-bold">@GetPicChatCallMulai()</span> pada <span class="fw-bold">@GetChatCallMulaiElapsedTime()</span> yang lalu.
                        </div>
                    }
                }
                else
                {
                    <div>
                        Data presale akan segera diproses oleh <span class="fw-bold">Helpdesk Presale</span>.
                    </div>
                }
            }
        </div>
    </div>

    <div class="@GetApprovalTimelineStepCss()">
        <div class="timeline-header" style="">
            <div>
                <FluentIcon Value="@GetApprovalHeaderIcon()" />
                <span class="timeline-title" style="">
                    APPROVAL
                </span>
            </div>
            <div style="margin-left: auto; padding-right: 8px;">
                @GetApprovalTimestamp()
            </div>
        </div>
        <div class="timeline-content">
            @if (IsAtLeastWaitingApproval)
            {
                if (HasApprovalSignature)
                {
                    <div>
                        Data presale telah selesai diproses oleh <span class="fw-bold">@GetPicApproval()</span> pada <span class="fw-bold">@GetApprovalElapsedTime()</span> yang lalu.
                    </div>

                    if (IsExpansion)
                    {
                        <div>
                            Pending approval karena <span class="tracker-label-expansion">EXPANSION</span>
                        </div>
                    }
                }
                else
                {
                    <div>
                        Data presale akan segera diproses oleh <span class="fw-bold">PAC</span>.
                    </div>
                }
            }
        </div>
    </div>

    <div class="@GetResultTimelineStepCss()">
        <div class="timeline-header" style="">
            <div>
                <FluentIcon Value="@GetResultHeaderIcon()" />
                <span class="timeline-title" style="">
                    @GetResultString()
                </span>
            </div>
            <div style="margin-left: auto; padding-right: 8px;">
            </div>
        </div>
        <div class="timeline-content">
            @if (IsAtLeastDoneProcessing)
            {
                @if (IsClosedLost)
                {
                    <div>
                        Data presale telah dinyatakan <span class="tracker-label-closed-lost">CLOSED LOST</span> oleh <span class="fw-bold">@GetPicApproval()</span>
                    </div>
                    <div>
                        Dengan root cause: <span class="fw-bold">@GetRootCause()</span>
                    </div>
                }

                @if (IsRejected)
                {
                    <div>
                        Data presale telah ditolak <span class="tracker-label-rejected">REJECTED</span> oleh <span class="fw-bold">@GetPicApproval()</span>
                    </div>
                    <div>
                        Dengan root cause: <span class="fw-bold">@GetRootCause()</span>
                    </div>
                }

                @if (IsApproved)
                {
                    <div>
                        Data presale telah diterima <span class="tracker-label-approved">APPROVED</span> oleh <span class="fw-bold">@GetPicApproval()</span>
                    </div>
                }
            }
        </div>
    </div>
</div>