@using IConnet.Presale.WebApp.Components.Custom.ProgressTrackers

@if (WorkPaper is not null)
{
    <div class="progress-stack">

        <div class="progress-tracker">
            <div class="progress-step">
                <div class="progress-step-header">
                    <FluentIcon Value="@ImportStepIcon" style="@ImportStepHeaderColorStyle"/>
                    <div class="progress-step-header-label">
                        IMPORT
                    </div>
                    <div class="progress-step-header-date">
                        @ImportDateTime.ToReadableFormat()
                    </div>
                </div>
                <div class="progress-step-body" style="@ImportStepTrailColorStyle">
                    <span class="progress-step-body-content">
                        @if (ProceedImportUnverified)
                        {
                            <span>Data permohonan telah di-import</span>
                        }
                        else
                        {
                            <span>Data tidak tersedia.</span>
                        }
                    </span>
                </div>
            </div>

            <div class="progress-step">
                <div class="progress-step-header">
                    <FluentIcon Value="@ImportVerifiedStepIcon" />
                    <div class="progress-step-header-label" style="@ImportVerificationStepHeaderColorStyle">
                        VERIFIKASI
                    </div>
                    <div class="progress-step-header-date">
                        @if (ProceedImportVerified)
                        {
                            <span>@ImportVerifiedDateTime.ToReadableFormat()</span>
                        }
                    </div>
                </div>
                <div class="progress-step-body" style="@ImportVerificationStepTrailColorStyle">
                    <span class="progress-step-body-content">
                        @if (ProceedImportVerified)
                        {
                            <span>Data permohonan telah diverifikasi</span>
                        }
                    </span>
                </div>
            </div>

            <div class="progress-step">
                <div class="progress-step-header">
                    <FluentIcon Value="@ValidatingStepIcon" />
                    <div class="progress-step-header-label" style="@ValidatingStepHeaderColorStyle">
                        VALIDASI
                    </div>
                    <div class="progress-step-header-date">
                        @if (ProceedWaitingApproval)
                        {
                            <span>@ValidatingDateTime.ToReadableFormat()</span>
                        }
                    </div>
                </div>
                <div class="progress-step-body" style="@ValidatingStepTrailColorStyle">
                    <span class="progress-step-body-content">
                        @if (IsValidating)
                        {
                            <span>Data sedang divalidasi</span>
                        }
                        else if (ProceedValidating)
                        {
                            <span>Data telah diproses oleh Helpdesk</span>
                        }
                    </span>
                </div>
            </div>

            <div class="progress-step">
                <div class="progress-step-header">
                    <FluentIcon Value="@WaitingApprovalStepIcon" />
                    <div class="progress-step-header-label" style="@WaitingApprovalStepHeaderColorStyle">
                        APPROVAL
                    </div>
                    <div class="progress-step-header-date">
                        @if (ProceedDoneProcessing)
                        {
                            <span>@ApprovalDateTime.ToReadableFormat()</span>
                        }
                    </div>
                </div>
                <div class="progress-step-body" style="@WaitingApprovalStepTrailColorStyle">
                    <span class="progress-step-body-content">
                        @if (IsWaitingApproval)
                        {
                            <span>Data sedang dalam proses approval</span>
                        }
                        else if (ProceedDoneProcessing)
                        {
                            <span>Data telah selesai diproses</span>
                            <span class="progress-result-label" style="@GetApprovalStatusLabelStyle()">
                                @GetApprovalStatus().ToUpper()
                            </span>
                        }
                    </span>
                </div>
            </div>

        </div>
        <div class="progress-report">

            <div class="progress-report-id-permohonan-stack">
                <span>
                    ID PERMOHONAN -
                </span>
                <span class="progress-report-id-permohonan">
                    @WorkPaper.ApprovalOpportunity.IdPermohonan
                </span>
            </div>
            <div class="progress-report-nama">
                @WorkPaper.ApprovalOpportunity.Pemohon.NamaPelanggan
            </div>
            <div class="progress-report-id-pln-stack">
                <span>
                    ID PLN -
                </span>
                <span class="progress-report-id-pln">
                    @WorkPaper.ApprovalOpportunity.Pemohon.IdPln
                </span>
            </div>
            <div class="progress-report-alamat">
                @WorkPaper.ApprovalOpportunity.Pemohon.Alamat
            </div>
            <div class="d-flex flex-column">
                <div class="splitter-stack">
                    <span class="splitter-stack-label">
                        SPLITTER -
                    </span>
                    <span class="splitter-stack-splitter">
                        @WorkPaper.ApprovalOpportunity.Splitter
                    </span>
                </div>
                <table class="progress-report-table-jarak">
                    <thead>
                        <tr>
                            <th style="margin-right: 16px;">Jarak Share Loc</th>
                            <td class="distance">
                                <span>@WorkPaper.ProsesApproval.JarakShareLoc</span>
                                <span style="margin-left: 4px;">meter</span>
                            </td>
                        </tr>
                        <tr>
                            <th style="margin-right: 16px;">Jarak iCRM+</th>
                            <td class="distance">
                                <span>@WorkPaper.ProsesApproval.JarakICrmPlus</span>
                                <span style="margin-left: 4px;">meter</span>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
            @if (!WorkPaper.ProsesValidasi.ParameterValidasi.ShareLoc.IsEmptyCoordinate())
            {
                <div class="progress-report-shareloc">
                    @{
                        var url = @WorkPaper.ProsesValidasi.ParameterValidasi.ShareLoc.GetGoogleMapLink();
                    }
                    <a href="@url" target="_blank">
                        @WorkPaper.ProsesValidasi.ParameterValidasi.ShareLoc.GetLatitudeLongitude()
                    </a>
                </div>
            }
        </div>

    </div>
}