<FluentDialogHeader ShowDismiss="false">
    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <FluentIcon Value="@(new Icons.Regular.Size24.Chat())" />
        <FluentLabel Typo="Typography.PaneHeader">
            @Dialog.Instance.Parameters.Title
        </FluentLabel>
    </FluentStack>
</FluentDialogHeader>

<div class="chat-box">
    @for(int sequence = 0; sequence < ChatTemplateService.HtmlChatTemplates.Count; sequence++)
    {
        <div class="chat-bubble">
            <div class="chat-header">
                <span class="chat-sender-alias">@SessionService.UserModel!.Username</span>
            </div>
            <p class="chat-text">
                @ChatTemplate(sequence)
            </p>
            <div class="chat-footer">
                <span class="chat-timestamp">@DateTimeService.GetClockTime()</span>
            </div>
        </div>
    }
</div>
