<FluentDialogHeader ShowDismiss="false">
    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <FluentIcon Value="@(new Icons.Regular.Size24.Chat())" />
        <FluentLabel Typo="Typography.PaneHeader">
            @Dialog.Instance.Parameters.Title
        </FluentLabel>
    </FluentStack>
</FluentDialogHeader>

<div class="chat-box">
    @foreach (var chatTemplate in ChatTemplateService.ChatTemplateModels)
    {
        <ChatBubble ActiveWorkPaper="@ChatTemplateService.ActiveWorkPaper"
            ChatTemplate="@chatTemplate"
            Sender="@SessionService.UserModel!.Username"
            Timestamp="@DateTimeService.GetClockTime()"/>
    }
</div>
