<FluentDialogHeader ShowDismiss="false">
    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <FluentIcon Value="@(new Icons.Regular.Size24.Chat())" />
        <FluentLabel Typo="Typography.PaneHeader" Id="chat-template-header">
            <span id="chat-template">
                @Dialog.Instance.Parameters.Title
            </span>
        </FluentLabel>
    </FluentStack>
</FluentDialogHeader>

<div class="chat-container">
    @foreach (var chatTemplate in ChatTemplateService.ChatTemplateModels)
    {
        <ChatBubble ActiveWorkPaper="@Content"
            ChatTemplate="@chatTemplate"
            Sender="@SessionService.UserModel!.Username"
            Timestamp="@DateTimeService.GetClockTime()"/>
    }
</div>

<FluentDialogFooter>
    <FluentStack VerticalAlignment="VerticalAlignment.Center" HorizontalAlignment="HorizontalAlignment.End">
        <FluentButton Appearance="Appearance.Neutral" OnClick="@CancelAsync">Tutup</FluentButton>
    </FluentStack>
</FluentDialogFooter>
