<FluentDialogHeader ShowDismiss="true">
    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <FluentIcon Value="@(new Icons.Regular.Size24.DocumentCheckmark())" />
        <FluentLabel Typo="Typography.PaneHeader">
            @Dialog.Instance.Parameters.Title
        </FluentLabel>
    </FluentStack>
</FluentDialogHeader>

<div class="d-flex flex-row mb-3">
    <span class="px-1">Di-Import</span>
    <FluentBadge Appearance="Appearance.Accent">
        @(DateTimeService.GetElapsedTime(Content.ApprovalOpportunity.SignatureImport.TglAksi).ToReadableDateTime())
    </FluentBadge>
    <span class="px-1">yang lalu</span>
    <FluentBadge Appearance="Appearance.Accent">
        @Content.ApprovalOpportunity.SignatureImport.Alias
    </FluentBadge>
</div>

<div>
    <FluentCard Class="mb-2">
        <FluentLabel Typo="Typography.Header">Data Permohonan</FluentLabel>
        <table class="crm-verification-view mt-3">
            <thead>
                <tr>
                    <th style="padding-right: 1rem; width: 200px;">ID PERMOHONAN</th>
                    <td>@Content.ApprovalOpportunity.IdPermohonan</td>
                </tr>
                <tr>
                    <th style="padding-right: 1rem; width: 200px;">TGL PERMOHONAN</th>
                    <td>@Content.ApprovalOpportunity.TglPermohonan</td>
                </tr>
                <tr>
                    <th style="padding-right: 1rem; width: 200px;">DURASI TIDAK LANJUT</th>
                    <td>@DateTimeService.GetElapsedTime(Content.ApprovalOpportunity.TglPermohonan).ToReadableDateTime()</td>
                </tr>
                <tr>
                    <th style="padding-right: 1rem; width: 200px;">LAYANAN</th>
                    <td>@Content.ApprovalOpportunity.Layanan</td>
                </tr>
                <tr>
                    <th style="padding-right: 1rem; width: 200px;">SUMBER PERMOHONAN</th>
                    <td>@Content.ApprovalOpportunity.SumberPermohonan</td>
                </tr>
                <tr>
                    <th style="padding-right: 1rem; width: 200px;">STATUS PERMOHONAN</th>
                    <td>@Content.ApprovalOpportunity.StatusPermohonan</td>
                </tr>
                <tr>
                    <th style="padding-right: 1rem; width: 200px;">JENIS PERMOHONAN</th>
                    <td>@Content.ApprovalOpportunity.JenisPermohonan</td>
                </tr>
                <tr>
                    <th style="padding-right: 1rem; width: 200px;">SPLITTER</th>
                    <td>@Content.ApprovalOpportunity.Splitter</td>
                </tr>
            </thead>
        </table>
    </FluentCard>

    <FluentCard Class="mb-2">
        <FluentLabel Typo="Typography.Header">Data Pelanggan</FluentLabel>
        <table class="crm-verification-view mt-3">
            <thead>
                <tr>
                    <th style="padding-right: 1rem; width: 200px;">NAMA LENGKAP</th>
                    <td>@Content.ApprovalOpportunity.Pemohon.NamaPelanggan</td>
                </tr>
                <tr>
                    <th style="padding-right: 1rem; width: 200px;">ID PLN</th>
                    <td>@Content.ApprovalOpportunity.Pemohon.IdPln</td>
                </tr>
                <tr>
                    <th style="padding-right: 1rem; width: 200px;">EMAIL</th>
                    <td>@Content.ApprovalOpportunity.Pemohon.Email</td>
                </tr>
                <tr>
                    <th style="padding-right: 1rem; width: 200px;">NIK</th>
                    <td>@Content.ApprovalOpportunity.Pemohon.Nik</td>
                </tr>
                <tr>
                    <th style="padding-right: 1rem; width: 200px;">NPWP</th>
                    <td>@Content.ApprovalOpportunity.Pemohon.Npwp</td>
                </tr>
                <tr>
                    <th style="padding-right: 1rem; width: 200px;">ALAMAT</th>
                    <td>@Content.ApprovalOpportunity.Pemohon.Alamat</td>
                </tr>
                <tr>
                    <th style="padding-right: 1rem; width: 200px;">NOMOR TELEPON</th>
                    <td>@Content.ApprovalOpportunity.Pemohon.NomorTelepon</td>
                </tr>
                <tr>
                    <th style="padding-right: 1rem; width: 200px;">KETERANGAN</th>
                    <td>@Content.ApprovalOpportunity.Pemohon.Keterangan</td>
                </tr>
            </thead>
        </table>
    </FluentCard>

    <FluentCard Class="mb-2">
        <FluentLabel Typo="Typography.Header">Data Agen</FluentLabel>
        <table class="crm-verification-view mt-3">
            <thead>
                <tr>
                    <th style="padding-right: 1rem; width: 200px;">NAMA</th>
                    <td>@Content.ApprovalOpportunity.Agen.NamaLengkap</td>
                </tr>
                <tr>
                    <th style="padding-right: 1rem; width: 200px;">EMAIL</th>
                    <td>@Content.ApprovalOpportunity.Agen.Email</td>
                </tr>
                <tr>
                    <th style="padding-right: 1rem; width: 200px;">NOMOR TELEPON</th>
                    <td>@Content.ApprovalOpportunity.Agen.NomorTelepon</td>
                </tr>
                <tr>
                    <th style="padding-right: 1rem; width: 200px;">MITRA</th>
                    <td>@Content.ApprovalOpportunity.Agen.Mitra</td>
                </tr>
            </thead>
        </table>
    </FluentCard>

    <FluentCard Class="mb-2">
        <FluentLabel Typo="Typography.Header">Data Wilayah</FluentLabel>
        <table class="crm-verification-view mt-3">
            <thead>
                <tr>
                    <th style="padding-right: 1rem; width: 200px;">REGIONAL</th>
                    <td>@Content.ApprovalOpportunity.Regional.Bagian</td>
                </tr>
                <tr>
                    <th style="padding-right: 1rem; width: 200px;">KANTOR PERWAKILAN</th>
                    <td>@Content.ApprovalOpportunity.Regional.KantorPerwakilan</td>
                </tr>
                <tr>
                    <th style="padding-right: 1rem; width: 200px;">PRONVINSI</th>
                    <td>@Content.ApprovalOpportunity.Regional.Provinsi</td>
                </tr>
                <tr>
                    <th style="padding-right: 1rem; width: 200px;">KABUPATEN</th>
                    <td>@Content.ApprovalOpportunity.Regional.Kabupaten</td>
                </tr>
                <tr>
                    <th style="padding-right: 1rem; width: 200px;">KECAMATAN</th>
                    <td>@Content.ApprovalOpportunity.Regional.Kecamatan</td>
                </tr>
                <tr>
                    <th style="padding-right: 1rem; width: 200px;">KELURAHAN</th>
                    <td>@Content.ApprovalOpportunity.Regional.Kecamatan</td>
                </tr>
                <tr>
                    <th class="d-flex flex-row align-items-center" style="padding-right: 1rem; width: 200px;">
                        <div>
                            TITK KOODINAT
                        </div>
                        <div style="margin-left: 4px; margin-right: 2px;">
                            <FluentIcon Value="@(new Icons.Filled.Size20.Open())"
                                OnClick="OnOpenGoogleMapAsync"/>
                        </div>
                    </th>
                    <td class="">
                        <div>
                            @Content.ApprovalOpportunity.Regional.Koordinat.GetLatitudeLongitude()
                        </div>
                    </td>
                </tr>
            </thead>
        </table>
    </FluentCard>
</div>

<FluentDialogFooter>
    <FluentStack VerticalAlignment="VerticalAlignment.Center" HorizontalAlignment="HorizontalAlignment.End">
        <FluentCheckbox @bind-Value="@_isCrmValid" Label="Data CRM telah sesuai" />
        <FluentButton Appearance="Appearance.Accent" OnClick="@SaveAsync" Disabled="@(!_isCrmValid)" IconStart="@(new Icons.Regular.Size16.Save())">Simpan</FluentButton>
        <FluentButton BackgroundColor="crimson" Color="white" OnClick="@DeleteAsync" Disabled="@(_isCrmValid)">Hapus</FluentButton>
        @* <FluentButton BackgroundColor="crimson" Color="white" OnClick="@ArchiveAsync" Disabled="@(_isCrmValid)">Archive</FluentButton> *@
        <FluentButton Appearance="Appearance.Neutral" OnClick="@CancelAsync">Batal</FluentButton>
    </FluentStack>
</FluentDialogFooter>

@code
{
    private bool _isCrmValid = false;
}