@implements IDialogContentComponent<WorkPaper>

<FluentDialogHeader ShowDismiss="true">
    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <FluentIcon Value="@(new Icons.Regular.Size24.BookmarkAdd())" />
        <FluentLabel Typo="Typography.PaneHeader">
            @Dialog.Instance.Parameters.Title
        </FluentLabel>
    </FluentStack>
</FluentDialogHeader>

<div>
    <span>Durasi tampung Kertas Kerja telah habis.</span>
</div>

<FluentDialogFooter>
    <FluentStack VerticalAlignment="VerticalAlignment.Center" HorizontalAlignment="HorizontalAlignment.End">
        <FluentButton Appearance="Appearance.Accent"  OnClick="@SaveAsync" IconStart="@(new Icons.Regular.Size16.Save())">Tampung Ulang</FluentButton>
        <FluentButton BackgroundColor="crimson" Color="white"  OnClick="@CancelAsync">Hapus</FluentButton>
        <FluentButton Appearance="Appearance.Neutral" OnClick="@CancelAsync">Batal</FluentButton>
    </FluentStack>
</FluentDialogFooter>
