@attribute [Route(PageRoute.ApprovalStaging)]
@inherits ApprovalStagingPageBase
@rendermode @(InteractiveServer.DisablePreRender())

<PageTitle>Approval Staging</PageTitle>

<AuthorizeView Policy="@Policies.RolePlanningAssetCoverage"
    Context="AuthenticationContext">

    <Authorized>
        <div class="d-flex flex-row align-items-center">
            <FluentLabel Typo="Typography.H3" MarginBlock="0.5rem">Approval Staging</FluentLabel>
            <div class="filter-toggle">
                <FluentButton IconEnd="@(new Icons.Filled.Size20.Grid())"
                    OnClick="@SessionService.FilterPreference.ToggleFilters"/>

            </div>
        </div>
        <span class="page-description">Tampung Approval Opportunity</span>

        <div class="@_filterSection">
            <FilterForm @ref="FilterComponent"
                OnFilter="@(this.StateHasChanged)"/>
        </div>

        <div class="datagrid-wrapper">
            @if (WorkPapers is not null)
            {
                <FluentDataGrid Items="@WorkPapers"
                    TGridItem="WorkPaper"
                    Virtualize="true"
                    Pagination="@Pagination"
                    ItemSize="32"
                    OnRowFocus="@OnRowSelected"
                    EmptyContent="@HtmlFragment.EmptyContent"
                    GridTemplateColumns="@GridTemplateCols">

                    <TemplateColumn Title="ID PERMOHONAN" Style="GetWidthStyle(ColumnWidth.IdPermohonanPx, ColumnWidth.OffsetPx)"
                        SortBy="@SortByIdPermohonan">
                        <ColumnOptions>
                            <div class="">
                                @if (FilterComponent is not null)
                                {
                                    <FluentSearch Autofocus=true
                                        style="width: 200px;"
                                        type="search"
                                        @bind-Value=FilterComponent.FilterModel.IdPermohonan
                                        @oninput="FilterComponent.FilterModel.IdPermohonanFilterHandler"
                                        Placeholder="Id Permohonan"/>
                                }
                            </div>
                        </ColumnOptions>
                        <ChildContent>
                            <div class="">
                                @context.ApprovalOpportunity.IdPermohonan
                            </div>
                        </ChildContent>
                    </TemplateColumn>
                    <TemplateColumn Title="TGL PERMOHONAN" Style="@GetWidthStyle(ColumnWidth.TglPermohonanPx)"
                        SortBy="@SortByTglPermohonan">
                        <div class="">
                            <DateTimeBadge DateTime="@context.ApprovalOpportunity.TglPermohonan"/>
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="APPROVAL" Style="@GetWidthStyle(ColumnWidth.StatusApprovalPx)">
                        <div class="">
                            <ApprovalBadge ApprovalStatus="@context.ProsesApproval.StatusApproval"/>
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="PIC APPROVAL" Style="@GetWidthStyle(ColumnWidth.PlanningAssetCoverageInChargePx)">
                        <div class="" style="display: flex;">
                            @if (string.IsNullOrEmpty(context.SignaturePlanningAssetCoverageInCharge.Alias))
                            {
                                <span class="staging-waiting">
                                    WAITING
                                </span>
                            }
                            else
                            {
                                @context.SignaturePlanningAssetCoverageInCharge.Alias
                            }
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="NAMA PELANGGAN" Style="@GetWidthStyle(ColumnWidth.ValidasiNamaPelangganPx)">
                        <div class="">
                            <ValidationBadge IncludeClosedLost=true
                                ValidationStatus="@context.ProsesValidasi.ParameterValidasi.ValidasiNama"/>
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="NOMOR TELP AKTIF" Style="@GetWidthStyle(ColumnWidth.ValidasiNomorTelpPx)">
                        <div class="">
                            <ValidationBadge IncludeClosedLost=true
                                ValidationStatus="@context.ProsesValidasi.ParameterValidasi.ValidasiNomorTelepon"/>
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="EMAIL AKTIF" Style="@GetWidthStyle(ColumnWidth.ValidasiEmailPx)">
                        <div class="">
                            <ValidationBadge IncludeClosedLost=true
                                ValidationStatus="@context.ProsesValidasi.ParameterValidasi.ValidasiEmail"/>
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="ID PLAN" Style="@GetWidthStyle(ColumnWidth.ValidasiIdPlnPx)">
                        <div class="">
                            <ValidationBadge IncludeClosedLost=true
                                ValidationStatus="@context.ProsesValidasi.ParameterValidasi.ValidasiIdPln"/>
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="ALAMAT PELANGGAN" Style="@GetWidthStyle(ColumnWidth.ValidasiAlamatPx)">
                        <div class="">
                            <ValidationBadge IncludeClosedLost=true
                                ValidationStatus="@context.ProsesValidasi.ParameterValidasi.ValidasiAlamat"/>
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="SHARE LOC" Style="@GetWidthStyle(ColumnWidth.ValidasiShareLocPx)">
                        <div class="">
                        @if(IsClosedLost(context.ProsesValidasi))
                        {
                            <div class="closed-lost-badge">
                                @_closedLost.ToUpper()
                            </div>
                        }
                        else
                        {
                            @context.ProsesValidasi.ParameterValidasi.ShareLoc.GetLatitudeLongitude()
                        }
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="REKAP CHAT HISTORY" Style="@GetWidthStyle(ColumnWidth.LinkChatHistoryPx)">
                        <div class="">
                        @if(IsClosedLost(context.ProsesValidasi))
                        {
                            <div class="closed-lost-badge">
                                @_closedLost.ToUpper()
                            </div>
                        }
                        else
                        {
                            @context.ProsesValidasi.LinkChatHistory
                        }
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="KETERANGAN VALIDASI" Style="@GetWidthStyle(ColumnWidth.KeteranganValidasiPx)">
                        <div class="">
                            @context.ProsesValidasi.Keterangan
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="CONTACT WHATSAPP" Style="@GetWidthStyle(ColumnWidth.ContactWhatsAppPx)">
                        <div class="">
                         @{
                            var url = $"http://{context.ApprovalOpportunity.Pemohon.GetWhatsApp()}";
                        }
                        <a href="@url" target="_blank">
                            @context.ApprovalOpportunity.Pemohon.GetWhatsApp()
                        </a>
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="KANTOR PERWAKILAN" Style="@GetWidthStyle(ColumnWidth.KantorPerwakilanPx)">
                        <div class="">
                            @context.ApprovalOpportunity.Regional.KantorPerwakilan
                        </div>
                    </TemplateColumn>
                </FluentDataGrid>
            }
            else
            {
                <span>Loading...</span>
            }
        </div>

        <FluentPaginator State="@Pagination">
            <SummaryTemplate>
                <div class="d-flex flex-row align-items-center">
                    <span style="margin-right: 8px;">
                        Terdapat <strong>@(Pagination.TotalItemCount ?? 0)</strong> baris
                    </span>
                    <span style="margin-left: auto; margin-right: 10px;">
                        <FluentSelect Items="@OptionSelect.Pagination.ItemsPerPageOptions"
                            Value="@PaginationItemsPerPageOptions"
                            ValueChanged="OnItemsPerPageChanged"
                            Width="65px"/>
                    </span>
                </div>
            </SummaryTemplate>
            <PaginationTextTemplate>
                Hal. <strong>@(Pagination.CurrentPageIndex + 1)</strong> dari <strong>@(Pagination.LastPageIndex + 1)</strong> halaman
            </PaginationTextTemplate>
        </FluentPaginator>
    </Authorized>

    <NotAuthorized>
        <AccessDenied />
    </NotAuthorized>

</AuthorizeView>

@code
{
    private string _filterSection => SessionService.FilterPreference.ShowFilters ? "enable" : "filter-section-disable";
    private string _closedLost => "Closed Lost";
}