@page "/crm-import"
@inherits CrmImportPageBase
@rendermode InteractiveServer

<PageTitle>Import CRM</PageTitle>

<FluentLabel Typo="Typography.H3" MarginBlock="0.5rem">Import CRM</FluentLabel>
<div class="d-flex flex-column align-items-start">
    <span class="page-description">Import iCRM+ data ke aplikasi Presale</span>
    <div style="margin-left: -5px; margin-bottom: 0.5rem;">
        <FluentButton Class="m-1"
            Appearance="Appearance.Accent"
            IconStart="@(new Icons.Regular.Size20.ArrowImport())"
            OnClick="CrmImportAsync">
            Import
        </FluentButton>
    </div>
</div>

<div class="datagrid-wrapper">
    <FluentDataGrid Items="@ImportModels"
        TGridItem="IApprovalOpportunityModel"
        Virtualize="true"
        Pagination="@Pagination"
        ItemSize="32"
        EmptyContent="@HtmlFragment.EmptyContent"
        GridTemplateColumns="150px 180px 200px 150px 120px 150px 250px 250px 150px 150px 150px 150px 150px 150px 150px 150px 150px 150px 180px 180px 150px 150px 150px 150px 150px 150px;">

        <PropertyColumn Title="ID PERMOHONAN" Property="@(crm => crm.IdPermohonan)" Style="width: 150px;"/>
        <PropertyColumn Title="TGL PERMOHONAN" Property="@(crm => crm.TglPermohonan)" Style="width: 180px;"/>
        <PropertyColumn Title="DURASI TIDAK LANJUT" Property="@(crm => crm.DurasiTidakLanjut)" Style="width: 200px;"/>
        <PropertyColumn Title="NAMA PEMOHON" Property="@(crm => crm.NamaPemohon)" Style="width: 150px;"/>
        <PropertyColumn Title="ID PLN" Property="@(crm => crm.IdPln)" Style="width: 120px;"/>
        <PropertyColumn Title="LAYANAN" Property="@(crm => crm.Layanan)" Style="width: 150px;"/>
        <PropertyColumn Title="SUMBER PERMOHONAN" Property="@(crm => crm.SumberPermohonan)" Style="width: 250px;"/>
        <PropertyColumn Title="STATUS PERMOHONAN" Property="@(crm => crm.StatusPermohonan)" Style="width: 250px;"/>
        <PropertyColumn Title="NAMA AGEN" Property="@(crm => crm.NamaAgen)" Style="width: 150px;"/>
        <PropertyColumn Title="EMAIL AGEN" Property="@(crm => crm.EmailAgen)" Style="width: 150px;"/>
        <PropertyColumn Title="TELEPON AGEN" Property="@(crm => crm.TeleponAgen)" Style="width: 150px;"/>
        <PropertyColumn Title="MITRA AGEN" Property="@(crm => crm.MitraAgen)" Style="width: 150px;"/>
        <PropertyColumn Title="SPLITTER" Property="@(crm => crm.Splitter)" Style="width: 150px;"/>
        <PropertyColumn Title="JENIS PERMOHONAN" Property="@(crm => crm.JenisPermohonan)" Style="width: 150px;"/>
        <PropertyColumn Title="TELEPON PEMOHON" Property="@(crm => crm.TeleponPemohon)" Style="width: 150px;"/>
        <PropertyColumn Title="EMAIL PEMOHON" Property="@(crm => crm.EmailPemohon)" Style="width: 150px;"/>
        <PropertyColumn Title="NIK PEMOHON" Property="@(crm => crm.NikPemohon)" Style="width: 150px;"/>
        <PropertyColumn Title="NPWP PEMOHON" Property="@(crm => crm.NpwpPemohon)" Style="width: 150px;"/>
        <PropertyColumn Title="KETERANGAN" Property="@(crm => crm.Keterangan)" Style="width: 150px;"/>
        <PropertyColumn Title="ALAMAT PEMOHON" Property="@(crm => crm.AlamatPemohon)" Style="width: 150px;"/>
        <PropertyColumn Title="REGIONAL" Property="@(crm => crm.Regional)" Style="width: 180px;"/>
        <PropertyColumn Title="KANTOR PERWAKILAN" Property="@(crm => crm.KantorPerwakilan)" Style="width: 180px;"/>
        <PropertyColumn Title="PROVINSI" Property="@(crm => crm.Provinsi)" Style="width: 150px;"/>
        <PropertyColumn Title="KABUPATEN" Property="@(crm => crm.Kabupaten)" Style="width: 150px;"/>
        <PropertyColumn Title="KECAMATAN" Property="@(crm => crm.Kecamatan)" Style="width: 150px;"/>
        <PropertyColumn Title="KELURAHAN" Property="@(crm => crm.Kelurahan)" Style="width: 150px;"/>
        <PropertyColumn Title="LATITUDE" Property="@(crm => crm.Latitude)" Style="width: 150px;"/>
        <PropertyColumn Title="LONGITUDE" Property="@(crm => crm.Longitude)" Style="width: 150px;"/>

    </FluentDataGrid>

    <FluentOverlay @bind-Visible=@IsLoading
        Opacity="0.4"
        Alignment="@Align.Center"
        Justification="@JustifyContent.Center">
        <FluentProgressRing />
    </FluentOverlay>
</div>

<FluentPaginator State="@Pagination">
    <SummaryTemplate>
        Terdapat <strong>@(Pagination.TotalItemCount ?? 0)</strong> baris
    </SummaryTemplate>
    <PaginationTextTemplate>
        Halaman <strong>@(Pagination.CurrentPageIndex + 1)</strong> dari <strong>@(Pagination.LastPageIndex + 1)</strong> halaman
    </PaginationTextTemplate>
</FluentPaginator>
