@attribute [Route(PageRoute.CrmVerification)]
@inherits CrmVerificationPageBase
@rendermode @(InteractiveServer.DisablePreRender())

<PageTitle>Verifikasi CRM</PageTitle>

<AuthorizeView Policy="@Policies.RolePlanningAssetCoverage"
    Context="AuthenticationContext">

    <Authorized>
        <div class="d-flex flex-row align-items-center">
            <FluentLabel Typo="Typography.H3" MarginBlock="0.5rem">Verifikasi CRM</FluentLabel>
            <div class="filter-toggle">
                <FluentButton IconEnd="@(new Icons.Filled.Size20.Grid())"
                    OnClick="@SessionService.FilterPreference.ToggleFilters"/>
            </div>
        </div>
        <div>
            @if (!IsLoading)
            {
                <span class="page-description">Verifikasi hasil import iCRM+</span>
            }
            else
            {
                <div class="d-flex flex-row align-items-center">
                    <span class="px-1">Updating</span>
                    <FluentProgressRing style="width: 16px; height: 16px;"></FluentProgressRing>
                </div>
            }
        </div>

        <div class="@_filterSection">
            <FilterForm @ref="FilterComponent"
                OnFilter="@(this.StateHasChanged)"/>
        </div>

        <div class="datagrid-wrapper">
            @if (WorkPapers is not null)
            {
                <FluentDataGrid Items="@WorkPapers"
                    TGridItem="WorkPaper"
                    Virtualize="true"
                    Pagination="@Pagination"
                    ItemSize="32"
                    OnRowFocus="@OnRowSelected"
                    EmptyContent="@HtmlFragment.EmptyContent"
                    GridTemplateColumns="@GridTemplateCols">

                    <TemplateColumn Title="ID PERMOHONAN" Style="@GetWidthStyle(ColumnWidth.IdPermohonanPx, ColumnWidth.OffsetPx)"
                        SortBy="@SortByIdPermohonan">
                        <ColumnOptions>
                            <div class="search-box">
                                @if (FilterComponent is not null)
                                {
                                    <FluentSearch Autofocus=true
                                        style="width: 200px;"
                                        type="search"
                                        @bind-Value=FilterComponent.FilterModel.IdPermohonan
                                        @oninput="FilterComponent.FilterModel.IdPermohonanFilterHandler"
                                        @bind-Value:after="FilterComponent.FilterModel.IdPermohonanFilterClear"
                                        Placeholder="Id Permohonan"/>
                                }
                            </div>
                        </ColumnOptions>
                        <ChildContent>
                            <div class="">
                                @context.ApprovalOpportunity.IdPermohonan
                            </div>
                        </ChildContent>
                    </TemplateColumn>
                    <TemplateColumn Title="TGL PERMOHONAN" Style="@GetWidthStyle(ColumnWidth.TglPermohonanPx)"
                        SortBy="@SortByTglPermohonan">
                        <div class="">
                            @context.ApprovalOpportunity.TglPermohonan
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="PIC IMPORT" Style="@GetWidthStyle(ColumnWidth.SignatureImportPx)">
                        <div class="">
                            @context.ApprovalOpportunity.SignatureImport.Alias
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="DURASI TIDAK LANJUT" Style="@GetWidthStyle(ColumnWidth.DurasiTidakLanjutPx)">
                        <div class="">
                            @DateTimeService.GetElapsedTime(context.ApprovalOpportunity.TglPermohonan).AsReadableDateTime()
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="NAMA PEMOHON" Style="@GetWidthStyle(ColumnWidth.NamaPemohonPx)">
                        <ColumnOptions>
                            <div class="search-box">
                                @if (FilterComponent is not null)
                                {
                                    <FluentSearch Autofocus=true
                                        style="width: 200px;"
                                        type="search"
                                        @bind-Value=FilterComponent.FilterModel.NamaPemohon
                                        @oninput="FilterComponent.FilterModel.NamaPemohonFilterHandler"
                                        @bind-Value:after="FilterComponent.FilterModel.NamaPemohonFilterClear"
                                        Placeholder="Nama Pemohon"/>
                                }
                            </div>
                        </ColumnOptions>
                        <ChildContent>
                            <div class="">
                                @context.ApprovalOpportunity.Pemohon.NamaPelanggan
                            </div>
                        </ChildContent>
                    </TemplateColumn>
                    <TemplateColumn Title="ID PLN" Style="@GetWidthStyle(ColumnWidth.IdPlnPx)">
                        <ColumnOptions>
                            <div class="search-box">
                                @if (FilterComponent is not null)
                                {
                                    <FluentSearch Autofocus=true
                                        style="width: 200px;"
                                        type="search"
                                        @bind-Value=FilterComponent.FilterModel.IdPln
                                        @oninput="FilterComponent.FilterModel.IdPlnFilterHandler"
                                        @bind-Value:after="FilterComponent.FilterModel.IdPlnFilterClear"
                                        Placeholder="Id PLN"/>
                                }
                            </div>
                        </ColumnOptions>
                        <ChildContent>
                            <div class="">
                                @context.ApprovalOpportunity.Pemohon.IdPln
                            </div>
                        </ChildContent>
                    </TemplateColumn>
                    <TemplateColumn Title="LAYANAN" Style="@GetWidthStyle(ColumnWidth.LayananPx)">
                        <div class="">
                            @context.ApprovalOpportunity.Layanan
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="SUMBER PERMOHONAN" Style="@GetWidthStyle(ColumnWidth.SumberPermohonanPx)">
                        <div class="">
                            @context.ApprovalOpportunity.SumberPermohonan
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="STATUS PERMOHONAN" Style="@GetWidthStyle(ColumnWidth.StatusPermohonanPx)">
                        <div class="">
                            @context.ApprovalOpportunity.StatusPermohonan
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="NAMA AGEN" Style="@GetWidthStyle(ColumnWidth.NamaAgenPx)">
                        <div class="">
                            @context.ApprovalOpportunity.Agen.NamaLengkap
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="EMAIL AGEN" Style="@GetWidthStyle(ColumnWidth.EmailAgenPx)">
                        <div class="">
                            @context.ApprovalOpportunity.Agen.Email
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="TELP. AGEN" Style="@GetWidthStyle(ColumnWidth.TelpAgenPx)">
                        <div class="">
                            @context.ApprovalOpportunity.Agen.NomorTelepon
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="MITRA AGEN" Style="@GetWidthStyle(ColumnWidth.MitraAgenPx)">
                        <div class="">
                            @context.ApprovalOpportunity.Agen.Mitra
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="SPLITTER" Style="@GetWidthStyle(ColumnWidth.SplitterPx)">
                        <ColumnOptions>
                            <div class="search-box">
                                @if (FilterComponent is not null)
                                {
                                    <FluentSearch Autofocus=true
                                        style="width: 200px;"
                                        type="search"
                                        @bind-Value=FilterComponent.FilterModel.Splitter
                                        @oninput="FilterComponent.FilterModel.SplitterFilterHandler"
                                        @bind-Value:after="FilterComponent.FilterModel.SplitterFilterClear"
                                        Placeholder="Splitter"/>
                                }
                            </div>
                        </ColumnOptions>
                        <ChildContent>
                            <div class="">
                                @context.ApprovalOpportunity.Splitter
                            </div>
                        </ChildContent>
                    </TemplateColumn>
                    <TemplateColumn Title="JENIS PERMOHONAN" Style="@GetWidthStyle(ColumnWidth.JenisPermohonanPx)">
                        <div class="">
                            @context.ApprovalOpportunity.JenisPermohonan
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="TELP. PEMOHON" Style="@GetWidthStyle(ColumnWidth.TelpPemohonPx)">
                        <ColumnOptions>
                            <div class="search-box">
                                @if (FilterComponent is not null)
                                {
                                    <FluentSearch Autofocus=true
                                        style="width: 200px;"
                                        type="search"
                                        @bind-Value=FilterComponent.FilterModel.NomorTeleponPemohon
                                        @oninput="FilterComponent.FilterModel.NomorTeleponPemohonFilterHandler"
                                        @bind-Value:after="FilterComponent.FilterModel.NomorTeleponPemohonFilterClear"
                                        Placeholder="Nomor Telepon"/>
                                }
                            </div>
                        </ColumnOptions>
                        <ChildContent>
                            <div class="">
                                @context.ApprovalOpportunity.Pemohon.NomorTelepon
                            </div>
                        </ChildContent>
                    </TemplateColumn>
                    <TemplateColumn Title="EMAIL PEMOHON" Style="@GetWidthStyle(ColumnWidth.EmailPemohonPx)">
                        <ColumnOptions>
                            <div class="search-box">
                                @if (FilterComponent is not null)
                                {
                                    <FluentSearch Autofocus=true
                                        style="width: 200px;"
                                        type="search"
                                        @bind-Value=FilterComponent.FilterModel.EmailPemohon
                                        @oninput="FilterComponent.FilterModel.EmailPemohonFilterHandler"
                                        @bind-Value:after="FilterComponent.FilterModel.EmailPemohonFilterClear"
                                        Placeholder="Email"/>
                                }
                            </div>
                        </ColumnOptions>
                        <ChildContent>
                            <div class="">
                                @context.ApprovalOpportunity.Pemohon.Email
                            </div>
                        </ChildContent>
                    </TemplateColumn>
                    <TemplateColumn Title="NIK PEMOHON" Style="@GetWidthStyle(ColumnWidth.NikPemohonPx)">
                        <div class="">
                            @context.ApprovalOpportunity.Pemohon.Nik
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="NPWP PEMOHON" Style="@GetWidthStyle(ColumnWidth.NpwpPemohonPx)">
                        <div class="">
                            @context.ApprovalOpportunity.Pemohon.Npwp
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="KETERANGAN" Style="@GetWidthStyle(ColumnWidth.KeteranganPx)">
                        <div class="">
                            @context.ApprovalOpportunity.Pemohon.Keterangan
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="ALAMAT PEMOHON" Style="@GetWidthStyle(ColumnWidth.AlamatPemohonPx)">
                        <div class="">
                            @context.ApprovalOpportunity.Pemohon.Alamat
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="REGIONAL" Style="@GetWidthStyle(ColumnWidth.RegionalPx)">
                        <div class="">
                            @context.ApprovalOpportunity.Regional.Bagian
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="KANTOR PERWAKILAN" Style="@GetWidthStyle(ColumnWidth.KantorPerwakilanPx)">
                        <div class="">
                            @context.ApprovalOpportunity.Regional.KantorPerwakilan
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="PROVINSI" Style="@GetWidthStyle(ColumnWidth.ProvinsiPx)">
                        <div class="">
                            @context.ApprovalOpportunity.Regional.Provinsi
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="KABUPATEN" Style="@GetWidthStyle(ColumnWidth.KabupatenPx)">
                        <div class="">
                            @context.ApprovalOpportunity.Regional.Kabupaten
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="KECAMATAN" Style="@GetWidthStyle(ColumnWidth.KecamatanPx)">
                        <div class="">
                            @context.ApprovalOpportunity.Regional.Kecamatan
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="KELURAHAN" Style="@GetWidthStyle(ColumnWidth.KelurahanPx)">
                        <div class="">
                            @context.ApprovalOpportunity.Regional.Kelurahan
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="LATITUDE" Style="@GetWidthStyle(ColumnWidth.LatitudePx)">
                        <div class="">
                            @context.ApprovalOpportunity.Regional.Koordinat.Latitude
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="LONGITUDE" Style="@GetWidthStyle(ColumnWidth.LongitudePx)">
                        <div class="">
                            @context.ApprovalOpportunity.Regional.Koordinat.Longitude
                        </div>
                    </TemplateColumn>
                </FluentDataGrid>
            }
            else
            {
                <span>Loading...</span>
            }
        </div>

        <FluentPaginator State="@Pagination">
            <SummaryTemplate>
                <div class="d-flex flex-row align-items-center">
                    <span style="margin-right: 8px;">
                        Terdapat <strong>@(Pagination.TotalItemCount ?? 0)</strong> baris
                    </span>
                    <span style="margin-left: auto; margin-right: 10px;">
                        <FluentSelect Items="@OptionSelect.Pagination.ItemsPerPageOptions"
                            Value="@PaginationItemsPerPageOptions"
                            ValueChanged="OnItemsPerPageChanged"
                            Width="65px"/>
                    </span>
                </div>
            </SummaryTemplate>
            <PaginationTextTemplate>
                Hal. <strong>@(Pagination.CurrentPageIndex + 1)</strong> dari <strong>@(Pagination.LastPageIndex + 1)</strong> halaman
            </PaginationTextTemplate>
        </FluentPaginator>
    </Authorized>

    <NotAuthorized>
        <AccessDenied />
    </NotAuthorized>

</AuthorizeView>


@code
{
    private string _filterSection => SessionService.FilterPreference.ShowFilters ? "enable" : "filter-section-disable";
}