@page "/crm-verification"
@inherits CrmVerificationPageBase
@rendermode InteractiveServer

<PageTitle>Verifikasi CRM</PageTitle>

<FluentLabel Typo="Typography.H3" MarginBlock="0.5rem">Verifikasi CRM</FluentLabel>
<div>
    @if (!IsLoading)
    {
        <span class="page-description">Verifikasi hasil import iCRM+</span>
    }
    else
    {
        <div class="d-flex flex-row align-items-center">
            <span class="px-1">Updating</span>
            <FluentProgressRing  style="width: 14px; height: 14px;"></FluentProgressRing>
        </div>
    }

</div>

<div class="datagrid-wrapper">
    @if (WorkPapers is not null)
    {
        <FluentDataGrid Items="@WorkPapers"
            TGridItem="WorkPaper"
            Virtualize="true"
            Pagination="@Pagination"
            ItemSize="32"
            OnRowFocus="@OnRowSelected"
            EmptyContent="@HtmlFragment.EmptyContent"
            GridTemplateColumns="150px 180px 180px 200px 150px 120px 150px 250px 250px 150px 150px 150px 150px 150px 150px 150px 150px 150px 150px 180px 180px 150px 150px 150px 150px 150px 150px;">

            <PropertyColumn Title="ID PERMOHONAN" Property="@(crm => crm.ApprovalOpportunity.IdPermohonan)" Style="width: 150px;"/>
            <PropertyColumn Title="TGL PERMOHONAN" Property="@(crm => crm.ApprovalOpportunity.TglPermohonan)" Style="width: 180px;"/>
            <PropertyColumn Title="IMPORT SIGNATURE" Property="@(crm => crm.ApprovalOpportunity.ImportSignature.Alias)" Style="width: 180px;"/>
            <PropertyColumn Title="DURASI TIDAK LANJUT" Property="@(crm => DateTimeService.GetElapsedTime(crm.ApprovalOpportunity.TglPermohonan).AsReadableDateTime())" Style="width: 200px;"/>
            <PropertyColumn Title="NAMA PEMOHON" Property="@(crm => crm.ApprovalOpportunity.Pemohon.NamaLengkap)" Style="width: 150px;"/>
            <PropertyColumn Title="ID PLN" Property="@(crm => crm.ApprovalOpportunity.Pemohon.IdPln)" Style="width: 120px;"/>
            <PropertyColumn Title="LAYANAN" Property="@(crm => crm.ApprovalOpportunity.Layanan)" Style="width: 150px;"/>
            <PropertyColumn Title="SUMBER PERMOHONAN" Property="@(crm => crm.ApprovalOpportunity.SumberPermohonan)" Style="width: 250px;"/>
            <PropertyColumn Title="STATUS PERMOHONAN" Property="@(crm => crm.ApprovalOpportunity.StatusPermohonan)" Style="width: 250px;"/>
            <PropertyColumn Title="NAMA AGEN" Property="@(crm => crm.ApprovalOpportunity.Agen.NamaLengkap)" Style="width: 150px;"/>
            <PropertyColumn Title="EMAIL AGEN" Property="@(crm => crm.ApprovalOpportunity.Agen.Email)" Style="width: 150px;"/>
            <PropertyColumn Title="TELEPON AGEN" Property="@(crm => crm.ApprovalOpportunity.Agen.NomorTelepon)" Style="width: 150px;"/>
            <PropertyColumn Title="MITRA AGEN" Property="@(crm => crm.ApprovalOpportunity.Agen.Mitra)" Style="width: 150px;"/>
            <PropertyColumn Title="SPLITTER" Property="@(crm => crm.ApprovalOpportunity.Splitter)" Style="width: 150px;"/>
            <PropertyColumn Title="JENIS PERMOHONAN" Property="@(crm => crm.ApprovalOpportunity.JenisPermohonan)" Style="width: 150px;"/>
            <PropertyColumn Title="TELEPON PEMOHON" Property="@(crm => crm.ApprovalOpportunity.Pemohon.NomorTelepon)" Style="width: 150px;"/>
            <PropertyColumn Title="EMAIL PEMOHON" Property="@(crm => crm.ApprovalOpportunity.Pemohon.Email)" Style="width: 150px;"/>
            <PropertyColumn Title="NIK PEMOHON" Property="@(crm => crm.ApprovalOpportunity.Pemohon.Nik)" Style="width: 150px;"/>
            <PropertyColumn Title="NPWP PEMOHON" Property="@(crm => crm.ApprovalOpportunity.Pemohon.Npwp)" Style="width: 150px;"/>
            <PropertyColumn Title="KETERANGAN" Property="@(crm => crm.ApprovalOpportunity.Pemohon.Keterangan)" Style="width: 150px;"/>
            <PropertyColumn Title="ALAMAT PEMOHON" Property="@(crm => crm.ApprovalOpportunity.Pemohon.Alamat)" Style="width: 150px;"/>
            <PropertyColumn Title="REGIONAL" Property="@(crm => crm.ApprovalOpportunity.Regional.Bagian)" Style="width: 180px;"/>
            <PropertyColumn Title="KANTOR PERWAKILAN" Property="@(crm => crm.ApprovalOpportunity.Regional.KantorPerwakilan)" Style="width: 180px;"/>
            <PropertyColumn Title="PROVINSI" Property="@(crm => crm.ApprovalOpportunity.Regional.Provinsi)" Style="width: 150px;"/>
            <PropertyColumn Title="KABUPATEN" Property="@(crm => crm.ApprovalOpportunity.Regional.Kabupaten)" Style="width: 150px;"/>
            <PropertyColumn Title="KECAMATAN" Property="@(crm => crm.ApprovalOpportunity.Regional.Kecamatan)" Style="width: 150px;"/>
            <PropertyColumn Title="KELURAHAN" Property="@(crm => crm.ApprovalOpportunity.Regional.Kelurahan)" Style="width: 150px;"/>
            <PropertyColumn Title="LATITUDE" Property="@(crm => crm.ApprovalOpportunity.Regional.Koordinat.Latitude)" Style="width: 150px;"/>
            <PropertyColumn Title="LONGITUDE" Property="@(crm => crm.ApprovalOpportunity.Regional.Koordinat.Longitude)" Style="width: 150px;"/>

        </FluentDataGrid>
    }
    else
    {
        <span>Loading...</span>
    }
</div>

<FluentPaginator State="@Pagination">
    <SummaryTemplate>
        Terdapat <strong>@(Pagination.TotalItemCount ?? 0)</strong> baris
    </SummaryTemplate>
    <PaginationTextTemplate>
        Halaman <strong>@(Pagination.CurrentPageIndex + 1)</strong> dari <strong>@(Pagination.LastPageIndex + 1)</strong> halaman
    </PaginationTextTemplate>
</FluentPaginator>
