@attribute [Route(PageRoute.Dashboard)]
@inherits DashboardPageBase
@rendermode @(InteractiveServer.DisablePreRender())

<PageTitle>Dashboard WIP</PageTitle>

@if (UpperBoundaryPresaleData is not null)
{
    <span  span class="page-description">Dashboard Versi 2.0 (WIP)</span>
}
else
{
    <div class="d-flex flex-row align-items-center">
        <span class="px-1">Loading</span>
        <FluentProgressRing style="width: 16px; height: 16px;"></FluentProgressRing>
    </div>
}

<div>
    @if (UpperBoundaryPresaleData is not null)
    {
        <PresaleDataBoundaryFilter @ref="PresaleDataBoundaryFilter"
            OnUpperBoundaryChanged="OnUpperBoundaryChangedAsync"
            OnReload="ReloadUpperBoundaryAsync"/>

        <FluentTabs ActiveTabId="tab-1">
            <FluentTab Id="tab-1">
                <Header>
                    <FluentIcon Value="@(new Icons.Regular.Size16.DocumentCheckmark())" Color="@Color.Accent"/>
                    Status Approval
                </Header>
                <Content>
                    <ApprovalStatusTabulationStack
                        UpperBoundaryModels="@UpperBoundaryApprovalStatusReports"
                        MiddleBoundaryModels="@MiddleBoundaryApprovalStatusReports"
                        LowerBoundaryModels="@LowerBoundaryApprovalStatusReports"
                        OnMiddleBoundaryChanged="ReloadMiddleBoundaryAsync"
                        OnLowerBoundaryChanged="ReloadLowerBoundaryAsync"/>
                </Content>
            </FluentTab>
            <FluentTab Id="tab-2">
                <Header>
                    <FluentIcon Value="@(new Icons.Regular.Size16.DocumentError())" Color="@Color.Accent"/>
                    Root Cause
                </Header>
                <Content>
                    <RootCauseTabulationStack
                        UpperBoundaryModels="@UpperBoundaryCauseReports"
                        MiddleBoundaryModels="@MiddleBoundaryRootCauseReports"
                        LowerBoundaryModels="@LowerRootCauseReports"
                        OnMiddleBoundaryChanged="ReloadMiddleBoundaryAsync"
                        OnLowerBoundaryChanged="ReloadLowerBoundaryAsync"/>
                </Content>
            </FluentTab>

        </FluentTabs>
    }
</div>
