@attribute [Route(PageRoute.Dashboard)]
@inherits DashboardPageBase
@rendermode @(InteractiveServer.DisablePreRender())

<PageTitle>Dashboard WIP</PageTitle>

@if (UpperBoundaryPresaleData is not null)
{
    @* <div class="d-flex flex-row align-items-center">
        <span  span class="page-description">Dashboard Versi 3.0 (WIP)</span>
        <div class="filter-toggle">
            <FluentButton IconEnd="@(new Icons.Filled.Size20.Grid())"
                OnClick="@SessionService.FilterPreference.ToggleDashboardBoundary"/>
        </div>
    </div> *@
}
else
{
    <div class="d-flex flex-row align-items-center">
        <span class="px-1">Loading</span>
        <FluentProgressRing style="width: 16px; height: 16px;"></FluentProgressRing>
    </div>
}

<div>
    @if (UpperBoundaryPresaleData is not null)
    {
        @* <div class="@UpperBoundarySectionCss">
            <PresaleDataBoundaryFilter @ref="PresaleDataBoundaryFilter"
                OnUpperBoundaryChanged="OnUpperBoundaryChangedAsync"
                OnMiddleBoundaryChanged="ReloadMiddleBoundaryAsync"
                OnLowerBoundaryChanged="ReloadLowerBoundaryAsync"
                OnReload="ReloadUpperBoundaryAsync"/>
        </div> *@

        <FluentTabs ActiveTabId="@ActiveTabId"
            ActiveTabIdChanged="OnActiveTabIdChanged">
            <FluentTab Id="tab-1">
                <Header>
                    <FluentIcon Value="@(new Icons.Regular.Size16.DocumentCheckmark())" Color="@Color.Accent"/>
                    Status Approval
                </Header>
                <Content>
                    @if (!IsBufferLoading)
                    {
                        <ApprovalStatusTabulationStack
                            TabulationId="tab-1"
                            UpperBoundaryModels="@UpperBoundaryApprovalStatusReports"
                            MiddleBoundaryModels="@MiddleBoundaryApprovalStatusReports"
                            LowerBoundaryModels="@LowerBoundaryApprovalStatusReports"
                            PageRefresh="@(this.StateHasChanged)"
                            OpenBoundaryFilter="OpenBoundaryFilterDialogAsync"
                            OnExclusionFilter="ApplyApprovalStatusExclusionFiltersAsync"/>
                    }
                </Content>
            </FluentTab>
            <FluentTab Id="tab-2">
                <Header>
                    <FluentIcon Value="@(new Icons.Regular.Size16.DocumentError())" Color="@Color.Accent"/>
                    Root Cause
                </Header>
                <Content>
                    <RootCauseTabulationStack
                        TabulationId="tab-2"
                        UpperBoundaryModels="@UpperBoundaryCauseReports"
                        MiddleBoundaryModels="@MiddleBoundaryRootCauseReports"
                        LowerBoundaryModels="@LowerRootCauseReports"
                        PageRefresh="@(this.StateHasChanged)"
                        OpenBoundaryFilter="OpenBoundaryFilterDialogAsync"
                        OnExclusionFilter="ApplyRootCauseExclusionFilters"/>
                </Content>
            </FluentTab>
            <FluentTab Id="tab-3">
                <Header>
                    <FluentIcon Value="@(new Icons.Regular.Size16.Timer())" Color="@Color.Accent"/>
                    Aging Import
                </Header>
                <Content>
                    <ImportAgingTabulationStack
                        TabulationId="tab-3"
                        UpperBoundaryModels="@UpperBoundaryImportAgingReports"
                        MiddleBoundaryModels="@MiddleBoundaryImportAgingReports"
                        LowerBoundaryModels="@LowerBoundaryImportAgingReports"
                        OpenBoundaryFilter="OpenBoundaryFilterDialogAsync"
                        PageRefresh="@(this.StateHasChanged)"/>
                </Content>
            </FluentTab>
            <FluentTab Id="tab-4">
                <Header>
                    <FluentIcon Value="@(new Icons.Regular.Size16.Timer())" Color="@Color.Accent"/>
                    Aging Verification
                </Header>
                <Content>
                    <VerificationAgingTabulationStack
                        TabulationId="tab-4"
                        UpperBoundaryModels="@UpperBoundaryVerificationAgingReports"
                        MiddleBoundaryModels="@MiddleBoundaryVerificationAgingReports"
                        LowerBoundaryModels="@LowerBoundaryVerificationAgingReports"
                        OpenBoundaryFilter="OpenBoundaryFilterDialogAsync"
                        PageRefresh="@(this.StateHasChanged)"/>
                </Content>
            </FluentTab>
            <FluentTab Id="tab-5">
                <Header>
                    <FluentIcon Value="@(new Icons.Regular.Size16.Timer())" Color="@Color.Accent"/>
                    Aging Chat/Call Mulai
                </Header>
                <Content>
                    <ChatCallMulaiAgingTabulationStack
                        TabulationId="tab-5"
                        UpperBoundaryModels="@UpperBoundaryChatCallMulaiAgingReports"
                        MiddleBoundaryModels="@MiddleBoundaryChatCallMulaiAgingReports"
                        LowerBoundaryModels="@LowerBoundaryChatCallMulaiAgingReports"
                        OpenBoundaryFilter="OpenBoundaryFilterDialogAsync"
                        PageRefresh="@(this.StateHasChanged)"/>
                </Content>
            </FluentTab>
            <FluentTab Id="tab-6">
                <Header>
                    <FluentIcon Value="@(new Icons.Regular.Size16.Timer())" Color="@Color.Accent"/>
                    Aging Chat/Call Validasi
                </Header>
                <Content>
                    <ChatCallResponsAgingTabulationStack
                        TabulationId="tab-6"
                        UpperBoundaryModels="@UpperBoundaryChatCallResponsAgingReports"
                        MiddleBoundaryModels="@MiddleBoundaryChatCallResponsAgingReports"
                        LowerBoundaryModels="@LowerBoundaryChatCallResponsAgingReports"
                        OpenBoundaryFilter="OpenBoundaryFilterDialogAsync"
                        PageRefresh="@(this.StateHasChanged)"/>
                </Content>
            </FluentTab>
            <FluentTab Id="tab-7">
                <Header>
                    <FluentIcon Value="@(new Icons.Regular.Size16.Timer())" Color="@Color.Accent"/>
                    Aging Approval
                </Header>
                <Content>
                    <ApprovalAgingTabulationStack
                        TabulationId="tab-7"
                        UpperBoundaryModels="@UpperBoundaryApprovalAgingReportModels"
                        MiddleBoundaryModels="@MiddleBoundaryApprovalAgingReportModels"
                        LowerBoundaryModels="@LowerBoundaryApprovalAgingReportModels"
                        OpenBoundaryFilter="OpenBoundaryFilterDialogAsync"
                        PageRefresh="@(this.StateHasChanged)"/>
                </Content>
            </FluentTab>
        </FluentTabs>
    }
</div>
