@attribute [Route(PageRoute.Dashboard)]
@inherits DashboardPageBase
@rendermode @(InteractiveServer.DisablePreRender())

<PageTitle>Dashboard</PageTitle>

<AuthorizeView Policy="@Policies.AdministratorPrivilege"
    Context="AuthenticationContext">

    <Authorized>
        <FluentLabel Typo="Typography.H3" MarginBlock="0.5rem">Dashboard</FluentLabel>
        @* <span class="page-description">Laporan data Presale</span> *@

        <div>
            @if (MonthlyPresaleData is not null)
            {
                <FluentTabs ActiveTabId="tab-1">
                    <FluentTab Id="tab-1">
                        <Header>
                            <FluentIcon Value="@(new Icons.Regular.Size16.DocumentCheckmark())" Color="@Color.Accent"/>
                            Status Approval
                        </Header>
                        <Content>

                            <div>Presale Data: @MonthlyPresaleData.Count()</div>

                            <h4 style="margin-top: 8px;">
                                Data Presale bulan @CurrentMonth @CurrentYear
                            </h4>
                            <ApprovalStatusReportTable Models="@MonthlyApprovalStatusReports"/>

                            <div style="margin-top: 8px;">
                                Data Presale minggu ke-@CurrentWeek bulan @CurrentMonth
                            </div>
                            <ApprovalStatusReportTable Models="@WeeklyApprovalStatusReports"/>


                            <div style="margin-top: 8px;">
                                Data Presale hari ini
                            </div>
                            <ApprovalStatusReportTable Models="@DailyApprovalStatusReports"/>

                        </Content>
                    </FluentTab>
                    <FluentTab Id="tab-2">
                        <Header>
                            <FluentIcon Value="@(new Icons.Regular.Size16.DocumentError())" Color="@Color.Accent"/>
                            Root Cause
                        </Header>
                        <Content>
                            <h4 style="margin-top: 8px;">
                                Root Cause @CurrentMonth @CurrentYear
                            </h4>
                            <RootCauseReportTable Models="@MonthlyRootCauseReports"/>
                        </Content>
                    </FluentTab>
                    <FluentTab Id="tab-3">
                        <Header>
                            <FluentIcon Value="@(new Icons.Regular.Size16.Timer())" Color="@Color.Accent"/>
                            Aging Import
                        </Header>
                        <Content>
                            <h4 style="margin-top: 8px;">
                                Aging PAC Import bulan @CurrentMonth @CurrentYear
                            </h4>
                            <div>
                                Akumulasi dengan waktu freeze di luar jam kerja 21:00 s/d 08:00
                            </div>
                            <ImportAgingReportTable Models="@MonthlyImportAgingReports"/>
                        </Content>
                    </FluentTab>
                    <FluentTab Id="tab-4">
                        <Header>
                            <FluentIcon Value="@(new Icons.Regular.Size16.Timer())" Color="@Color.Accent"/>
                            Aging Verifikasi
                        </Header>
                        <Content>
                            <h4 style="margin-top: 8px;">
                                Aging PAC iCRM+ verifikasi bulan @CurrentMonth @CurrentYear
                            </h4>
                            <div>
                                Akumulasi dengan waktu freeze di luar jam kerja 21:00 s/d 08:00
                            </div>
                            <VerificationAgingReportTable Models="@MonthlyVerificationAgingReports"/>
                        </Content>
                    </FluentTab>
                    <FluentTab Id="tab-5">
                        <Header>
                            <FluentIcon Value="@(new Icons.Regular.Size16.Timer())" Color="@Color.Accent"/>
                            Aging Chat/Call Mulai
                        </Header>
                        <Content>
                            <h4 style="margin-top: 8px;">
                                Aging Helpdesk inisiasi chat/call bulan @CurrentMonth @CurrentYear
                            </h4>
                            <div>
                                Akumulasi dengan waktu freeze di luar jam kerja 21:00 s/d 08:00
                            </div>
                            <ChatCallMulaiAgingReportTable Models="@MonthlyChatCallMulaiAgingReports"/>
                        </Content>
                    </FluentTab>
                    <FluentTab Id="tab-6">
                        <Header>
                            <FluentIcon Value="@(new Icons.Regular.Size16.Timer())" Color="@Color.Accent"/>
                            Aging Chat/Call Validasi
                        </Header>
                        <Content>
                            <h4 style="margin-top: 8px;">
                                Aging Helpdesk validasi bulan @CurrentMonth @CurrentYear
                            </h4>
                            <div>
                                Akumulasi dengan waktu freeze di luar jam kerja 21:00 s/d 08:00
                            </div>
                            <ChatCallResponsAgingReportTable Models="@MonthlyChatCallResponsAgingReports"/>
                        </Content>
                    </FluentTab>
                    <FluentTab Id="tab-7">
                        <Header>
                            <FluentIcon Value="@(new Icons.Regular.Size16.Timer())" Color="@Color.Accent"/>
                            Aging Approval
                        </Header>
                        <Content>
                            <h4 style="margin-top: 8px;">
                                Aging PAC approval bulan @CurrentMonth @CurrentYear
                            </h4>
                            <div>
                                Akumulasi dengan waktu freeze di luar jam kerja 21:00 s/d 08:00
                            </div>
                            <ApprovalAgingReportModel Models="@MonthlyApprovalAgingReportModels"/>
                        </Content>
                    </FluentTab>
                </FluentTabs>
            }
            else
            {
                <div class="d-flex flex-row align-items-center">
                    <span class="px-1">Loading</span>
                    <FluentProgressRing style="width: 16px; height: 16px;"></FluentProgressRing>
                </div>
            }
        </div>

    </Authorized>

    <NotAuthorized>
        <AccessDenied />
    </NotAuthorized>

</AuthorizeView>

