@attribute [Route(PageRoute.Dashboard)]
@inherits DashboardPageBase
@rendermode @(InteractiveServer.DisablePreRender())

<PageTitle>Dashboard WIP</PageTitle>

@if (UpperBoundaryPresaleData is not null)
{
    <div class="d-flex flex-row align-items-center">
        <span  span class="page-description">Dashboard Versi 2.0 (WIP)</span>
        <div class="filter-toggle">
            <FluentButton IconEnd="@(new Icons.Filled.Size20.Grid())"
                OnClick="@SessionService.FilterPreference.ToggleFilters"/>
        </div>
    </div>
}
else
{
    <div class="d-flex flex-row align-items-center">
        <span class="px-1">Loading</span>
        <FluentProgressRing style="width: 16px; height: 16px;"></FluentProgressRing>
    </div>
}

<div>
    @if (UpperBoundaryPresaleData is not null)
    {
        <div class="@FilterSectionCss">
            <PresaleDataBoundaryFilter @ref="PresaleDataBoundaryFilter"
                OnUpperBoundaryChanged="OnUpperBoundaryChangedAsync"
                OnReload="ReloadUpperBoundaryAsync"/>
        </div>

        <FluentTabs @bind-ActiveTabId="@_activeTabId">
            <FluentTab Id="tab-1">
                <Header>
                    <FluentIcon Value="@(new Icons.Regular.Size16.DocumentCheckmark())" Color="@Color.Accent"/>
                    Status Approval
                </Header>
                <Content>
                    <ApprovalStatusTabulationStack
                        UpperBoundaryModels="@UpperBoundaryApprovalStatusReports"
                        MiddleBoundaryModels="@MiddleBoundaryApprovalStatusReports"
                        LowerBoundaryModels="@LowerBoundaryApprovalStatusReports"
                        OnMiddleBoundaryChanged="ReloadMiddleBoundaryAsync"
                        OnLowerBoundaryChanged="ReloadLowerBoundaryAsync"/>
                </Content>
            </FluentTab>
            <FluentTab Id="tab-2">
                <Header>
                    <FluentIcon Value="@(new Icons.Regular.Size16.DocumentError())" Color="@Color.Accent"/>
                    Root Cause
                </Header>
                <Content>
                    <RootCauseTabulationStack
                        UpperBoundaryModels="@UpperBoundaryCauseReports"
                        MiddleBoundaryModels="@MiddleBoundaryRootCauseReports"
                        LowerBoundaryModels="@LowerRootCauseReports"
                        OnMiddleBoundaryChanged="ReloadMiddleBoundaryAsync"
                        OnLowerBoundaryChanged="ReloadLowerBoundaryAsync"
                        OnExclusionFilter="ApplyFilters"/>
                </Content>
            </FluentTab>

        </FluentTabs>
    }
</div>

@code
{
    private string _activeTabId = "tab-1";
}