@attribute [Route(PageRoute.Dashboard)]
@inherits DashboardPageBase
@rendermode @(InteractiveServer.DisablePreRender())

<PageTitle>Dashboard WIP</PageTitle>

@if (UpperBoundaryPresaleData is not null)
{
    <div class="d-flex flex-row align-items-center">
        <span  span class="page-description">Dashboard Versi 2.0 (WIP)</span>
        <div class="filter-toggle">
            <FluentButton IconEnd="@(new Icons.Filled.Size20.Grid())"
                OnClick="@SessionService.FilterPreference.ToggleDashboardBoundary"/>
        </div>
    </div>
}
else
{
    <div class="d-flex flex-row align-items-center">
        <span class="px-1">Loading</span>
        <FluentProgressRing style="width: 16px; height: 16px;"></FluentProgressRing>
    </div>
}

<div>
    @if (UpperBoundaryPresaleData is not null)
    {
        <div class="@UpperBoundarySectionCss">
            <PresaleDataBoundaryFilter @ref="PresaleDataBoundaryFilter"
                OnUpperBoundaryChanged="OnUpperBoundaryChangedAsync"
                OnReload="ReloadUpperBoundaryAsync"/>
        </div>

        <FluentTabs @bind-ActiveTabId="@_activeTabId">
            <FluentTab Id="tab-1">
                <Header>
                    <FluentIcon Value="@(new Icons.Regular.Size16.DocumentCheckmark())" Color="@Color.Accent"/>
                    Status Approval
                </Header>
                <Content>
                    <ApprovalStatusTabulationStack
                        UpperBoundaryModels="@UpperBoundaryApprovalStatusReports"
                        MiddleBoundaryModels="@MiddleBoundaryApprovalStatusReports"
                        LowerBoundaryModels="@LowerBoundaryApprovalStatusReports"
                        OnMiddleBoundaryChanged="ReloadMiddleBoundaryAsync"
                        OnLowerBoundaryChanged="ReloadLowerBoundaryAsync"/>
                </Content>
            </FluentTab>
            <FluentTab Id="tab-2">
                <Header>
                    <FluentIcon Value="@(new Icons.Regular.Size16.DocumentError())" Color="@Color.Accent"/>
                    Root Cause
                </Header>
                <Content>
                    <RootCauseTabulationStack
                        UpperBoundaryModels="@UpperBoundaryCauseReports"
                        MiddleBoundaryModels="@MiddleBoundaryRootCauseReports"
                        LowerBoundaryModels="@LowerRootCauseReports"
                        OnMiddleBoundaryChanged="ReloadMiddleBoundaryAsync"
                        OnLowerBoundaryChanged="ReloadLowerBoundaryAsync"
                        OnExclusionFilter="ApplyFilters"/>
                </Content>
            </FluentTab>
            <FluentTab Id="tab-3">
                <Header>
                    <FluentIcon Value="@(new Icons.Regular.Size16.Timer())" Color="@Color.Accent"/>
                    Aging Import
                </Header>
                <Content>
                    <ImportAgingTabulationStack
                        UpperBoundaryModels="@UpperBoundaryImportAgingReports"
                        MiddleBoundaryModels="@MiddleBoundaryImportAgingReports"
                        LowerBoundaryModels="@LowerBoundaryImportAgingReports"
                        OnMiddleBoundaryChanged="ReloadMiddleBoundaryAsync"
                        OnLowerBoundaryChanged="ReloadLowerBoundaryAsync"/>
                </Content>
            </FluentTab>
            <FluentTab Id="tab-4">
                <Header>
                    <FluentIcon Value="@(new Icons.Regular.Size16.Timer())" Color="@Color.Accent"/>
                    Aging Verification
                </Header>
                <Content>
                    <VerificationAgingTabulationStack
                        UpperBoundaryModels="@UpperBoundaryVerificationAgingReports"
                        MiddleBoundaryModels="@MiddleBoundaryVerificationAgingReports"
                        LowerBoundaryModels="@LowerBoundaryVerificationAgingReports"
                        OnMiddleBoundaryChanged="ReloadMiddleBoundaryAsync"
                        OnLowerBoundaryChanged="ReloadLowerBoundaryAsync"/>
                </Content>
            </FluentTab>
            <FluentTab Id="tab-5">
                <Header>
                    <FluentIcon Value="@(new Icons.Regular.Size16.Timer())" Color="@Color.Accent"/>
                    Aging Chat/Call Mulai
                </Header>
                <Content>
                    <ChatCallMulaiAgingTabulationStack
                        UpperBoundaryModels="@UpperBoundaryChatCallMulaiAgingReports"
                        MiddleBoundaryModels="@MiddleBoundaryChatCallMulaiAgingReports"
                        LowerBoundaryModels="@LowerBoundaryChatCallMulaiAgingReports"
                        OnMiddleBoundaryChanged="ReloadMiddleBoundaryAsync"
                        OnLowerBoundaryChanged="ReloadLowerBoundaryAsync"/>
                </Content>
            </FluentTab>
            <FluentTab Id="tab-6">
                <Header>
                    <FluentIcon Value="@(new Icons.Regular.Size16.Timer())" Color="@Color.Accent"/>
                    Aging Chat/Call Validasi
                </Header>
                <Content>
                    <ChatCallResponsAgingTabulationStack
                        UpperBoundaryModels="@UpperBoundaryChatCallResponsAgingReports"
                        MiddleBoundaryModels="@MiddleBoundaryChatCallResponsAgingReports"
                        LowerBoundaryModels="@LowerBoundaryChatCallResponsAgingReports"
                        OnMiddleBoundaryChanged="ReloadMiddleBoundaryAsync"
                        OnLowerBoundaryChanged="ReloadLowerBoundaryAsync"/>
                </Content>
            </FluentTab>
            <FluentTab Id="tab-7">
                <Header>
                    <FluentIcon Value="@(new Icons.Regular.Size16.Timer())" Color="@Color.Accent"/>
                    Aging Approval
                </Header>
                <Content>
                    <ApprovalAgingTabulationStack
                        UpperBoundaryModels="@UpperBoundaryApprovalAgingReportModels"
                        MiddleBoundaryModels="@MiddleBoundaryApprovalAgingReportModels"
                        LowerBoundaryModels="@LowerBoundaryApprovalAgingReportModels"
                        OnMiddleBoundaryChanged="ReloadMiddleBoundaryAsync"
                        OnLowerBoundaryChanged="ReloadLowerBoundaryAsync"/>
                </Content>
            </FluentTab>
        </FluentTabs>
    }
</div>

@code
{
    private string _activeTabId = "tab-1";
}