@attribute [Route(PageRoute.Developer)]
@inherits DeveloperPageBase
@rendermode @(InteractiveServer.DisablePreRender())

<PageTitle>Developer Access</PageTitle>

<AuthorizeView Policy="@Policies.DeveloperAccess"
    Context="AuthenticationContext">

    <Authorized>

        <div class="d-flex flex-row align-items-center">
            <FluentLabel Typo="Typography.H3" MarginBlock="0.5rem">Dev's Backdoor</FluentLabel>
        </div>
        <div class="d-flex flex-column align-items-start">
            <span class="page-description">Developer only page</span>
        </div>

        <div>
            @if (MonthlyPresaleData is not null)
            {
            <h3>Customer Response Aging Report</h3>

            <table class="table" style="width: fit-content;">
                <thead>
                    <tr>
                        <th>AVG</th>
                        <th>MIN</th>
                        <th>MAX</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@MonthlyCustomerResponseAgingReport.GetDisplayAverageAging()</td>
                        <td>@MonthlyCustomerResponseAgingReport.GetDisplayMinAging()</td>
                        <td>@MonthlyCustomerResponseAgingReport.GetDisplayMaxAging()</td>
                    </tr>
                </tbody>
            </table>

            <table class="table" style="width: fit-content;">
                <thead>
                    <tr>
                        <th>Username Helpdesk</th>
                        <th>AVG</th>
                        <th>MIN</th>
                        <th>MAX</th>
                        <th>Validasi Mulai Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var report in MonthlyChatCallResponsAgingReport)
                    {
                        <tr>
                            <td>@report.Username</td>
                            <td>@report.GetDisplayAverageAging()</td>
                            <td>@report.GetDisplayMinAging()</td>
                            <td>@report.GetDisplayMaxAging()</td>
                            <td>@report.GetDisplayChatCallResponsTotal()</td>
                        </tr>
                    }
                </tbody>
            </table>
            }
            else
            {
                <FluentProgressRing />
            }
        </div>

    </Authorized>

    <NotAuthorized>
        <AccessDenied />
    </NotAuthorized>

</AuthorizeView>
