@attribute [Route(PageRoute.Developer)]
@inherits DeveloperPageBase
@rendermode @(InteractiveServer.DisablePreRender())

<PageTitle>Developer Access</PageTitle>

<AuthorizeView Policy="@Policies.DeveloperAccess"
    Context="AuthenticationContext">

    <Authorized>

        <div class="d-flex flex-row align-items-center">
            <FluentLabel Typo="Typography.H3" MarginBlock="0.5rem">Dev's Backdoor</FluentLabel>
        </div>
        @* <div class="d-flex flex-column align-items-start">
            <span class="page-description">Developer only page</span>
        </div> *@

        @if  (UpperBoundaryPresaleData is not null)
        {
            <span  span class="page-description">Dashboard</span>
        }
        else
        {
            <div class="d-flex flex-row align-items-center">
                <span class="px-1">Loading</span>
                <FluentProgressRing style="width: 16px; height: 16px;"></FluentProgressRing>
            </div>
        }

        <div>
            @if (UpperBoundaryPresaleData is not null)
            {
                <PresaleDataBoundaryFilter @ref="PresaleDataBoundaryFilter"
                    OnUpperBoundaryChanged="OnUpperBoundaryChangedAsync"
                    OnReload="ReloadPresaleDataAsync"/>

                <FluentTabs ActiveTabId="tab-1">
                    <FluentTab Id="tab-1">
                        <Header>
                            <FluentIcon Value="@(new Icons.Regular.Size16.DocumentCheckmark())" Color="@Color.Accent"/>
                            Status Approval
                        </Header>
                        <Content>

                            <div class="d-flex flex-row align-items-top">

                                <div class="d-flex flex-column" style="margin-left: 4px; margin-right: 8px;">
                                    <FluentButton Appearance="@_monthlyToggleAppearance"
                                        style="width: 135px; margin-bottom: 8px;"
                                        OnClick="ToggleToMonthlyView">
                                        Monthly</FluentButton>
                                    <FluentButton Appearance="@_weeklyToggleAppearance"
                                        style="width: 135px; margin-bottom: 8px;"
                                        OnClick="ToggleToWeeklyView">
                                        Weekly</FluentButton>
                                    <FluentButton Appearance="@_dailyToggleAppearance"
                                        style="width: 135px ;margin-bottom: 8px;"
                                        OnClick="ToggleToDailyView">
                                        Daily</FluentButton>
                                </div>

                                <div class="d-flex flex-column">
                                    <div style="@_monthlyToggleDislayStyle">
                                        <div>Presale Data: @UpperBoundaryPresaleData.Count()</div>

                                        <ApprovalStatusReportTable Models="@UpperBoundaryApprovalStatusReports"/>
                                    </div>
                                    <div style="@_weeklyToggleDislayStyle">
                                        <div>Presale Data: @MiddleBoundaryPresaleData!.Count()</div>
                                        <ApprovalStatusReportTable Models="@MiddleBoundaryApprovalStatusReports"/>
                                    </div>
                                    <div style="@_dialyToggleDislayStyle">
                                        <ApprovalStatusReportTable Models="@LowerBoundaryApprovalStatusReports"/>
                                    </div>
                                </div>

                            </div>

                        </Content>
                    </FluentTab>

                </FluentTabs>
            }
        </div>

        @* <FluentOverlay @bind-Visible=@IsLoading
            Opacity="0.4"
            Alignment="@Align.Center"
            Justification="@JustifyContent.Center">
            <FluentProgressRing />
        </FluentOverlay> *@

    </Authorized>

    <NotAuthorized>
        <AccessDenied />
    </NotAuthorized>

</AuthorizeView>


@code
{
    private Appearance _monthlyToggleAppearance => IsMonthlySelected ? Appearance.Accent : Appearance.Neutral;
    private Appearance _weeklyToggleAppearance => IsWeeklySelected ? Appearance.Accent : Appearance.Neutral;
    private Appearance _dailyToggleAppearance => IsDailySelected ? Appearance.Accent : Appearance.Neutral;

    private string _monthlyToggleDislayStyle => IsMonthlySelected ? "" : "display: none";
    private string _weeklyToggleDislayStyle => IsWeeklySelected ? "" : "display: none";
    private string _dialyToggleDislayStyle => IsDailySelected ? "" : "display: none";

}