@attribute [Route(PageRoute.Developer)]
@inherits DeveloperPageBase
@rendermode @(InteractiveServer.DisablePreRender())

<PageTitle>Developer Access</PageTitle>

<AuthorizeView Policy="@Policies.DeveloperAccess"
    Context="AuthenticationContext">

    <Authorized>

        <div class="d-flex flex-row align-items-center">
            <FluentLabel Typo="Typography.H3" MarginBlock="0.5rem">Dev's Backdoor</FluentLabel>
        </div>
        <div class="d-flex flex-column align-items-start">
            <span class="page-description">Developer only page</span>

            @* <div class="searchbar-stack">
                <FluentSearch
                    Value=@IdPermohonan
                    ValueChanged="OnIdPermohonanSearchChanged"
                    Placeholder="ID PERMOHONAN"/>
                <div class="p-2">
                @if (IsLoading)
                {
                    <FluentProgressRing style="width: 16px; height: 16px;"></FluentProgressRing>
                }
                </div>
            </div> *@

    @* <FluentAutocomplete TOption="string"
        Multiple="false"
        AutoComplete="true"
        Autofocus="true"
        Label="Root Cause"
        Width="250px"
        OnOptionsSearch="@OnSearchAsync"
        @bind-SelectedOption="@_rootCause"
        MaximumSelectedOptions="1"/> *@

        <FluentPopover Style="width: 300px;"
            AnchorId="root-cause-popover"
            VerticalPosition="VerticalPosition.Top"
            @bind-Open="@IsPopoverVisible">
            <Body>
                <FluentListbox TOption="string"
                    Items="@RootCauses"
                    Height="@DropdownHeightPx"
                    Width="300px"
                    Value="@SelectedRootCause"
                    ValueChanged="OnRootCauseChanged"/>
                <FluentSearch style="width: 300px;"
                    @bind-Value=@RootCauseFilter
                    Immediate="true"
                    Placeholder="Root Cause"></FluentSearch>
            </Body>
        </FluentPopover>

        <div class="root-cause-options">
            <FluentButton Appearance="Appearance.Neutral"
                id="root-cause-popover"
                style="width: 300px"
                OnClick="@OpenPopover">
                @SelectedRootCause</FluentButton>
        </div>
        @* <FluentSearch style="width: 300px"
            @bind-Value=@RootCauseFilter
            Immediate="true"
            Placeholder="Root Cause"></FluentSearch>
        <FluentListbox TOption="string"
            Items="@RootCauses"
            Height="@DropdownHeightPx"
            Width="300px"
            @bind-Value="@SelectedRootCause" /> *@






        </div>

    </Authorized>

    <NotAuthorized>
        <AccessDenied />
    </NotAuthorized>

</AuthorizeView>

@code
{
    private string _rootCause = string.Empty;
}