@attribute [Route(PageRoute.Helpdesk)]
@inherits HelpdeskPageBase
@rendermode @(InteractiveServer.DisablePreRender())

<PageTitle>Helpdesk</PageTitle>

<div class="d-flex flex-row align-items-center">
    <FluentLabel Typo="Typography.H3" MarginBlock="0.5rem">Helpdesk</FluentLabel>
    <div class="staging-table-toggle">
        <FluentButton IconEnd="@(new Icons.Regular.Size20.Grid())"
            OnClick="@(() => ShowStagingClaims = !ShowStagingClaims)"/>
    </div>
</div>
<span class="page-description">Proses validasi permohonan</span>

<FluentStack Orientation="Orientation.Horizontal"
    HorizontalAlignment="HorizontalAlignment.Start"
    Style="margin-top: 0.5rem;">

    @if (WorkPapers is not null)
    {
        <div>
            <CascadingValue Name="CascadeWorkPaper" Value="@ActiveWorkPaper">
                <CascadingValue Name="CascadeValidationModel" Value="@ActiveValidationModel">
                    <WorkloadValidationForm />
                </CascadingValue>
            </CascadingValue>
        </div>
        <div class="staging-table" style="@MaxWidthStyle">
            @if (ShowStagingClaims)
            {
                <FluentDataGrid Items="@WorkPapers"
                    TGridItem="WorkPaper"
                    Virtualize="true"
                    Pagination="@Pagination"
                    ItemSize="32"
                    OnRowFocus="@OnRowSelected"
                    EmptyContent="@HtmlFragment.EmptyContent"
                    GridTemplateColumns="@GridTemplateCols">

                <TemplateColumn Title="ID PERMOHONAN"
                    SortBy="@SortByIdPermohonan"
                    Style="@IdPermohonanStyle">
                    <div class="">
                        @context.ApprovalOpportunity.IdPermohonan
                    </div>
                </TemplateColumn>
                <TemplateColumn Title="PIC"
                    SortBy="@SortByStagingStatus"
                    Style="@StagingStatusStyle">
                    @if (IsStillInCharge(context))
                    {
                        <div class="">
                            Active
                        </div>
                    }
                    else
                    {
                        <div class="">
                            Expired
                        </div>
                    }
                </TemplateColumn>
                </FluentDataGrid>

                <div style="display: none;">
                    <FluentPaginator State="@Pagination">
                    </FluentPaginator>
                </div>
            }
        </div>
    }
    else
    {
        <span>Loading...</span>
    }

</FluentStack>
