@page "/helpdesk"
@inherits HelpdeskPageBase
@rendermode InteractiveServer

<PageTitle>Helpdesk</PageTitle>

<FluentLabel Typo="Typography.H3" MarginBlock="0.5rem">Helpdesk</FluentLabel>
<div class="d-flex flex-column align-items-start">
    <span class="page-description">Proses validasi permohonan</span>
    <div style="margin-left: -5px; margin-bottom: 0.5rem;">
        <FluentButton Class="m-1"
            Appearance="Appearance.Lightweight"
            IconEnd="@(ShowClaims ? new Icons.Regular.Size20.DocumentSplitHintOff() : new Icons.Regular.Size20.Document())"
            OnClick="@(() => ShowClaims = !ShowClaims)">
            @ToggleText
        </FluentButton>
    </div>
</div>

<FluentStack Orientation="Orientation.Horizontal"
    HorizontalAlignment="HorizontalAlignment.Start"
    Style="margin-top: 0.5rem;">

    @if (WorkPapers is not null)
    {
        <div>
            @if (ShowClaims)
            {
                <FluentDataGrid Items="@WorkPapers"
                    TGridItem="WorkPaper"
                    Virtualize="true"
                    ItemSize="32"
                    OnRowFocus="@OnRowSelected"
                    EmptyContent="@HtmlFragment.EmptyContent"
                    GridTemplateColumns="185px 80px">

                <TemplateColumn Title="ID PERMOHONAN" Style="width: 185px;">
                    <div class="">
                        @context.ApprovalOpportunity.IdPermohonan
                    </div>
                </TemplateColumn>
                <TemplateColumn Title="PIC" Style="width: 80px;">
                    @if (IsStillInCharge(context))
                    {
                        <div class="">
                            Active
                        </div>
                    }
                    else
                    {
                        <div class="">
                            Expired
                        </div>
                    }
                </TemplateColumn>
                </FluentDataGrid>
            }
        </div>
        <div>
            <CascadingValue Name="CascadeWorkPaper" Value="@WorkPaper">
                <WorkloadValidationForm />
            </CascadingValue>
        </div>
    }
    else
    {
        <span>Loading...</span>
    }

</FluentStack>
