@page "/helpdesk-staging"
@inherits HelpdeskStagingPageBase
@rendermode InteractiveServer

<PageTitle>Helpdesk Staging</PageTitle>

<FluentLabel Typo="Typography.H3" MarginBlock="0.5rem">Helpdesk Staging</FluentLabel>
<span class="page-description">Klaim permohonan</span>

<div class="datagrid-wrapper">
    @if (WorkPapers is not null)
    {
        <FluentDataGrid Items="@WorkPapers"
            TGridItem="WorkPaper"
            Virtualize="true"
            Pagination="@Pagination"
            ItemSize="32"
            OnRowFocus="@OnRowSelected"
            EmptyContent="@HtmlFragment.EmptyContent"
            GridTemplateColumns="@GridTemplateCols">

            <TemplateColumn Title="ID PERMOHONAN" SortBy="@SortByIdPermohonan" Style="width: 185px;">
                <div class="">
                    @context.ApprovalOpportunity.IdPermohonan
                </div>
            </TemplateColumn>
            <TemplateColumn Title="PIC CHAT/CALL" Style="width: 150px;">
                <div class="">
                    @if (string.IsNullOrEmpty(context.HelpdeskInCharge.Alias))
                    {
                        <span>Menunggu Klaim</span>
                    }
                    else
                    {
                        @context.HelpdeskInCharge.Alias
                    }
                </div>
            </TemplateColumn>
            <TemplateColumn Title="SHIFT" Style="width: 120px;">
                <div class="">
                    @context.Shift
                </div>
            </TemplateColumn>
            <TemplateColumn Title="TGL CHAT/CALL HELPDESK" Style="width: 150px;">
                <div class="">
                    @context.ProsesValidasi.ChatCallMulai.TglAksi
                </div>
            </TemplateColumn>
            <TemplateColumn Title="NAMA PELANGGAN" Style="width: 150px;">
                <div class="">
                    @context.ProsesValidasi.ParameterValidasi.NamaPelanggan
                </div>
            </TemplateColumn>
            <TemplateColumn Title="NOMOR TELP AKTIF" Style="width: 150px;">
                <div class="">
                    @context.ProsesValidasi.ParameterValidasi.NomorTelepon
                </div>
            </TemplateColumn>
            <TemplateColumn Title="EMAIL AKTIF" Style="width: 150px;">
                <div class="">
                    @context.ProsesValidasi.ParameterValidasi.Email
                </div>
            </TemplateColumn>
            <TemplateColumn Title="ALAMAT PELANGGAN" Style="width: 150px;">
                <div class="">
                    @context.ProsesValidasi.ParameterValidasi.AlamatPelanggan
                </div>
            </TemplateColumn>
            <TemplateColumn Title="ID PLAN" Style="width: 150px;">
                <div class="">
                    @context.ProsesValidasi.ParameterValidasi.PlnId
                </div>
            </TemplateColumn>
            <TemplateColumn Title="SHARE LOC" Style="width: 150px;">
                <div class="">
                    @context.ProsesValidasi.ParameterValidasi.ShareLoc.LatitudeLongitude
                </div>
            </TemplateColumn>
            <TemplateColumn Title="TGL CHAT/CALL DIJAWAB" Style="width: 150px;">
                <div class="">
                    @context.ProsesValidasi.ChatCallRespons.TglAksi
                </div>
            </TemplateColumn>
            <TemplateColumn Title="REKAP CHAT HISTORY" Style="width: 150px;">
                <div class="">
                    @context.ProsesValidasi.LinkRecapChatHistory
                </div>
            </TemplateColumn>
            <TemplateColumn Title="STATUS VALIDASI" Style="width: 150px;">
                <div class="">
                    @context.ProsesValidasi.StatusValidasi
                </div>
            </TemplateColumn>
            <TemplateColumn Title="KETERANGAN VALIDASI" Style="width: 250px;">
                <div class="">
                    @context.ProsesValidasi.StatusValidasi
                </div>
            </TemplateColumn>
            <TemplateColumn Title="CONTACT WHATSAPP" Style="width: 225px;">
                <div class="">
                    @{
                        var url = $"http://{context.ApprovalOpportunity.Pemohon.WhatsApp}";
                    }
                    <FluentAnchor Href="@url" Target="_blank" Appearance="Appearance.Lightweight">
                        @context.ApprovalOpportunity.Pemohon.WhatsApp
                    </FluentAnchor>
                </div>
            </TemplateColumn>
        </FluentDataGrid>
    }
    else
    {
        <span>Loading...</span>
    }
</div>

<FluentPaginator State="@Pagination">
    <SummaryTemplate>
        Terdapat <strong>@(Pagination.TotalItemCount ?? 0)</strong> baris
    </SummaryTemplate>
    <PaginationTextTemplate>
        Hal. <strong>@(Pagination.CurrentPageIndex + 1)</strong> dari <strong>@(Pagination.LastPageIndex + 1)</strong> halaman
    </PaginationTextTemplate>
</FluentPaginator>
