@page "/"
@rendermode InteractiveServer

@using IConnet.Presale.WebApp.Models.Identity
@using IConnet.Presale.WebApp.Services

@inject SessionService _sessionService

<PageTitle>Home</PageTitle>

<FluentCard Width="300px">
    <AuthorizeView>
        <Authorized>
            <FluentStack>
                <FluentPresenceBadge OutOfOffice=true Status="PresenceStatus.Available">
                    <FluentIcon Value="@(new Icons.Filled.Size48.Person())" />
                </FluentPresenceBadge>
                <div class="d-flex flex-column">
                    <span>@_sessionService.UserModel!.Username (@_sessionService.UserModel.Role)</span>
                    <FluentBadge Appearance="Appearance.Accent">
                        @_sessionService.UserModel!.JobTitle
                    </FluentBadge>
                </div>
            </FluentStack>
        </Authorized>
        <NotAuthorized>
            <FluentPresenceBadge OutOfOffice=true Status="PresenceStatus.DoNotDisturb">
                <FluentIcon Value="@(new Icons.Filled.Size48.Person())" />
            </FluentPresenceBadge>
            <span>Guest</span>
        </NotAuthorized>
        <Authorizing>
            <FluentPresenceBadge OutOfOffice=true Status="PresenceStatus.DoNotDisturb">
                <FluentIcon Value="@(new Icons.Filled.Size48.Person())" />
            </FluentPresenceBadge>
            <span>Guest</span>
        </Authorizing>
    </AuthorizeView>
</FluentCard>

@code
{

}