@attribute [Route(PageRoute.Settings)]
@rendermode @(InteractiveServer.DisablePreRender())
@inherits SettingsPageBase

@using IConnet.Presale.WebApp.Components.Settings.ChatTemplates
@using IConnet.Presale.WebApp.Components.Settings.DirectApprovals
@using IConnet.Presale.WebApp.Components.Settings.OfficeHours
@using IConnet.Presale.WebApp.Components.Settings.RootCauses
@using IConnet.Presale.WebApp.Components.Settings.SLA

<PageTitle>Settings</PageTitle>

<FluentLabel Typo="Typography.H3" MarginBlock="0.5rem">Settings</FluentLabel>

@if (IsInitialized)
{
    <span class="page-description">Configure App Settings</span>

    <FluentTabs @bind-ActiveTabId="@_activeTabId">
        <FluentTab Id="tab-1">
            <Header>
                <FluentIcon Value="@(new Icons.Regular.Size16.DocumentError())" Color="@Color.Accent"/>
                Root Cause
            </Header>
            <Content>
                <RootCauseSetting Models="RootCauseSettingModels"
                    OnRootCauseAdded="ReloadRootCauseAsync"/>
            </Content>
        </FluentTab>
        <FluentTab Id="tab-2">
            <Header>
                <FluentIcon Value="@(new Icons.Regular.Size16.DocumentCheckmark())" Color="@Color.Accent"/>
                Direct Approval
            </Header>
            <Content>
                <DirectApprovalSetting Models="DirectApprovalSettingModels"
                    OnDirectApprovalAdded="ReloadDirectApprovalAsync"/>
            </Content>
        </FluentTab>
        <FluentTab Id="tab-3">
            <Header>
                <FluentIcon Value="@(new Icons.Regular.Size16.Clock())" Color="@Color.Accent"/>
                Jam Kerja
            </Header>
            <Content>
                <OfficeHourSetting />
            </Content>
        </FluentTab>
        <FluentTab Id="tab-4">
            <Header>
                <FluentIcon Value="@(new Icons.Regular.Size16.History())" Color="@Color.Accent"/>
                SLA
            </Header>
            <Content>
                <SlaSetting />
            </Content>
        </FluentTab>
        <FluentTab Id="tab-5">
            <Header>
                <FluentIcon Value="@(new Icons.Regular.Size16.Chat())" Color="@Color.Accent"/>
                Chat Templates
            </Header>
            <Content>
                <ChatTemplateSetting ModelAvailable="@ChatTemplateAvailable"/>
            </Content>
        </FluentTab>
    </FluentTabs>
}
else
{
    <div class="d-flex flex-row align-items-center">
        <span class="px-1">Loading</span>
        <FluentProgressRing style="width: 16px; height: 16px;"></FluentProgressRing>
    </div>
}

@code
{
    private string _activeTabId = "tab-1";
}