@attribute [Route(PageRoute.ValidationStaging)]
@inherits ValidationStagingPageBase
@rendermode @(InteractiveServer.DisablePreRender())

<PageTitle>Validation Staging</PageTitle>

<AuthorizeView Policy="@Policies.RoleHelpdesk"
    Context="AuthenticationContext">

    <Authorized>
        <div class="d-flex flex-row align-items-center">
            <FluentLabel Typo="Typography.H3" MarginBlock="0.5rem">Kertas Kerja (Helpdesk)</FluentLabel>
            <div class="filter-toggle">
                <FluentButton IconEnd="@(new Icons.Filled.Size20.Grid())"
                    OnClick="@SessionService.FilterPreference.ToggleFilters"/>

            </div>
        </div>
        <span class="page-description">Tampung Permohonan</span>

        <div class="@FilterSectionCss">
            <FilterForm @ref="FilterComponent"
                OnFilter="@(this.StateHasChanged)"/>
        </div>

        <div class="datagrid-wrapper" style="@GetPaginationStyle()">
            @if (WorkPapers is not null)
            {
                <FluentDataGrid Items="@WorkPapers"
                    TGridItem="WorkPaper"
                    Virtualize="true"
                    Pagination="@Pagination"
                    ItemSize="32"
                    OnRowFocus="@OnRowSelected"
                    EmptyContent="@HtmlFragment.EmptyContent"
                    GridTemplateColumns="@GridTemplateCols">

                    <TemplateColumn Title="ID PERMOHONAN" Style="GetWidthStyle(ColumnWidth.IdPermohonanPx)"
                        SortBy="@SortByIdPermohonan">
                        <ColumnOptions>
                            <div class="">
                                @if (FilterComponent is not null)
                                {
                                    <FluentSearch Autofocus=true
                                        style="width: 200px;"
                                        type="search"
                                        @bind-Value=FilterComponent.FilterModel.IdPermohonan
                                        @oninput="FilterComponent.FilterModel.IdPermohonanFilterHandler"
                                        Placeholder="Id Permohonan"/>
                                }
                            </div>
                        </ColumnOptions>
                        <ChildContent>
                            <div class="">
                                @context.ApprovalOpportunity.IdPermohonan
                            </div>
                        </ChildContent>
                    </TemplateColumn>
                    <TemplateColumn Title="TGL PERMOHONAN" Style="@GetWidthStyle(ColumnWidth.TglPermohonanPx)"
                        SortBy="@SortByTglPermohonan">
                        <div class="">
                            <DateTimeBadge DateTime="@context.ApprovalOpportunity.TglPermohonan"/>
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="PIC CHAT/CALL" Style="@GetWidthStyle(ColumnWidth.HelpdeskInChargePx)"
                        SortBy="@SortByHelpdeskInCharge">
                        <div class="" style="display: flex;">
                            @if (context.SignatureHelpdeskInCharge.IsEmptySignature())
                            {
                                <span class="staging-waiting">
                                    KOSONG
                                </span>
                            }
                            else
                            {
                                @context.SignatureHelpdeskInCharge.Alias
                            }
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="SHIFT" Style="@GetWidthStyle(ColumnWidth.ShiftPx)">
                        <div class="">
                            @context.Shift
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="TGL CHAT/CALL MULAI" Style="@GetWidthStyle(ColumnWidth.TglChatCallMulaiPx)"
                        SortBy="@SortByTglChatCallMulai">
                        <div class="">
                            @if(!context.ProsesValidasi.SignatureChatCallMulai.IsEmptySignature())
                            {
                                <DateTimeBadge DateTime="@context.ProsesValidasi.SignatureChatCallMulai.TglAksi"/>
                            }
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="NAMA PELANGGAN" Style="@GetWidthStyle(ColumnWidth.ValidasiNamaPelangganPx)">
                        <div class="">
                            <ValidationBadge ValidationStatus="@context.ProsesValidasi.ParameterValidasi.ValidasiNama"/>
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="NOMOR TELP AKTIF" Style="@GetWidthStyle(ColumnWidth.ValidasiNomorTelpPx)">
                        <div class="">
                            <ValidationBadge ValidationStatus="@context.ProsesValidasi.ParameterValidasi.ValidasiNomorTelepon"/>
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="EMAIL AKTIF" Style="@GetWidthStyle(ColumnWidth.ValidasiEmailPx)">
                        <div class="">
                            <ValidationBadge ValidationStatus="@context.ProsesValidasi.ParameterValidasi.ValidasiEmail"/>
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="ID PLAN" Style="@GetWidthStyle(ColumnWidth.ValidasiIdPlnPx)">
                        <div class="">
                            <ValidationBadge ValidationStatus="@context.ProsesValidasi.ParameterValidasi.ValidasiIdPln"/>
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="ALAMAT PELANGGAN" Style="@GetWidthStyle(ColumnWidth.ValidasiAlamatPx)">
                        <div class="">
                            <ValidationBadge ValidationStatus="@context.ProsesValidasi.ParameterValidasi.ValidasiAlamat"/>
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="SHARE LOC" Style="@GetWidthStyle(ColumnWidth.ValidasiShareLocPx)">
                        <div class="">
                            @context.ProsesValidasi.ParameterValidasi.ShareLoc.GetLatitudeLongitude()
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="TGL CHAT/CALL RESPONS" Style="@GetWidthStyle(ColumnWidth.TglChatCallResponsPx)"
                        SortBy="@SortByTglChatCallRespons">
                        <div class="">
                            @if(!context.ProsesValidasi.SignatureChatCallRespons.IsEmptySignature())
                            {
                                <DateTimeBadge DateTime="@context.ProsesValidasi.SignatureChatCallRespons.TglAksi"/>
                            }
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="REKAP CHAT HISTORY" Style="@GetWidthStyle(ColumnWidth.LinkChatHistoryPx)">
                        <div class="">
                            @context.ProsesValidasi.LinkChatHistory
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="KETERANGAN VALIDASI" Style="@GetWidthStyle(ColumnWidth.KeteranganValidasiPx)">
                        <div class="">
                            @context.ProsesValidasi.Keterangan
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="CONTACT WHATSAPP" Style="@GetWidthStyle(ColumnWidth.ContactWhatsAppPx)">
                        <div class="">
                        @{
                            var url = $"http://{context.ApprovalOpportunity.Pemohon.GetWhatsApp()}";
                        }
                        <a href="@url" target="_blank">
                            @context.ApprovalOpportunity.Pemohon.GetWhatsApp()
                        </a>
                        </div>
                    </TemplateColumn>
                    <TemplateColumn Title="KANTOR PERWAKILAN" Style="@GetWidthStyle(ColumnWidth.KantorPerwakilanPx)"
                        SortBy="@SortByKantorPerwakilan">
                        <div class="">
                            @context.ApprovalOpportunity.Regional.KantorPerwakilan
                        </div>
                    </TemplateColumn>
                </FluentDataGrid>
            }
            else
            {
                <span>Loading...</span>
            }
        </div>

        <FluentPaginator State="@Pagination">
            <SummaryTemplate>
                <div class="d-flex flex-row align-items-center">
                    <span style="margin-right: 8px;">
                        Terdapat <strong>@(Pagination.TotalItemCount ?? 0)</strong> baris
                    </span>
                    <span style="margin-left: auto;">
                        <FluentCheckbox class=""
                            Disabled="@EnableFullscreenToggle"
                            @bind-Value="@IsFullscreenDataGrid"
                            Label="Fullscreen" />
                    </span>
                    <span style="margin-right: 10px;">
                        <FluentSelect Items="@OptionSelect.Pagination.ItemsPerPageOptions"
                            Value="@PaginationItemsPerPageOptions"
                            ValueChanged="OnItemsPerPageChanged"
                            Width="70px"/>
                    </span>
                </div>
            </SummaryTemplate>
            <PaginationTextTemplate>
                Hal. <strong>@(Pagination.CurrentPageIndex + 1)</strong> dari <strong>@(Pagination.LastPageIndex + 1)</strong> halaman
            </PaginationTextTemplate>
        </FluentPaginator>
    </Authorized>

    <NotAuthorized>
        <AccessDenied />
    </NotAuthorized>

</AuthorizeView>
