@rendermode InteractiveServer

@using IConnet.Presale.WebApp.Helpers
@using IConnet.Presale.WebApp.Models.Presales
@using IConnet.Presale.WebApp.Services

@inject IJSRuntime _js
@inject IWorkloadManager _workloadManager
@inject CrmImportService _crmImportService

@namespace IConnet.Presale.WebApp.Components.Reusable

<FluentButton Class="m-1"
    Appearance="Appearance.Accent"
    IconStart="@(new Icons.Regular.Size20.ArrowImport())"
    OnClick="OnCrmImport">
    Import
</FluentButton>

<div class="table-wrapper">

    @if (_importMetadata is not null)
    {
        <FluentOverflow Class="m-1">
            <FluentOverflowItem><FluentBadge>String Lenght: @_importMetadata.StringLength</FluentBadge></FluentOverflowItem>
            <FluentOverflowItem><FluentBadge>Empty Column: @_importMetadata.NumberOfWhiteSpaces</FluentBadge></FluentOverflowItem>
            <FluentOverflowItem><FluentBadge>Separator: @_importMetadata.NumberOfTabSeparators</FluentBadge></FluentOverflowItem>
            <FluentOverflowItem><FluentBadge>Total Rows: @_importMetadata.NumberOfRows</FluentBadge></FluentOverflowItem>
            <FluentOverflowItem><FluentBadge>@(_importMetadata.IsValidImport ? "Valid" : "Invalid")</FluentBadge></FluentOverflowItem>
            <FluentOverflowItem><FluentBadge>Import Count: @_importCount</FluentBadge></FluentOverflowItem>
        </FluentOverflow>
    }
    <FluentDataGrid Items="@_crmImportService.ApprovalOpportunities" ResizableColumns=true Virtualize="true" ItemSize="32" EmptyContent="@CreateEmptyContent()">
        <PropertyColumn Title="ID PERMOHONAN" Property="@(crm => crm.IdPermohonan)" Sortable="true" Style="min-width: 200px;"/>
        <PropertyColumn Title="TGL PERMOHONAN" Property="@(crm => crm.TglPermohonan)" Sortable="true" Style="min-width: 200px;"/>
        <PropertyColumn Title="DURASI TIDAK LANJUT" Property="@(crm => crm.DurasiTidakLanjut)" Sortable="true" Style="min-width: 200px;"/>
        <PropertyColumn Title="NAMA PEMOHON" Property="@(crm => crm.NamaPemohon)" Sortable="true" Style="min-width: 200px;"/>
        <PropertyColumn Title="ID PLN" Property="@(crm => crm.IdPln)" Sortable="true" Style="min-width: 200px;"/>
        <PropertyColumn Title="LAYANAN" Property="@(crm => crm.Layanan)" Sortable="true" Style="min-width: 200px;"/>
        <PropertyColumn Title="SUMBER PERMOHONAN" Property="@(crm => crm.SumberPermohonan)" Sortable="true" Style="min-width: 200px;"/>
        <PropertyColumn Title="STATUS PERMOHONAN" Property="@(crm => crm.StatusPermohonan)" Sortable="true" Style="min-width: 200px;"/>
        <PropertyColumn Title="NAMA AGEN" Property="@(crm => crm.NamaAgen)" Sortable="true" Style="min-width: 200px;"/>
        <PropertyColumn Title="EMAIL AGEN" Property="@(crm => crm.EmailAgen)" Sortable="true" Style="min-width: 200px;"/>
        <PropertyColumn Title="TELEPON AGEN" Property="@(crm => crm.TeleponAgen)" Sortable="true" Style="min-width: 200px;"/>
        <PropertyColumn Title="MITRA AGEN" Property="@(crm => crm.MitraAgen)" Sortable="true" Style="min-width: 200px;"/>
        <PropertyColumn Title="SPLITTER" Property="@(crm => crm.Splitter)" Sortable="true" Style="min-width: 200px;"/>
        <PropertyColumn Title="JENIS PERMOHONAN" Property="@(crm => crm.JenisPermohonan)" Sortable="true" Style="min-width: 200px;"/>
        <PropertyColumn Title="TELEPON PEMOHON" Property="@(crm => crm.TeleponPemohon)" Sortable="true" Style="min-width: 200px;"/>
        <PropertyColumn Title="EMAIL PEMOHON" Property="@(crm => crm.EmailPemohon)" Sortable="true" Style="min-width: 200px;"/>
        <PropertyColumn Title="NIK PEMOHON" Property="@(crm => crm.NikPemohon)" Sortable="true" Style="min-width: 200px;"/>
        <PropertyColumn Title="NPWP PEMOHON" Property="@(crm => crm.NpwpPemohon)" Sortable="true" Style="min-width: 200px;"/>
        <PropertyColumn Title="KETERANGAN" Property="@(crm => crm.Keterangan)" Sortable="true" Style="min-width: 200px;"/>
        <PropertyColumn Title="ALAMAT PEMOHON" Property="@(crm => crm.AlamatPemohon)" Sortable="true" Style="min-width: 200px;"/>
        <PropertyColumn Title="REGIONAL" Property="@(crm => crm.Regional)" Sortable="true" Style="min-width: 200px;"/>
        <PropertyColumn Title="KANTOR PERWAKILAN" Property="@(crm => crm.KantorPerwakilan)" Sortable="true" Style="min-width: 200px;"/>
        <PropertyColumn Title="PROVINSI" Property="@(crm => crm.Provinsi)" Sortable="true" Style="min-width: 200px;"/>
        <PropertyColumn Title="KABUPATEN" Property="@(crm => crm.Kabupaten)" Sortable="true" Style="min-width: 200px;"/>
        <PropertyColumn Title="KECAMATAN" Property="@(crm => crm.Kecamatan)" Sortable="true" Style="min-width: 200px;"/>
        <PropertyColumn Title="KELURAHAN" Property="@(crm => crm.Kelurahan)" Sortable="true" Style="min-width: 200px;"/>
        <PropertyColumn Title="LATITUDE" Property="@(crm => crm.Latitude)" Sortable="true" Style="min-width: 200px;"/>
        <PropertyColumn Title="LONGITUDE" Property="@(crm => crm.Longitude)" Sortable="true" Style="min-width: 200px;"/>
    </FluentDataGrid>

    <FluentOverlay @bind-Visible=@_isLoading
        Opacity="0.4"
        Alignment="@Align.Center"
        Justification="@JustifyContent.Center">
        <FluentProgressRing />
    </FluentOverlay>
</div>

@code {
    private bool _isLoading = false;
    private int _importCount = 0;
    private CrmImportMetadata _importMetadata = null!;

    private async Task OnCrmImport()
    {
        _isLoading = true;

        var readText = await _js.InvokeAsync<string>("navigator.clipboard.readText");

        var importModels = _crmImportService.Import(readText, out var importMetadata);
        _importCount = await _workloadManager.CacheWorkloadAsync(importModels);
        _importMetadata = importMetadata;

        _isLoading = false;
        StateHasChanged();
    }

    private RenderFragment CreateEmptyContent()
    {
        return builder =>
        {
            builder.OpenElement(0, "div");
            builder.AddAttribute(1, "class", "empty-content");
            builder.AddContent(2, "Data tidak tersedia.");
            builder.CloseElement();
        };
    }
}