@rendermode InteractiveServer

@using IConnet.Presale.Domain.Aggregates.Presales
@using IConnet.Presale.WebApp.Services

@inject IWorkloadManager _workloadManager
@inject SessionService _sessionService
@inject RealTimeService _realTimeService

@if (WorkPaper is not null)
{
    <table>
        <thead>
            <tr>
                <th style="padding-right: 1rem;">ID PERMOHONAN</th>
                <td>@WorkPaper.ApprovalOpportunity.IdPermohonan</td>
            </tr>
            <tr>
                <th style="padding-right: 1rem;">TGL PERMOHONAN</th>
                <td>
                    <span>@WorkPaper.ApprovalOpportunity.TglPermohonan.Date</span>
                    <span>@WorkPaper.ApprovalOpportunity.TglPermohonan.TimeOfDay</span>
                </td>
            </tr>
            <tr>
                <th style="padding-right: 1rem;">NAMA PELANGGAN</th>
                <td>@WorkPaper.ApprovalOpportunity.Pemohon.NamaLengkap</td>
            </tr>
            <tr>
                <th style="padding-right: 1rem;">ALAMAT PELANGGAN</th>
                <td>@WorkPaper.ApprovalOpportunity.Pemohon.Alamat</td>
            </tr>
            <tr>
                <th style="padding-right: 1rem;">EMAIL</th>
                <td>@WorkPaper.ApprovalOpportunity.Pemohon.Email</td>
            </tr>
            <tr>
                <th  style="padding-right: 1rem;">ID PLN</th>
                <td>@WorkPaper.ApprovalOpportunity.Pemohon.IdPln</td>
            </tr>
            <tr>
                <th  style="padding-right: 1rem;">NO. TELPON AKTIF</th>
                <td>
                    <div class="d-flex flex-row align-items-center">
                        @WorkPaper.ApprovalOpportunity.Pemohon.NomorTelepon
                        <FluentIcon Value="@(new Icons.Regular.Size20.Chat())" />
                    </div>
                </td>
            </tr>
            <tr>
            <th>SHARE LOC</th>
            <td>
                <span>@WorkPaper.ApprovalOpportunity.Regional.Koordinat.LatitudeLongitude</span>
            </td>
            </tr>
        </thead>
    </table>

    <FluentButton Appearance="Appearance.Accent" OnClick="@ClaimWorkPaperAsync">Claim</FluentButton>
}

<FluentOverlay @bind-Visible=@_isLoading
    Opacity="0.4"
    Alignment="@Align.Center"
    Justification="@JustifyContent.Center">
    <FluentProgressRing />
</FluentOverlay>

@code
{
    private bool _isLoading = false;

    [CascadingParameter(Name = "CascadeWorkPaper")]
    public WorkPaper? WorkPaper { get; set; }

    private async Task ClaimWorkPaperAsync()
    {
        _isLoading = true;

        var cacheKey = WorkPaper!.ApprovalOpportunity.IdPermohonan;
        var claimName = _sessionService.UserModel!.Username;

        await _workloadManager.ClaimWorkPaperAsync(cacheKey, claimName);
        await _realTimeService.NotifyUpdateAsync(cacheKey);

        _isLoading = false;
    }
}