@using ApexCharts
@using IConnet.Presale.WebApp.Models.Presales.Reports

@if (Models.Count != 0)
{
    <div style="margin-top: -16px;">
        <ApexChart TItem="ApprovalStatusTransposeModel"
            Height="300"
            Width="@GetChartWidth()"
            Options="Options">

            @foreach (var approvalStatus in Models.First().Status.Keys)
            {
                <ApexPointSeries TItem="ApprovalStatusTransposeModel"
                    Items="Models"
                    Name="@EnumProcessor.EnumToDisplayString(approvalStatus)"
                    XValue="@(e => e.Office)"
                    SeriesType="SeriesType.Bar"
                    YAggregate="@(e => e.Sum(x => x.Status[approvalStatus]))"
                    Color="@(GetPointColor(approvalStatus))"
                    PointColor="@(e => GetPointColor(approvalStatus))"
                    ShowDataLabels/>
            }

        </ApexChart>
    </div>
}
