<FluentDialogHeader ShowDismiss="true">
    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <FluentIcon Value="@(new Icons.Regular.Size24.ChatSettings())" />
        <FluentLabel Typo="Typography.PaneHeader">
            @Dialog.Instance.Parameters.Title
        </FluentLabel>
    </FluentStack>
</FluentDialogHeader>

<div class="d-flex flex-row">
    <div class="chat-template-setting-edit-section" style="width: 380px; margin-right: 16px; margin-top: 16px;">
        <FluentTextArea
            style="width: 100%;"
            Placeholder="Chat Template"
            Value="@ContentEditHolder"
            ValueChanged="OnContentEditHolderChanged"
            Rows="12"></FluentTextArea>
        <div>
            <PlaceholderTextCheatSheet />
        </div>
    </div>
    <div class="chat-template-setting-view-section">
        <div>
            <span>Template: </span> <span class="chat-template-badge">@Content.First().TemplateName</span>
        </div>
        <div class="scrollable-chat-template-setting-view-section">
            @foreach(var chat in Content)
            {
                <div style="margin: 4px 12px; margin-top: 16px !important;">
                    <FluentButton BackgroundColor="crimson"
                        Color="white"
                        IconStart="@(new Icons.Regular.Size20.Edit().WithColor("#ffffff"))"
                        OnClick="@(() => EditChat(@chat))">
                        </FluentButton>
                </div>
                <div class="chat-bubble-setting">
                    @GetHtmlString(@chat.Content)
                </div>
            }
        </div>
    </div>
</div>

<FluentDialogFooter>
    <FluentStack VerticalAlignment="VerticalAlignment.Center" HorizontalAlignment="HorizontalAlignment.End">
        <FluentButton Appearance="Appearance.Accent" OnClick="@SaveAsync" IconStart="@(new Icons.Regular.Size16.Save())">Simpan</FluentButton>
        <FluentButton Appearance="Appearance.Neutral" OnClick="@CancelAsync">Batal</FluentButton>
    </FluentStack>
</FluentDialogFooter>
