<FluentDialogHeader ShowDismiss="true">
    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <FluentIcon Value="@(new Icons.Regular.Size24.ChatSettings())" />
        <FluentLabel Typo="Typography.PaneHeader">
            @Dialog.Instance.Parameters.Title
        </FluentLabel>
    </FluentStack>
</FluentDialogHeader>

<div class="d-flex flex-row">
    <div class="chat-template-setting-edit-section" style="width: 380px; margin-right: 16px; margin-top: 16px;">
        <FluentTextArea
            style="width: 100%;"
            Placeholder="Chat Template"
            Value="@ContentEditHolder"
            ValueChanged="OnContentEditHolderChanged"
            Rows="12"></FluentTextArea>
        <div>
            <PlaceholderTextCheatSheet />
        </div>
    </div>
    <div class="chat-template-setting-view-section">
        <div class="d-flex flex-row align-items-center">
            <div>
                <span>Template: </span> <span class="chat-template-badge">@TemplateName</span>
            </div>
            <div style="margin-left: auto;">
                <FluentButton Appearance="Appearance.Accent"
                    style="margin-right: 8px;"
                    IconStart="@(new Icons.Filled.Size20.Add())"
                    OnClick="@AddChatBubbleAsync">
                    Bubble Chat</FluentButton>
            </div>
        </div>
        <div class="scrollable-chat-template-setting-view-section" style="overflow-x: hidden !important;">
            @foreach(var chat in Content)
            {
                <div class="d-flex flex-row" style="margin: 4px 12px; margin-top: 16px !important;">
                    <FluentButton Appearance="Appearance.Accent"
                        style="margin-right: 8px;"
                        IconStart="@(new Icons.Filled.Size20.Edit())"
                        Disabled="@IsMarkForDeletion(@chat)"
                        Title="Edit"
                        OnClick="@(() => EditChat(@chat))">
                        </FluentButton>

                    @if(CanBeUndo(chat))
                    {
                        <FluentButton BackgroundColor="crimson"
                            Color="white"
                            style="margin-right: 8px;"
                            IconStart="@(new Icons.Filled.Size20.Dismiss().WithColor("#ffffff"))"
                            OnClick="@(() => UndoAddChatBubble(@chat))">
                            </FluentButton>
                    }
                    else
                    {
                        @if(IsMarkForDeletion(@chat))
                        {
                            <FluentButton Appearance="Appearance.Accent"
                                style="margin-right: 8px;"
                                IconStart="@(new Icons.Filled.Size20.ArrowCounterclockwise())"
                                Title="Undo Delete"
                                OnClick="@(() => UndoMarkForDeletion(@chat))">
                                </FluentButton>
                        }
                        else
                        {
                            <FluentButton BackgroundColor="crimson"
                                Color="white"
                                style="margin-right: 8px;"
                                Title="Delete"
                                Disabled="@(DisableMarkForDeletion())"
                                IconStart="@(new Icons.Filled.Size20.Delete().WithColor("#ffffff"))"
                                OnClick="@(() => MarkForDeletion(@chat))">
                                </FluentButton>
                        }
                    }
                </div>
                <div class="chat-bubble-setting" style="@MarkForDeletionStyle(@chat)">
                    @if (IsActiveModel(@chat))
                    {
                        <div class="edit-active">editing</div>
                    }
                    <div>
                        @GetHtmlString(@chat.Content)
                    </div>
                </div>
            }
            <span id="chat-bubble-bottom-marker">&nbsp;</span>
        </div>
    </div>
</div>

<FluentDialogFooter>
    <FluentStack VerticalAlignment="VerticalAlignment.Center" HorizontalAlignment="HorizontalAlignment.End">
        <FluentButton Appearance="Appearance.Accent" OnClick="@SaveAsync" IconStart="@(new Icons.Regular.Size16.Save())">Simpan</FluentButton>
        <FluentButton Appearance="Appearance.Neutral" OnClick="@CancelAsync">Batal</FluentButton>
    </FluentStack>
</FluentDialogFooter>
