@inherits ApprovalStatusTabulationStackBase

<div class="d-flex flex-row align-items-top">

    <div class="d-flex flex-column" style="margin-left: 4px; margin-right: 32px;">
        <FluentButton Appearance="@MonthlyToggleAppearance"
            style="width: 135px; margin-bottom: 8px;"
            OnClick="ToggleToMonthlyView">
            Monthly</FluentButton>
        <FluentButton Appearance="@WeeklyToggleAppearance"
            style="width: 135px; margin-bottom: 8px;"
            OnClick="ToggleToWeeklyView">
            Weekly</FluentButton>
        <FluentButton Appearance="@DailyToggleAppearance"
            style="width: 135px ;margin-bottom: 8px;"
            OnClick="ToggleToDailyView">
            Daily</FluentButton>
    </div>

    <div class="d-flex flex-column">
        <div style="@MonthlyToggleDisplayStyle">
            <h5 class="app-font">Laporan Opportunity Negatiation Approval <span class="">@CurrentMonthIndicator()</span></h5>

            <div class="d-flex flex-row">
                <ApprovalStatusTabulation Models="@UpperBoundaryModels"/>
            </div>
        </div>
        <div style="@WeeklyToggleDisplayStyle">
            <h5 class="app-font">Laporan Opportunity Negatiation Approval <span class="">@CurrentWeekIndicator()</span></h5>
            <MiddleBoundaryFilter OnMiddleBoundaryChanged="@OnMiddleBoundaryChanged"/>
            <div class="d-flex flex-row">
                <ApprovalStatusTabulation Models="@MiddleBoundaryModels"/>
            </div>
        </div>
        <div style="@DailyToggleDisplayStyle">
            <h5 class="app-font">Laporan Opportunity Negatiation Approval <span class="">@TodayIndicator()</span></h5>
            <LowerBoundaryFilter OnLowerBoundaryChanged="@OnLowerBoundaryChanged"/>
            <div class="d-flex flex-row">
                <ApprovalStatusTabulation Models="@LowerBoundaryModels"/>
            </div>
        </div>
    </div>

</div>
