@if (Models is not null)
{
    <table class="table" style="width: fit-content;">
        <thead>
            <tr>
                <th class="table-report-header" style="background-color: cadetblue;">
                    Username PAC
                </th>
                <th class="table-report-header" style="background-color: cadetblue;">
                    AVG
                </th>
                <th class="table-report-header" style="background-color: cadetblue;">
                    MIN
                </th>
                <th class="table-report-header" style="background-color: cadetblue;">
                    MAX
                </th>
                <th class="table-report-header" style="background-color: cadetblue;">
                    Chat/Call Total
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var model in Models)
            {
                <tr>
                    <td>@model.Username</td>
                    <td class="table-report-content">@model.GetDisplayAverageAging()</td>
                    <td class="table-report-content">@model.GetDisplayMinAging()</td>
                    <td class="table-report-content">@model.GetDisplayMaxAging()</td>
                    <td class="table-report-content">@model.GetDisplayChatCallMulaiCount()</td>
                </tr>
            }
        </tbody>
    </table>
}