@inherits ImportAgingTabulationStackBase

<div class="d-flex flex-row align-items-top">

    <div class="d-flex flex-column" style="margin-left: 4px; margin-right: 32px;">
        <FluentButton Appearance="@MonthlyToggleAppearance"
            style="width: 135px; margin-bottom: 8px;"
            OnClick="ToggleToMonthlyView">
            Monthly</FluentButton>
        <FluentButton Appearance="@WeeklyToggleAppearance"
            style="width: 135px; margin-bottom: 8px;"
            OnClick="ToggleToWeeklyView">
            Weekly</FluentButton>
        <FluentButton Appearance="@DailyToggleAppearance"
            style="width: 135px ;margin-bottom: 8px;"
            OnClick="ToggleToDailyView">
            Daily</FluentButton>
    </div>

    <div class="d-flex flex-column">
        <div style="@MonthlyToggleDisplayStyle">
            <h5 class="app-font">Laporan Aging Import <span class="">@CurrentMonthIndicator()</span></h5>
            <div class="d-flex flex-row">
                <UpperBoundaryFilter />
                <FluentCheckbox style="margin-left: 8px;"
                    @bind-Value="@IsPageView"
                    Label="Page View"/>
            </div>
            <div style="margin-left: 2px;">
                Akumulasi dengan waktu freeze di luar jam kerja 21:00 s.d 08:00
            </div>
            <div class="d-flex flex-row">
                <AgingImportTabulation Models="@UpperBoundaryModels"
                    IsPageView="@IsPageView" />
            </div>
        </div>
        <div style="@WeeklyToggleDisplayStyle">
            <h5 class="app-font">Laporan Aging Import <span class="">@CurrentWeekIndicator()</span></h5>
            <div class="d-flex flex-row">
                <MiddleBoundaryFilter OnMiddleBoundaryChanged="@OnMiddleBoundaryChanged"/>
                <FluentCheckbox style="margin-left: 8px;"
                    @bind-Value="@IsPageView"
                    Label="Page View"/>
            </div>
            <div style="margin-left: 2px;">
                Akumulasi dengan waktu freeze di luar jam kerja 21:00 s.d 08:00
            </div>
            <div class="d-flex flex-row">
                <AgingImportTabulation Models="@MiddleBoundaryModels"
                    IsPageView="@IsPageView" />
            </div>
        </div>
        <div style="@DailyToggleDisplayStyle">
            <h5 class="app-font">Laporan Aging Import <span class="">@TodayIndicator()</span></h5>
            <div class="d-flex flex-row">
                <LowerBoundaryFilter OnLowerBoundaryChanged="@OnLowerBoundaryChanged"/>
                <FluentCheckbox style="margin-left: 8px;"
                    @bind-Value="@IsPageView"
                    Label="Page View"/>
            </div>
            <div style="margin-left: 2px;">
                Akumulasi dengan waktu freeze di luar jam kerja 21:00 s.d 08:00
            </div>
            <div class="d-flex flex-row">
                <AgingImportTabulation Models="@LowerBoundaryModels"
                    IsPageView="@IsPageView" />
            </div>
        </div>
    </div>

</div>
