@inherits RootCauseTabulationStackBase

<div class="d-flex flex-row align-items-top">

    <div class="d-flex flex-column" style="margin-left: 4px; margin-right: 8px;">
        <FluentButton Appearance="@_monthlyToggleAppearance"
            style="width: 135px; margin-bottom: 8px;"
            OnClick="ToggleToMonthlyView">
            Monthly</FluentButton>
        <FluentButton Appearance="@_weeklyToggleAppearance"
            style="width: 135px; margin-bottom: 8px;"
            OnClick="ToggleToWeeklyView">
            Weekly</FluentButton>
        <FluentButton Appearance="@_dailyToggleAppearance"
            style="width: 135px ;margin-bottom: 8px;"
            OnClick="ToggleToDailyView">
            Daily</FluentButton>
        <FluentCheckbox class=""
            @bind-Value="@IsPageView"
            Label="Page View"/>

        <FluentButton Appearance="Appearance.Accent"
            style="width: 135px ;margin-top: 8px;"
            OnClick="OpenRootCauseExclusionDialogFilter">
            Exclusion Filter</FluentButton>
    </div>

    <div class="d-flex flex-column">
        <div style="@_monthlyToggleDislayStyle">
            <h5 style="font-family: 'inter-semibold';">Laporan Root Cause <span class="">@CurrentMonthIndicator()</span></h5>
            <div class="tabulation-report">
                <span class="date-only-badge">@GetUpperBoundaryDateMin()</span> s.d <span class="date-only-badge">@GetUpperBoundaryDateMax()</span>
            </div>
            <RootCauseTabulation Models="@UpperBoundaryModels"
                IsPageView="@IsPageView"/>
        </div>
        <div style="@_weeklyToggleDislayStyle">
            <h5 style="font-family: 'inter-semibold';">Laporan Root Cause <span class="">@CurrentWeekIndicator()</span></h5>
            <div class="tabulation-report">
                <span class="date-only-badge">@GetMiddleBoundaryDateMin()</span> s.d <span class="date-only-badge">@GetMiddleBoundaryDateMax()</span>
            </div>
            <div class="d-flex flex-row">
                <RootCauseTabulation Models="@MiddleBoundaryModels"
                    IsPageView="@IsPageView"/>
                <MiddleBoundaryFilter OnMiddleBoundaryChanged="@OnMiddleBoundaryChanged"/>
            </div>
        </div>
        <div style="@_dialyToggleDislayStyle">
            <h5 style="font-family: 'inter-semibold';">Laporan Root Cause <span class="">@TodayIndicator()</span></h5>
            <div class="tabulation-report">
                <span class="date-only-badge">@GetLowerBoundaryDate()</span>
            </div>
            <div class="d-flex flex-row">
                <RootCauseTabulation Models="@LowerBoundaryModels"
                    IsPageView="@IsPageView"/>
                <LowerBoundaryFilter OnLowerBoundaryChanged="@OnLowerBoundaryChanged"/>
            </div>
        </div>
    </div>

</div>

@code
{
    private Appearance _monthlyToggleAppearance => IsMonthlySelected ? Appearance.Accent : Appearance.Neutral;
    private Appearance _weeklyToggleAppearance => IsWeeklySelected ? Appearance.Accent : Appearance.Neutral;
    private Appearance _dailyToggleAppearance => IsDailySelected ? Appearance.Accent : Appearance.Neutral;

    private string _monthlyToggleDislayStyle => IsMonthlySelected ? "" : "display: none";
    private string _weeklyToggleDislayStyle => IsWeeklySelected ? "" : "display: none";
    private string _dialyToggleDislayStyle => IsDailySelected ? "" : "display: none";
}