@if (Models is not null)
{
    <div style="margin: 8px 4px">
        <FluentButton Appearance="Appearance.Accent"
            IconStart="@(new Icons.Filled.Size20.Add())">
            Root Cause</FluentButton>
    </div>

    <div class="root-cause-settings">
        <FluentDataGrid Items="@Models"
            TGridItem="RootCauseSettingModel"
            Virtualize="true"
            ItemSize="32"
            GridTemplateColumns="@GridTemplateCols">

            <TemplateColumn Title="ROOT CAUSE" Style="@GetWidthStyle(350)">
                <div class="">
                    @context.Cause
                </div>
            </TemplateColumn>
            <TemplateColumn Title="STATUS" Style="@GetWidthStyle(100)">
                <div class="">
                    @context.GetStatus()
                </div>
            </TemplateColumn>
            <TemplateColumn Title="ENABLE" Style="@GetWidthStyle(100)">
                <div class="" style="text-align: center; margin-top: 4px;">
                    <FluentCheckbox style=""
                        Value="@context.IsEnabled"
                        ValueChanged="@context.OnIsEnabledChanged"/>
                </div>
            </TemplateColumn>
            <TemplateColumn Title="INCLUDE" Style="@GetWidthStyle(100)">
                <div class="" style="text-align: center; margin-top: 4px;">
                    <FluentCheckbox style=""/>
                </div>
            </TemplateColumn>
        </FluentDataGrid>
    </div>
}

