@rendermode @(InteractiveServer.DisablePreRender())

<div class="navmenu">
    <input type="checkbox" id="navmenu-toggle" />
    <nav class="sitenav" aria-labelledby="main-menu" onclick="document.getElementById('navmenu-toggle').click();">
        <FluentNavMenu Id="main-menu"
            Collapsible="true" Width="205"
            Title="Navigation menu"
            @bind-Expanded="IsExpanded">

            <FluentNavLink Href="@PageRoute.Index"
                Match="NavLinkMatch.All"
                Icon="@(new Icons.Regular.Size20.Home())"
                IconColor="Color.Accent">
                @PageNavName.Index</FluentNavLink>

            <FluentNavLink Href="@PageRoute.Tracking"
                Icon="@(new Icons.Regular.Size20.Timeline())"
                IconColor="Color.Accent">
                @PageNavName.Tracking</FluentNavLink>

            <AuthorizeView Policy="@Policies.RolePlanningAssetCoverage">
                <FluentNavLink Href="@PageRoute.CrmImport"
                    Icon="@(new Icons.Regular.Size20.DocumentAdd())"
                    IconColor="Color.Accent">
                    @PageNavName.CrmImport</FluentNavLink>

                <FluentNavLink Href="@PageRoute.CrmVerification"
                    Icon="@(new Icons.Regular.Size20.DocumentCheckmark())"
                    IconColor="Color.Accent">
                    @PageNavName.CrmVerification</FluentNavLink>
            </AuthorizeView>

            <FluentNavLink Href="@PageRoute.WorkloadShared"
                Icon="@(new Icons.Regular.Size20.DocumentDatabase())"
                IconColor="Color.Accent">
                @PageNavName.WorkloadShared</FluentNavLink>

            <AuthorizeView Policy="@Policies.RoleHelpdesk">
                <FluentNavLink Href="@PageRoute.ValidationStaging"
                    Icon="@(new Icons.Regular.Size20.Document())"
                    IconColor="Color.Accent">
                    @PageNavName.ValidationStaging</FluentNavLink>

                <FluentNavLink Href="@PageRoute.Validation"
                    Icon="@(new Icons.Regular.Size20.DocumentEdit())"
                    IconColor="Color.Accent">
                    @PageNavName.Validation</FluentNavLink>
            </AuthorizeView>

            <AuthorizeView Policy="@Policies.RolePlanningAssetCoverage">
                <FluentNavLink Href="@PageRoute.ApprovalStaging"
                    Icon="@(new Icons.Regular.Size20.Document())"
                    IconColor="Color.Accent">
                    @PageNavName.ApprovalStaging</FluentNavLink>

                <FluentNavLink Href="@PageRoute.Approval"
                    Icon="@(new Icons.Regular.Size20.DocumentEdit())"
                    IconColor="Color.Accent">
                    @PageNavName.Approval</FluentNavLink>
            </AuthorizeView>

            <FluentNavLink Href="@PageRoute.PresaleData"
                Icon="@(new Icons.Regular.Size20.DocumentDatabase())"
                IconColor="Color.Accent">
                @PageNavName.PresaleData</FluentNavLink>

            <AuthorizeView Policy="@Policies.AdministratorPrivilege">
                <FluentNavLink Href="@PageRoute.Settings"
                    Icon="@(new Icons.Regular.Size20.Settings())"
                    IconColor="Color.Accent">
                    @PageNavName.Settings</FluentNavLink>

                <FluentNavLink Href="@PageRoute.UserManager"
                    Icon="@(new Icons.Regular.Size20.PersonAccounts())"
                    IconColor="Color.Accent">
                    @PageNavName.UserManager</FluentNavLink>
            </AuthorizeView>

            <AuthorizeView Policy="@Policies.DeveloperAccess">
                <FluentNavLink Href="@PageRoute.Developer"
                    Icon="@(new Icons.Regular.Size20.Code())"
                    IconColor="Color.Accent">
                    @PageNavName.Developer</FluentNavLink>
            </AuthorizeView>

        </FluentNavMenu>
    </nav>
</div>
