@inherits NavMenuBase
@rendermode InteractiveServer

<div class="navmenu">
    <input type="checkbox" id="navmenu-toggle" />
    <nav class="sitenav" aria-labelledby="main-menu" onclick="document.getElementById('navmenu-toggle').click();">
        <FluentNavMenu Id="main-menu"
            Collapsible="true" Width="200"
            Title="Navigation menu"
            @bind-Expanded="IsExpanded">

            <FluentNavLink Href="@PageRoute.Home"
                OnClick="@OnHomePageNavigate"
                Match="NavLinkMatch.All"
                Icon="@(new Icons.Regular.Size20.Home())"
                IconColor="Color.Accent">
                Home</FluentNavLink>

            <FluentNavLink Href="@PageRoute.CrmImport"
                OnClick="@OnCrmImportPageNavigate"
                Icon="@(new Icons.Regular.Size20.DocumentAdd())"
                IconColor="Color.Accent">
                Import CRM</FluentNavLink>

            <FluentNavLink Href="@PageRoute.CrmImportVerification"
                OnClick="@OnCrmVerificationPageNavigate"
                Icon="@(new Icons.Regular.Size20.DocumentCheckmark())"
                IconColor="Color.Accent">
                Verifikasi CRM</FluentNavLink>

            <FluentNavLink Href="@PageRoute.WorkloadShared"
                OnClick="@OnWorkloadSharedPageNavigate"
                Icon="@(new Icons.Regular.Size20.DocumentTable())"
                IconColor="Color.Accent">
                Workload</FluentNavLink>

            <FluentNavLink Href="@PageRoute.HelpdeskStaging"
                OnClick="@OnHelpdeskStagingPageNavigate"
                Icon="@(new Icons.Regular.Size20.PersonDesktop())"
                IconColor="Color.Accent">
                Helpdesk Staging</FluentNavLink>

            <FluentNavLink Href="@PageRoute.Helpdesk"
                OnClick="@OnHelpdeskPageNavigate"
                Icon="@(new Icons.Regular.Size20.CheckboxPerson())"
                IconColor="Color.Accent">
                Helpdesk</FluentNavLink>

            <AuthorizeView Policy="@Policies.AdministratorPrivilege">
                <FluentNavLink Href="@PageRoute.Settings" Icon="@(new Icons.Regular.Size20.Settings())" IconColor="Color.Accent">Settings</FluentNavLink>
            </AuthorizeView>

        </FluentNavMenu>
    </nav>
</div>
