@inherits ApprovalStatusTabulationStackBase

<div class="d-flex flex-row align-items-top w-100">

    <div class="d-flex flex-column" style="margin-left: 4px; margin-right: 16px;">
        <FluentButton Appearance="@MonthlyToggleAppearance"
            style="width: 135px; margin-bottom: 8px;"
            OnClick="ToggleToMonthlyView">
            Monthly</FluentButton>
        <FluentButton Appearance="@WeeklyToggleAppearance"
            style="width: 135px; margin-bottom: 8px;"
            OnClick="ToggleToWeeklyView">
            Weekly</FluentButton>
        <FluentButton Appearance="@DailyToggleAppearance"
            style="width: 135px; margin-bottom: 8px;"
            OnClick="ToggleToDailyView">
            Daily</FluentButton>

        <FluentButton Appearance="Appearance.Accent"
            IconStart="@(new Icons.Filled.Size20.ArrowClockwise())"
            style="width: 135px; margin-top: 24px;"
            OnClick="ReloadDashboardAsync">
            Refresh</FluentButton>

        <FluentButton BackgroundColor="crimson"
            Color="white"
            IconStart="@(new Icons.Filled.Size20.Calendar().WithColor("#ffffff"))"
            style="width: 135px; margin-top: 8px;"
            OnClick="OpenBoundaryFilterAsync">
            Filter</FluentButton>

        <FluentButton BackgroundColor="crimson"
            Color="white"
            IconStart="@(new Icons.Filled.Size20.TableSimpleExclude().WithColor("#ffffff"))"
            style="width: 135px; margin-top: 8px;"
            OnClick="OpenApprovalStatusExclusionDialogFilter">
            Pilah</FluentButton>

        <FluentButton Appearance="Appearance.Accent"
            style="width: 135px; margin-top: 32px;"
            IconStart="@(new Icons.Filled.Size20.DocumentArrowDown())"
            OnClick="@ExportXlsxAsync">
            Export .xlsx</FluentButton>
    </div>

    <div class="d-flex flex-column w-100">
        <div style="@MonthlyToggleDisplayStyle">
            <h4 class="app-font">Laporan Opportunity Negotiation Approval <span>@CurrentMonthIndicator()</span> - <span>@GetUpperBoundaryDateMin()</span> s.d <span>@GetUpperBoundaryDateMax()</span></h4>

            @if (!IsBufferLoading)
            {
                if (!IsUpperBoundaryEmpty)
                {
                    <h5 class="app-font">Statistik Approval Opportunity</h5>
                    <ApprovalStatusBarChart Models="@UpperBoundaryTransposeModels"/>
                }

                <h5 class="app-font">Qty Opportunity</h5>
                <ApprovalStatusTabulation Models="@UpperBoundaryModels"/>

                if (!IsUpperBoundaryEmpty)
                {
                    <h5 class="app-font" style="margin-top: 16px;">Percentage Proses Opportunity SBU JAWA TIMUR</h5>
                    <div class="centered-chart separate-chart">
                        <div class="w-50" style="">
                            <ApprovalStatusPieChart Models="@UpperBoundaryModels" />
                        </div>
                    </div>
                    @foreach(var office in UpperBoundaryGrouping)
                    {
                        <h5 class="app-font" style="margin-top: 16px;">Percentage Proses Opportunity KP @office.Key</h5>
                        <div class="centered-chart separate-chart">
                            <div class="w-50" style="">
                                <ApprovalStatusPieChart Models="@office.Value" />
                            </div>
                        </div>
                    }
                }
            }
        </div>
        <div style="@WeeklyToggleDisplayStyle">
            <h4 class="app-font">Laporan Opportunity Negotiation Approval <span class="">@CurrentWeekIndicator()</span> - <span>@GetMiddleBoundaryDateMin()</span> s.d <span>@GetMiddleBoundaryDateMax()</span></h4>

            @if (!IsBufferLoading)
            {
                if (!IsMiddleBoundaryEmpty)
                {
                    <h5 class="app-font">Statistik Approval Opportunity</h5>
                    <ApprovalStatusBarChart Models="@MiddleBoundaryTransposeModels"/>
                }

                <h5 class="app-font">Qty Opportunity</h5>
                <ApprovalStatusTabulation Models="@MiddleBoundaryModels"/>

                if (!IsMiddleBoundaryEmpty)
                {
                    <h5 class="app-font" style="margin-top: 16px;">Percentage Proses Opportunity SBU JAWA TIMUR</h5>
                    <div class="centered-chart separate-chart">
                        <div class="w-50">
                            <ApprovalStatusPieChart Models="@MiddleBoundaryModels" />
                        </div>
                    </div>
                    @foreach(var office in MiddleBoundaryGrouping)
                    {
                        <h5 class="app-font" style="margin-top: 16px;">Percentage Proses Opportunity KP @office.Key</h5>
                        <div class="centered-chart separate-chart">
                            <div class="w-50" style="">
                                <ApprovalStatusPieChart Models="@office.Value" />
                            </div>
                        </div>
                    }
                }
            }
        </div>
        <div style="@DailyToggleDisplayStyle">
            <h4 class="app-font">Laporan Opportunity Negotiation Approval <span class="">@TodayIndicator()</span> - <span>@GetLowerBoundaryDate()</span></h4>

            @if (!IsBufferLoading)
            {
                if (!IsLowerBoundaryEmpty)
                {
                    <h5 class="app-font">Statistik Approval Opportunity</h5>
                    <ApprovalStatusBarChart Models="@LowerBoundaryTransposeModels"/>
                }

                <h5 class="app-font">Qty Opportunity</h5>
                <ApprovalStatusTabulation Models="@LowerBoundaryModels"/>

                if (!IsLowerBoundaryEmpty)
                {
                    <h5 class="app-font">Percentage Proses Opportunity SBU JAWA TIMUR</h5>
                    <div class="centered-chart separate-chart">
                        <div class="w-50" style="margin-top: 16px;">
                            <ApprovalStatusPieChart Models="@LowerBoundaryModels" />
                        </div>
                    </div>
                    @foreach(var office in LowerBoundaryGrouping)
                    {
                        <h5 class="app-font" style="margin-top: 16px;">Percentage Proses Opportunity KP @office.Key</h5>
                        <div class="centered-chart separate-chart">
                            <div class="w-50" style="">
                                <ApprovalStatusPieChart Models="@office.Value" />
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>

</div>
