@inherits ApprovalAgingTabulationStackBase

<div class="d-flex flex-row align-items-top w-100">

    <div class="d-flex flex-column" style="margin-left: 4px; margin-right: 32px;">
        <FluentButton Appearance="@MonthlyToggleAppearance"
            style="width: 135px; margin-bottom: 8px;"
            OnClick="ToggleToMonthlyView">
            Monthly</FluentButton>
        <FluentButton Appearance="@WeeklyToggleAppearance"
            style="width: 135px; margin-bottom: 8px;"
            OnClick="ToggleToWeeklyView">
            Weekly</FluentButton>
        <FluentButton Appearance="@DailyToggleAppearance"
            style="width: 135px; margin-bottom: 8px;"
            OnClick="ToggleToDailyView">
            Daily</FluentButton>

        <FluentButton BackgroundColor="crimson"
            Color="white"
            IconStart="@(new Icons.Filled.Size20.Calendar().WithColor("#ffffff"))"
            style="width: 135px; margin-top: 24px;"
            OnClick="OpenBoundaryFilterAsync">
            Filter</FluentButton>

        <FluentCheckbox style="margin-top: 16px;"
            @bind-Value="@IsPageView"
            Label="Page View"/>
    </div>

    <div class="d-flex flex-column w-100">
        <div style="@MonthlyToggleDisplayStyle">
            <h5 class="app-font">Laporan Aging Approval <span class="">@CurrentMonthIndicator()</span></h5>
            <div class="d-flex flex-row">

            </div>
            <div style="margin-left: 2px;">
                Akumulasi dengan waktu freeze di luar jam kerja 21:00 s.d 08:00
            </div>
            <div class="d-flex flex-row">
                <ApprovalAgingTabulation Models="@UpperBoundaryModels"
                    IsPageView="@IsPageView" />
            </div>
        </div>
        <div style="@WeeklyToggleDisplayStyle">
            <h5 class="app-font">Laporan Aging Verifkasi <span class="">@CurrentWeekIndicator()</span></h5>
            <div class="d-flex flex-row">

            </div>
            <div style="margin-left: 2px;">
                Akumulasi dengan waktu freeze di luar jam kerja 21:00 s.d 08:00
            </div>
            <div class="d-flex flex-row">
                <ApprovalAgingTabulation Models="@MiddleBoundaryModels"
                    IsPageView="@IsPageView" />
            </div>
        </div>
        <div style="@DailyToggleDisplayStyle">
            <h5 class="app-font">Laporan Aging Verifkasi <span class="">@TodayIndicator()</span></h5>
            <div class="d-flex flex-row">

            </div>
            <div style="margin-left: 2px;">
                Akumulasi dengan waktu freeze di luar jam kerja 21:00 s.d 08:00
            </div>
            <div class="d-flex flex-row">
                <ApprovalAgingTabulation Models="@LowerBoundaryModels"
                    IsPageView="@IsPageView" />
            </div>
        </div>
    </div>

</div>
