@inherits ApprovalStatusTabulationStackBase

<div class="d-flex flex-row align-items-top">

    <div class="d-flex flex-column" style="margin-left: 4px; margin-right: 32px;">
        <FluentButton Appearance="@MonthlyToggleAppearance"
            style="width: 100px; margin-bottom: 8px;"
            OnClick="ToggleToMonthlyView">
            Monthly</FluentButton>
        <FluentButton Appearance="@WeeklyToggleAppearance"
            style="width: 100px; margin-bottom: 8px;"
            OnClick="ToggleToWeeklyView">
            Weekly</FluentButton>
        <FluentButton Appearance="@DailyToggleAppearance"
            style="width: 100px; margin-bottom: 8px;"
            OnClick="ToggleToDailyView">
            Daily</FluentButton>

        <FluentButton BackgroundColor="crimson"
            Color="white"
            IconStart="@(new Icons.Filled.Size20.Calendar().WithColor("#ffffff"))"
            style="width: 100px ;margin-top: 32px;"
            OnClick="OpenBoundaryFilterAsync">
            Filter</FluentButton>
    </div>

    <div class="d-flex flex-column">
        <div style="@MonthlyToggleDisplayStyle">
            <h4 class="app-font">Laporan Opportunity Negotiation Approval <span>@CurrentMonthIndicator()</span> - <span>@GetUpperBoundaryDateMin()</span> s.d <span>@GetUpperBoundaryDateMax()</span></h4>

            @if (!IsBufferLoading)
            {
                <div class="d-flex flex-row">
                    <ApprovalStatusBarChart Models="@UpperBoundaryTransposeModels"/>
                    <ApprovalStatusPieChart Models="@UpperBoundaryModels" />
                </div>
                <div style="margin-left: 24px;">
                    <ApprovalStatusTabulation Models="@UpperBoundaryModels"/>
                </div>
            }
        </div>
        <div style="@WeeklyToggleDisplayStyle">
            <h4 class="app-font">Laporan Opportunity Negotiation Approval <span class="">@CurrentWeekIndicator()</span> - <span>@GetMiddleBoundaryDateMin()</span> s.d <span>@GetMiddleBoundaryDateMax()</span></h4>

            @if (!IsBufferLoading)
            {
                <div class="d-flex flex-row">
                    <ApprovalStatusBarChart Models="@MiddleBoundaryTransposeModels"/>
                    <ApprovalStatusPieChart Models="@MiddleBoundaryModels" />
                </div>
                <div style="margin-left: 24px;">
                    <ApprovalStatusTabulation Models="@MiddleBoundaryModels"/>
                </div>
            }
        </div>
        <div style="@DailyToggleDisplayStyle">
            <h4 class="app-font">Laporan Opportunity Negotiation Approval <span class="">@TodayIndicator()</span> - <span>@GetLowerBoundaryDate()</span></h4>

            @if (!IsBufferLoading)
            {
                <div class="d-flex flex-row">
                    <ApprovalStatusBarChart Models="@LowerBoundaryTransposeModels"/>
                    <ApprovalStatusPieChart Models="@LowerBoundaryModels" />>
                </div>
                <div style="margin-left: 24px;">
                    <ApprovalStatusTabulation Models="@LowerBoundaryModels"/>
                </div>
            }
        </div>
    </div>

</div>
