@inherits ImportAgingTabulationStackBase

<div class="d-flex flex-row align-items-top w-100">

    <div class="d-flex flex-column" style="margin-left: 4px; margin-right: 32px;">
        <FluentButton Appearance="@MonthlyToggleAppearance"
            style="width: 135px; margin-bottom: 8px;"
            OnClick="ToggleToMonthlyView">
            Monthly</FluentButton>
        <FluentButton Appearance="@WeeklyToggleAppearance"
            style="width: 135px; margin-bottom: 8px;"
            OnClick="ToggleToWeeklyView">
            Weekly</FluentButton>
        <FluentButton Appearance="@DailyToggleAppearance"
            style="width: 135px; margin-bottom: 8px;"
            OnClick="ToggleToDailyView">
            Daily</FluentButton>

        <FluentButton BackgroundColor="crimson"
            Color="white"
            IconStart="@(new Icons.Filled.Size20.Calendar().WithColor("#ffffff"))"
            style="width: 135px; margin-top: 24px;"
            OnClick="OpenBoundaryFilterAsync">
            Filter</FluentButton>

        <FluentButton BackgroundColor="crimson"
            Color="white"
            IconStart="@(new Icons.Filled.Size20.TableSimpleExclude().WithColor("#ffffff"))"
            style="width: 135px; margin-top: 8px;"
            OnClick="OpenOperatorPacExclusionDialogFilterAsync">
            Pilah</FluentButton>

        <FluentCheckbox style="margin-top: 16px;"
            @bind-Value="@IsPageView"
            Label="Page View"/>
    </div>

    <div class="d-flex flex-column w-100">
        <div style="@MonthlyToggleDisplayStyle">
            <h4 class="app-font">Laporan Aging Import <span>@CurrentMonthIndicator()</span> - <span>@GetUpperBoundaryDateMin()</span> s.d <span>@GetUpperBoundaryDateMax()</span></h4>

            <div class="d-flex flex-column">
                <h5 class="app-font">Aging Import</h5>
                <span style="margin-left: 2px;">
                    Akumulasi dengan waktu freeze di luar jam kerja @ShiftEnd s.d @ShiftStart
                </span>
                <ImportAgingTabulation Models="@UpperBoundaryModels"
                    IsPageView="@IsPageView" />

                <h5 class="app-font" style="margin-top: 16px;">Achievement SLA Import</h5>
                <span style="margin-left: 2px;">
                    SLA Import adalah @TotalMinutesSlaImport menit
                </span>
                <ImportSlaTabulation Models="@UpperBoundaryModels"
                    IsPageView="@IsPageView" />

                <h5 class="app-font" style="margin-top: 16px;">SLA Win Rate</h5>
                <ImportSlaWinRateTabulation Models="@UpperBoundaryModels"
                    IsPageView="@IsPageView" />
            </div>
        </div>
        <div style="@WeeklyToggleDisplayStyle">
            <h4 class="app-font">Laporan Aging Import <span class="">@CurrentWeekIndicator()</span> - <span>@GetMiddleBoundaryDateMin()</span> s.d <span>@GetMiddleBoundaryDateMax()</span></h4>

            <div class="d-flex flex-column">
                <h5 class="app-font">Aging Import</h5>
                <span style="margin-left: 2px;">
                    Akumulasi dengan waktu freeze di luar jam kerja @ShiftEnd s.d @ShiftStart
                </span>
                <ImportAgingTabulation Models="@MiddleBoundaryModels"
                    IsPageView="@IsPageView" />

                <h5 class="app-font" style="margin-top: 16px;">Achievement SLA Import</h5>
                <span style="margin-left: 2px;">
                    SLA Import adalah @TotalMinutesSlaImport menit
                </span>
                <ImportSlaTabulation Models="@MiddleBoundaryModels"
                    IsPageView="@IsPageView" />

                <h5 class="app-font" style="margin-top: 16px;">SLA Win Rate</h5>
                <ImportSlaWinRateTabulation Models="@MiddleBoundaryModels"
                    IsPageView="@IsPageView" />
            </div>
        </div>
        <div style="@DailyToggleDisplayStyle">
            <h4 class="app-font">Laporan Aging Import <span class="">@TodayIndicator()</span> - <span>@GetLowerBoundaryDate()</span></h4>

            <div class="d-flex flex-column">
                <h5 class="app-font">Aging Import</h5>
                <span style="margin-left: 2px;">
                    Akumulasi dengan waktu freeze di luar jam kerja @ShiftEnd s.d @ShiftStart
                </span>
                <ImportAgingTabulation Models="@LowerBoundaryModels"
                    IsPageView="@IsPageView" />

                <h5 class="app-font" style="margin-top: 16px;">Achievement SLA Import</h5>
                <span style="margin-left: 2px;">
                    SLA Import adalah @TotalMinutesSlaImport menit
                </span>
                <ImportSlaTabulation Models="@LowerBoundaryModels"
                    IsPageView="@IsPageView" />

                <h5 class="app-font" style="margin-top: 16px;">SLA Win Rate</h5>
                <ImportSlaWinRateTabulation Models="@LowerBoundaryModels"
                    IsPageView="@IsPageView" />
            </div>
        </div>
    </div>

</div>
