@inherits RootCauseTabulationStackBase

<div class="d-flex flex-row align-items-top">

    <div class="d-flex flex-column" style="margin-left: 4px; margin-right: 32px;">
        <FluentButton Appearance="@MonthlyToggleAppearance"
            style="width: 100px; margin-bottom: 8px;"
            OnClick="ToggleToMonthlyView">
            Monthly</FluentButton>
        <FluentButton Appearance="@WeeklyToggleAppearance"
            style="width: 100px; margin-bottom: 8px;"
            OnClick="ToggleToWeeklyView">
            Weekly</FluentButton>
        <FluentButton Appearance="@DailyToggleAppearance"
            style="width: 100px; margin-bottom: 8px;"
            OnClick="ToggleToDailyView">
            Daily</FluentButton>

        <FluentCheckbox style="margin-top: 32px;"
            @bind-Value="@IsPageView"
            Label="Page View"/>

        <FluentButton BackgroundColor="crimson"
            Color="white"
            style="width: 100px; margin-top: 8px;"
            OnClick="OpenRootCauseExclusionDialogFilter">
            Exclusion</FluentButton>

    </div>

    <div class="d-flex flex-column w-100">
        <div style="@MonthlyToggleDisplayStyle">
            <h4 class="app-font">Laporan Root Cause <span>@CurrentMonthIndicator()</span> - <span>@GetUpperBoundaryDateMin()</span> s.d <span>@GetUpperBoundaryDateMax()</span></h4>

            @if (!IsBufferLoading)
            {
                <h5 class="app-font">Heatmap Root Cause SBU Jawa Timur</h5>
                <RootCauseTransposeHeatMapChart Models="@UpperBoundaryTransposeModels"/>

                <h5 class="app-font">Qty Root Cause SBU Jawa Timur</h5>
                <RootCauseTabulation Models="@UpperBoundaryModels"
                    IsPageView="@IsPageView"/>

                if (!IsUpperBoundaryEmpty)
                {
                    <h5 class="app-font" style="margin-top: 16px;">Percentage Root Cause SBU Jawa Timur</h5>
                    <div class="centered-chart separate-chart">
                        <div class="w-50" style="">
                            <RootCausePieChart Models="@AssortedUpperBoundaryModels"/>
                        </div>
                    </div>
                }

                @* <div class="d-flex flex-row">
                    <RootCauseHeatMapChart Models="@SortedUpperBoundaryModels"/>
                    <RootCausePieChart Models="@SortedUpperBoundaryModels"/>
                </div>
                <div style="margin-left: 24px;">

                </div> *@
            }
        </div>
        <div style="@WeeklyToggleDisplayStyle">
            <h4 class="app-font">Laporan Root Cause <span class="">@CurrentWeekIndicator()</span> - <span>@GetMiddleBoundaryDateMin()</span> s.d <span>@GetMiddleBoundaryDateMax()</span></h4>

            @if (!IsBufferLoading)
            {
                @* <div class="d-flex flex-row">
                    <RootCauseHeatMapChart Models="@SortedMiddleBoundaryModels"/>
                    <RootCausePieChart Models="@SortedMiddleBoundaryModels"/>
                </div>
                <div style="margin-left: 24px;">
                    <RootCauseTabulation Models="@MiddleBoundaryModels"
                        IsPageView="@IsPageView"/>
                </div> *@
            }
        </div>
        <div style="@DailyToggleDisplayStyle">
            <h4 class="app-font">Laporan Root Cause <span class="">@TodayIndicator()</span> - <span>@GetLowerBoundaryDate()</span></h4>

            @if (!IsBufferLoading)
            {
                @* <div class="d-flex flex-row">
                    <RootCauseHeatMapChart Models="@SortedLowerBoundaryModels"/>
                    <RootCausePieChart Models="@SortedLowerBoundaryModels"/>
                </div>
                <div style="margin-left: 24px;">
                    <RootCauseTabulation Models="@LowerBoundaryModels"
                        IsPageView="@IsPageView"/>
                </div> *@
            }
        </div>
    </div>

</div>
