@inherits VerificationAgingTabulationStackBase

<div class="d-flex flex-row align-items-top w-100">

    <div class="d-flex flex-column" style="margin-left: 4px; margin-right: 32px;">
        <FluentButton Appearance="@MonthlyToggleAppearance"
            style="width: 135px; margin-bottom: 8px;"
            OnClick="ToggleToMonthlyView">
            Monthly</FluentButton>
        <FluentButton Appearance="@WeeklyToggleAppearance"
            style="width: 135px; margin-bottom: 8px;"
            OnClick="ToggleToWeeklyView">
            Weekly</FluentButton>
        <FluentButton Appearance="@DailyToggleAppearance"
            style="width: 135px; margin-bottom: 8px;"
            OnClick="ToggleToDailyView">
            Daily</FluentButton>

        <FluentButton Appearance="Appearance.Accent"
            IconStart="@(new Icons.Filled.Size20.ArrowClockwise())"
            style="width: 135px; margin-top: 24px;"
            OnClick="ReloadDashboardAsync">
            Refresh</FluentButton>

        <FluentButton BackgroundColor="crimson"
            Color="white"
            IconStart="@(new Icons.Filled.Size20.Calendar().WithColor("#ffffff"))"
            style="width: 135px; margin-top: 8px;"
            OnClick="OpenBoundaryFilterAsync">
            Filter</FluentButton>

        <FluentButton BackgroundColor="crimson"
            Color="white"
            IconStart="@(new Icons.Filled.Size20.TableSimpleExclude().WithColor("#ffffff"))"
            style="width: 135px; margin-top: 8px;"
            OnClick="OpenOperatorPacExclusionDialogFilterAsync">
            Pilah</FluentButton>

        <FluentCheckbox style="margin-top: 16px;"
            @bind-Value="@IsPageView"
            Label="Page View"/>

        <FluentButton Appearance="Appearance.Accent"
            style="width: 135px; margin-top: 32px;"
            IconStart="@(new Icons.Filled.Size20.DocumentArrowDown())"
            OnClick="@ExportXlsxAsync">
            Export .xlsx</FluentButton>
    </div>

    <div class="d-flex flex-column w-100">
        <div style="@MonthlyToggleDisplayStyle">
            <h4 class="app-font">Laporan Aging Verifkasi <span>@CurrentMonthIndicator()</span> - <span>@GetUpperBoundaryDateMin()</span> s.d <span>@GetUpperBoundaryDateMax()</span></h4>

            <div class="d-flex flex-row">

            </div>
            <div style="margin-left: 2px; margin-bottom: 2px;">
                Akumulasi dengan waktu freeze di luar jam kerja <span class="SLA-badge">@ShiftEnd</span> s.d <span class="SLA-badge">@ShiftStart</span>
            </div>
            <div class="d-flex flex-row">
                <VerificationAgingTabulation Models="@UpperBoundaryModels"
                    IsPageView="@IsPageView" />
            </div>
        </div>
        <div style="@WeeklyToggleDisplayStyle">
            <h4 class="app-font">Laporan Aging Verifkasi <span class="">@CurrentWeekIndicator()</span> - <span>@GetMiddleBoundaryDateMin()</span> s.d <span>@GetMiddleBoundaryDateMax()</span></h4>

            <div class="d-flex flex-row">

            </div>
            <div style="margin-left: 2px; margin-bottom: 2px;">
                Akumulasi dengan waktu freeze di luar jam kerja <span class="SLA-badge">@ShiftEnd</span> s.d <span class="SLA-badge">@ShiftStart</span>
            </div>
            <div class="d-flex flex-row">
                <VerificationAgingTabulation Models="@MiddleBoundaryModels"
                    IsPageView="@IsPageView" />
            </div>
        </div>
        <div style="@DailyToggleDisplayStyle">
            <h4 class="app-font">Laporan Aging Verifkasi <span class="">@TodayIndicator()</span> - <span>@GetLowerBoundaryDate()</span></h4>

            <div class="d-flex flex-row">

            </div>
            <div style="margin-left: 2px; margin-bottom: 2px;">
                Akumulasi dengan waktu freeze di luar jam kerja <span class="SLA-badge">@ShiftEnd</span> s.d <span class="SLA-badge">@ShiftStart</span>
            </div>
            <div class="d-flex flex-row">
                <VerificationAgingTabulation Models="@LowerBoundaryModels"
                    IsPageView="@IsPageView" />
            </div>
        </div>
    </div>

</div>
